---
title:  "Windows - Wiki"
permalink: /windows/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3">
            <div class="sidebar">
        
                {% include nav-windows.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-6 mb-5">

            <!-- Setup and SO -->
                <h1>Criação de Imagem</h1>

                <p class="lead">
                    Configuração inicial para o Hardware e Sistema Operacional Windows 7/10.
                </p>

                <h2 id="configsetup">Configurações</h2>
                <ul>
                    <li class="mb-2">Armazenamento no modo AHCI;</li>
                    <li class="mb-2">Habilitar virtualização;</li>
                    <li class="mb-2">Desativar Fast Boot;</li>
                    <li class="mb-2">Desativar Secure Boot;</li>
                    <li class="mb-2">Ativar PXE no modo Legacy ou UEFI;</li>
                    <li class="mb-2">Ativar Wake On LAN (WOL).</li>
                </ul>

                <h2 id="uefi">Modo UEFI</h2>
                <p>Quando possível instalar o Windows no modo UEFI.</p>

                <h2 id="admin">Usuário Administrador</h2>
                <p>Criar usuário Administrador <strong>IFPR</strong> e definir senha padrão disponível na <a href="https://docs.google.com/spreadsheets/d/1K7BrCy4tWE0I9W5_Dc5zm_tXNyYtj4ZYFQJLmiljGAE/edit?usp=sharing">planilha&#8599;</a>.</p>

                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Realize as configurações para o SO com a conta de Administrador local ou de rede, a fim de evitar múltiplas autenticações.</div>
                </div>

                <h2 id="wol">Configuração de driver para ativação WOL</h2>
                <ol>
                    <li class="mb-2">Abra o Gerenciador de Dispositivos;</li>
                    <li class="mb-2">Acesse Adaptadores de rede e abra a categoria;</li>
                    <li class="mb-2">Clique com o botão direito no LAN Controller e selecione Propriedades;</li>
                    <li class="mb-2">Abra a guia Gerenciamento de energia;</li>
                    <li class="mb-2">Marque as caixas:</li>
                    <ol>
                        <li class="mb-2">Permitir que este dispositivo acorde o computador;</li>
                        <li class="mb-2">Só permita que um pacote mágico acorde o computador.</li>
                    </ol>
                    <li class="mb-2">Agora, abra a guia Avançado e escolha Energy Efficient Ethernet e Defina essa opção como Desativado;</li>
                    <li class="mb-2">Confirme as alterações clicando em OK.</li>
                </ol>
                
                <h2 id="particao">Partições do SO</h2>
                <p>Defina as partições do computador conforme tabela abaixo:</p>
                <table class="table table-striped table-hover border">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Capacidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nuvem01</td>
                            <td>Mínimo de 10GB</td>
                        </tr>
                        <tr>
                            <td>Windows</td>
                            <td>Restante da capacidade</td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Caso o equipamento possua unidades extras de armazenamento, utilize todo espaço da unidade para partição nuvem01 e/ou nuvem02.</div>
                </div>

                <h2 id="windowsupdate">Windows Update</h2>
                <p>Instale todas as atualizações do Windows.</p>

                <h2 id="drivers">Atualização de drivers</h2>
                <p>Use softwares como <a href="https://www.drivereasy.com/">EasyDriver&#8599;</a>, <a href="https://www.iobit.com/pt/driver-booster.php">Driver Booster&#8599;</a> ou <a href="https://www.drivermax.com/download.htm">DriverMax&#8599;</a> para realizar essa tarefa.</p>

                <h2 id="fastboot">Fast Boot</h2>
                <p>Execute no <code>prompt</code> como Administrador:</p>
                <pre><code>powercfg.exe /hibernate off</code></pre>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Ajuste necessário para o desligamento completo do SO. Aplicável ao Windows 8/10/11.</div>
                </div>
                
                <h2 id="propriedades">Propriedades do Sistema</h2>

                <h3>Aba Proteção do Sistema</h3>
                <ol>
                    <li>Configurar <span class="wiki-arrow">&rarr;</span> Desativar a proteção do sistema.</li>
                </ol>      

                <h2 id="reparo">Reparo automático</h2>
                <h3>Desativar no Windows 7</h3>
                <p>Execute o comando abaixo pelo <code>prompt</code> como Administrador:</p>
                <pre><code>bcdedit /set {default} bootstatuspolicy ignoreallfailures</code></pre>                

                <h3>Desativar no Windows 10</h3>
                <p>Execute o comando abaixo pelo <code>prompt</code> como Administrador:</p>
                <pre><code>bcdedit /set recoveryenabled NO</code></pre>

                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>
                        Ajuste necessário para evitar o reparo automático do SO, o que pode "quebrar" o Windows.
                    </div>
                </div>
                
                <h2 id="defrag">Otimização agendada</h2>
                <p>Desative a desfragmentação agendada para todas as unidades do computador.</p>
                <img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/desfragmentador.png" alt="Desfragmentador">
                <!-- End Setup and SO -->
        
        </main>

        <div class="col-lg-3 d-lg-block">
           <div class="on-page">
            <div class="mb-1 pb-2 border-bottom">
                <strong class="h5">Na página</strong>
            </div>
            <ul class="list-unstyled sidebar-ul">
                <li class="fw-bold">Setup e SO</li>
                <ul class="sidebar-toggler list-unstyled">
                    <li><a href="/windows/#configsetup">Configurações</a></li>
                    <li><a href="/windows/#uefi">Modo UEFI</a></li>
                    <li><a href="/windows/#admin">Usuário Administrador</a></li>
                    <li><a href="/windows/#wol">Configuração de driver para ativação WOL</a></li>
                    <li><a href="/windows/#particao">Partições do SO</a></li>
                    <li><a href="/windows/#windowsupdate">Windows Update</a></li>
                    <li><a href="/windows/#drivers">Atualização de drivers</a></li>
                    <li><a href="/windows/#fastboot">Fast Boot</a></li>
                    <li><a href="/windows/#propriedades">Propriedades do Sistema</a></li>
                    <li><a href="/windows/#reparo">Reparo automático</a></li>
                    <li><a href="/windows/#defrag">Otimização agendada</a></li>
                </ul>
            </ul>
           </div>
        </div>
        
    </div>

</div>

{% include footer.html %}