---
title:  "A página foi para o espaço"
permalink: /404.html
---

{% include header.html %}

    <main class="conteudo-404">
        <div class="ilustracao-404">
            <img src="{{ site.baseurl }}/assets/images/erro-404.svg" alt="Astronauta perdido no espaço">
        </div>
        <section class="introducao-404">
            <h1>Ops, estamos perdidos!</h1>
            <p>Alguém apagou este conteúdo ou ele se perdeu no vazio do espaço.</p>
            <p>Volte para a <a href="{{ site.url }}">página inicial</a>.</p>
        </section>
    </main>
    
{% include footer.html %}