---
title:  "GPO - Wiki"
permalink: /gpo/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-responsivo">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-gpo.html %}
            </menu>
        </aside>
        <article class="conteudo">
            <!--Conteudo Geral-->
            <h1>Políticas para Active Directory</h1>
            <h2 id="adm-local">Administrator Local</h2>
            <p>1 - Criar um grupo global;</p>
            <p>2 - Adicionar usuários que serão administradores;</p>
            <p>3 - Criar uma gpo com nome <code class="inline">adm_local</code>. Use o nome que achar conveniente;</p>
            <p>4 - O caminho da GPO é:</p>
            <img src="../assets/images/pages/adm_local.PNG" alt="ADM Local">
            <p>5 - Com lado direito do mouse sobre a seguna coluna, adicione o grupo criado anteriormente;</p>
            <p>6 - Em propriedades, em "Este grupo é um membro de:" Clique em Adicionar... e 
            no campo Grupo preencha com "administradores".</p>
            <p>Acesse uma máquina cliente do domínio, atualize as políticas(<code class="inline">gpupdate /force</code>) e faça o teste!</p>
            <blockquote class="info">
            Lembrando que todo usuário que incluir neste grupo, terá poderes administrativos somente na máquina local,
            não tendo acesso ao controlador de domínio com esse privilégio.
            </blockquote>

            <h2 id="remoto">Acesso remoto</h2>
            <p>Configurando o acesso remoto:</p>
            <img src="../assets/images/pages/remoto.png" alt="Acesso remoto">

            <h2 id="cert">Certificado</h2>
            <p>Disponibilizando certificado para os computadores clientes:</p>
            <img src="../assets/images/pages/certificado.png" alt="Certificado">

            <h2 id="login">Login automático</h2>
            <p>Login automático do Windows:</p>
            <img src="../assets/images/pages/login.png" alt="Login automático">
            <p>Detalhes de <code class="inline">AutoAdminLogon</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Atualizar
                    Hive: HKEY_LOCAL_MACHINE
                    caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
                    Nome do valor: AutoAdminLogon
                    Tipo de valor: REG_SZ
                    Dados de valor: 1
                    </code>
                </pre>                
            </div>
            <p>Detalhes de <code class="inline">DefaultDomainName</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Atualizar
                    Hive: HKEY_LOCAL_MACHINE
                    caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
                    Nome do valor: DefaultDomainName
                    Tipo de valor: REG_SZ
                    Dados de valor: ensino.umuarama.local
                    </code>
                </pre>
            </div>
            <p>Detalhes de <code class="inline">DefaultPassword</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Atualizar
                    Hive: HKEY_LOCAL_MACHINE
                    caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
                    Nome do valor: DefaultPassword
                    Tipo de valor: REG_SZ
                    Dados de valor: aluno123
                    </code>
                </pre>
            </div>                
            <p>Detalhes de <code class="inline">DefaultUserName</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Atualizar
                    Hive: HKEY_LOCAL_MACHINE
                    caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
                    Nome do valor: DefaultUserName
                    Tipo de valor: REG_SZ
                    Dados de valor: aluno
                    </code>
                </pre>
            </div>

            <h2 id="proxy">Proxy</h2>
            <p>Configurando proxy nos computadores clientes:</p>
            <img src="../assets/images/pages/proxy.png" alt="Configuração de proxy">
            <p>Detalhes de <code class="inline">ProxyEnable</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Substituir
                    Caminho da Chave: Software\Microsoft\Windows\CurrentVersion\Internet Settings
                    Nome do valor: ProxyEnable
                    Tipo de valor: REG_DWORD
                    Dados de valor: 00000001
                    Base: Hexadecimal
                    </code>
                </pre>
            </div>
            <p>Detalhes de <code class="inline">ProxyOverride</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Substituir
                    Caminho da Chave: Software\Microsoft\Windows\CurrentVersion\Internet Settings
                    Nome do valor: ProxyOverride
                    Tipo de valor: REG_SZ
                    Dados de valor: 192.168.*;&lt;local&gt;
                    </code>
                </pre>
            </div>
            <p>Detalhes de <code class="inline">ProxyServer</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Substituir
                    Caminho da Chave: Software\Microsoft\Windows\CurrentVersion\Internet Settings
                    Nome do valor: ProxyServer
                    Tipo de valor: REG_SZ
                    Dados de valor: 192.168.0.6:3128
                    </code>
                </pre>
            </div>
            <p>Essa regra é para a página inicial do Internet Explorer. Detalhes de <code class="inline">Start Page</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Ação: Substituir
                    Caminho da Chave: Software\Microsoft\Internet Explorer\Main
                    Nome do valor: Start Page
                    Tipo de valor: REG_SZ
                    Dados de valor: https://umuarama.ifpr.edu.br
                    </code>
                </pre>
            </div>

            <h2 id="server-ad">Servidor AD</h2>
            <p>Caso o computador não esteja enxergando o servidor AD:</p>
            <img src="../assets/images/pages/acessar-ad.png" alt="Acessar AD">
            <p>Detalhes de <code class="inline">Nome do valor</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    #exemplo
                    \\192.168.0.11
                    </code>
                </pre>                
            </div>
            <p>Detalhes de <code class="inline">Valor</code>:</p>
            <div class="highlight">
                <pre>
                    <code>
                    RequireMutualAuthentication=0,RequireIntegrity=0,RequirePrivacy=0
                    </code>
                </pre>                
            </div>
            <!--Fim conteudo Geral-->          

            <!--Conteudo Navegadores-->
            <h2 id="conf-chrome">Configuração do Google Chrome</h2>
            <p>Baixe o <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Modelo Administrativo</a> e adicione ao seu Editor de Gerenciamento.</p>
            <p>Configuração do site da página inicial.</p>
            <img src="../assets/images/pages/conf-chrome.PNG" alt="Configuração do Google Chrome">

            <h2 id="default-chrome">Google Chrome como navegador padrão</h2>
            <img src="../assets/images/pages/default-chrome.PNG" alt="Google Chrome como navegador padrão">

            <h2 id="update-chrome">Desativar atualização do Google Chrome</h2>
            <p>Crie um <code class="inline">BAT</code> para rodar na inicialização do sistema contendo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    @echo off
                    rem Google Update = gupdate
                    sc config "gupdate" start= disabled
                    rem Google Update = gupdatem
                    sc config "gupdatem" start= disabled
                    exit
                    </code>
                </pre>
            </div>
            <p>Caminho da regra:</p>
            <img src="../assets/images/pages/update.PNG" alt="Atualização do Chrome">

            <h2 id="conf-firefox">Configuração do Firefox</h2>
            <p>Baixe o <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Modelo Administrativo</a> e adicione ao seu Editor de Gerenciamento.</p>
            <img src="../assets/images/pages/conf-firefox.PNG" alt="Página inicial do Firefox">

            <h2 id="default-firefox">Mensagem de navegador padrão</h2>
            <img src="../assets/images/pages/msg-firefox.png" alt="Pergunta de navedor padrão">

            <h2 id="enable-roots">Enable Roots</h2>
            <p>Essa regra habilita a leitura do certificado do pfSense.</p>
            <p>Caminho da regra:</p>
            <img src="../assets/images/pages/firefox-enable-roots.PNG" alt="Enable Roots">
            <p>Baixe o arquivo.</p>

            <h2 id="update-firefox">Atualização do Firefox</h2>
            <p>Desabilita a atualização do Firefox em segundo plano e automático.</p>
            <p>Crie um <code class="inline">BAT</code> para rodar na inicialização do sistema contendo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    @echo off
                    rem Mozila Maintenance = MozillaMaintenance
                    sc config "MozillaMaintenance" start= disabled
                    exit
                    </code>
                </pre>
            </div>
            <p>Caminho da regra:</p>
            <img src="../assets/images/pages/update.PNG" alt="Atualização do Firefox">
            <!--Fim conteudo Navegadores-->
        </article>
    </main>
    {% include footer.html %}
</body>
</html>