---
title:  "Wiki - Laboratório de Informática"
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <main class="conteudo-home">
        <section class="introducao">
            <h1>Wiki Lab</h1>
            <p>
            Bem-vindo ao wiki dos Laboratórios de Informática!
            </p>
            <p>
            Este wiki orienta a criação de imagem com Windows (7 e 10), contém informações de ajustes, configuração dos Softwares que compõe o Sistema Operacional e ajustes após a clonagem.
            </p>
            <p>
            O wiki continua permanentemente em construção.
            </p>
            <p>Tem alguma crítica ou sugestão? Escreva um e-mail para <a href="mailto:cremilton@outlook.com">cremilton@outlook.com</a>.</p>
        </section>
        <div class="ilustracao">
            <img src="/assets/images/cloud.svg" alt="Ilustração de servidores">
        </div>
    </main>
    {% include footer.html %}
</body>
</html>