---
title:  "Wiki - Laboratório de Informática"
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <main class="conteudo-home">
        <section class="introducao">
            <h1>Wiki Lab</h1>
            <p>
            Este wiki orienta a criação de imagem com Windows (7 e 10), além de conter informações sobre:
            </p>
            <ul>
                <li>Configuração do Sistema Operacional Windows;</li>
                <li>Instalação e Configuaração Softwares;</li>
                <li>Configuração após a clonagem;</li>
                <li>Uso de ferramentas; e</li>
                <li>Dicas de suporte.</li>
            </ul>
            <p>
            Este material está em constante atualização.
            </p>
            <p>Tem alguma crítica ou sugestão? Escreva um e-mail para <a href="mailto:cremilton@outlook.com">cremilton@outlook.com</a>.</p>
        </section>
        <div class="ilustracao">
            <img src="assets/images/nuvem.svg" alt="Ilustração de servidores">
        </div>
    </main>
    {% include footer.html %}
</body>
</html>