---
title:  "Wiki - Laboratórios de Informática"
---

{% include header.html %}

<div class="container col-xxl-8 px-4 py-5 mt-4 mb-lg-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-2">
      <div class="col-md-12 col-lg-6">
        <img src="{{ site.baseurl }}/assets/images/nuvem.svg" class="d-block mx-lg-auto img-fluid" alt="Cloud Wiki" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Wiki Lab</h1>
        <p class="lead">Este wiki possui detalhes sobre configuração do Sistema Operacional Windows (7, 10 e 11) e instalação/cofiguração de softwares para utilização nos Laboratórios de Informática do <a href="https://ifpr.edu.br/umuarama/">IFPR Campus Umuarama&rarr;</a>.</p>
        <p>Tópicos abordados:</p>
        <ul>
            <li class="mb-2">Configuração do Sistema Operacional Windows (7, 10 e 11);</li>
            <li class="mb-2">Instalação e Configuração de Softwares;</li>
            <li class="mb-2">Ajustes pós clonagem; e</li>
            <li class="mb-2">Mais algumas coisas.</li>
        </ul>
        <div class="d-md-flex justify-content-md-start">
          <a href="{{ site.url }}/windows/" class="btn btn-primary btn-lg px-4 me-md-2">Ler wiki</a>
        </div>
        <p class="mt-3">Achou algum erro? Surgiu alguma dúvida? Escreva para <a href="mailto:cremilton@outlook.com">cremilton@outlook.com</a>.</p>
      </div>
    </div>
</div>

{% include footer.html %}