---
title:  "Softwares - Wiki"
permalink: /softwares/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-mobile">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-softwares.html %}
            </menu>
        </aside>
        <article class="conteudo">

            <h1>Instalações de Programas</h1>

            <h2 id="chrome">Chrome</h2>
            
            <h3>Silent install</h3>
            <div class="highlight">
                <pre>
                    <code>
                    sc config "gupdate" start= auto
                    sc config "gupdatem" start= auto
                    sc config "GoogleChromeElevationService" start= auto

                    "ChromeStandaloneSetup64.exe" /silent /install
                    IF %ERRORLEVEL% EQU 0 echo CHROME instalado com sucesso                    
                    </code>
                </pre>
            </div>

            <h3>Atalhos</h3>
            <div class="highlight">
                <pre>
                    <code>
                    del "C:\Users\aluno\Desktop\Google Chrome.lnk"
                    del "C:\Users\Public\Desktop\Google Chrome.lnk"               
                    </code>
                </pre>
            </div>

            <h2 id="composer">Composer</h2>

            <h2 id="firefox">Firefox</h2>
            
            <h3>Silent install</h3>
            <div class="highlight">
                <pre>
                    <code>
                    "Firefox Setup 97.0.exe" /s
                    IF %ERRORLEVEL% EQU 0 echo FIREFOX instalado com sucesso
                    </code>
                </pre>
            </div>

            <h3>Silent uninstall</h3>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\Mozilla Firefox\uninstall\helper.exe" /S
                    </code>
                </pre>
            </div>

            <h3>Atalhos</h3>
            <div class="highlight">
                <pre>
                    <code>
                    del "C:\Users\aluno\Desktop\Firefox.lnk"
                    del "C:\Users\Public\Desktop\Firefox.lnk"                    
                    </code>
                </pre>
            </div>


            <h2 id="fluxovento">Fluxovento</h2>
            <h3>Silent install</h3>
            <div class="highlight">
                <pre>
                    <code>
                    "fluxoventosetup.exe" /v/qn
                    IF %ERRORLEVEL% EQU 0 echo FLUXOVENTO instalado com sucesso 
                    </code>
                </pre>
            </div>

            <h2 id="git">Git</h2>
            <h3>Silent install</h3>
            <div class="highlight">
                <pre>
                    <code>
                    "Git-2.35.1.2-64-bit.exe" /VERYSILENT /NORESTART /COMPONENTS="icons,icons\desktop,ext,ext\shellhere,ext\guihere,gitlfs,assoc,assoc_sh"
                    </code>
                </pre>
            </div>

            <h3>Silent uninstall</h3>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Git\unins000.exe" /VERYSILENT /NORESTART
                    "%ProgramFiles%\Git\unins000.exe" /VERYSILENT /NORESTART                    
                    </code>
                </pre>
            </div>

            <h3>Setando Proxy</h3>
            <div class="highlight">
                <pre>
                    <code>
                    git config --global http.proxy http://192.168.0.6:3128
                    git config --global http.https://domain.com.sslVerify false                        
                    </code>
                </pre>
            </div>

            <h2 id="java">Java JDK</h2>
            <h3>Silent install</h3>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /i "%SOFTWARES%\jdk-17_windows-x64_bin.msi" /qn /norestart
                    </code>
                </pre>
            </div>

            <h3>Silent uninstall</h3>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /x {64A3A4F4-B792-11D6-A78A-00B0D0180191} /qn /norestart
                    rd "C:\Program Files\Java\jdk1.8.0_191" /s /q                    
                    </code>
                </pre>
            </div>

            <h2 id="libre">LibreOffice</h2>

            <h2 id="netbeans">NetBeans</h2>

            <h2 id="nodejs">NodeJS</h2>

            <h2 id="git">Portugol</h2>

            <h2 id="git">Veyon</h2>

            <h2 id="git">Visual G</h2>

            <h2 id="git">VLC media player</h2>

            <h2 id="git">Visual Studio Code</h2>

            <h2 id="xampp">XAMPP</h2>

        </article>
    </main>
    {% include footer.html %}
</body>
</html>