---
title:  "Suporte - Wiki"
permalink: /suporte/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-mobile">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-suporte.html %}
            </menu>
        </aside>
        <article class="conteudo">
            <h1 id="windows">Tutoriais de suporte</h1>

            <!--Conteudo windows-->
            <h2 id="windows">Windows</h2>

            <h3 id="usertemp">Usuário temporário</h3>
            <p>Com uma conta de Administrador, faça os procedimentos a seguir.</p>
            <p>1 - Abra o regedit e navegue até:</p>
            <div class="highlight">
                <pre>
                    <code>
                    HKEY_LOCAL_MACHINE -&gt;SOFTWARE-&gt;Microsoft-&gt;Windows NT-&gt;CurrentVersion-&gt;ProfileList
                    </code>
                </pre>
            </div>
            <p>2 - Selecione as que tem o nome bem extenso, por exemplo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    S-1-5-21-3402367454-1173906501-2481948151-1226
                    </code>
                </pre>                
            </div>
            <p>3 - Encontre a pasta que pertence ao usuário problemático e exclua.</p>
            <p>4 - Agora, acesse o diretório de usuários:</p>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users
                    </code>
                </pre>
            </div>
            <p>5 - E renomeie a pasta do usuário problemático, por exemplo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    atual: fulano		
                    renomeado: fulano.old
                    </code>
                </pre>                
            </div>
            <p>6 - Depois desses passos, reinicie o Windows e crie uma nova conta para usuário e copie os arquivos da pasta do usuário antigo para a nova.</p>

            <h3 id="pen">Removendo vírus de Pen Drive</h3>
            <p>Abra o prompt de comandos do Windows com permissões de Administrador e acesse o Pen Drive digitando a letra da unidade e dois pontos como <code class="inline">f:</code> e tecle enter, e visualizará algo como:</p>
            <div class="highlight">
                <pre>
                    <code>
                    f:\&gt;
                    </code>
                </pre>                
            </div>
            <p>Depois de acessado o Pen Drive, execute o comando abaixo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    attrib -r -a -s -h /s /d *.*
                    </code>
                </pre>
            </div>
            <p>Entenda melhor o <a href="https://technet.microsoft.com/pt-br/library/bb490868.aspx">Attrib</a>.</p>
            <p>Depois que o processo terminar, execute o comando abaixo para excluir os atalhos:</p>
            <div class="highlight">
                <pre>
                    <code>
                    del *.lnk
                    </code>
                </pre>
            </div>

            <h3 id="servicos">Gerenciando serviços em massa</h3>
            <p>Alguns exemplos de uso:</p>
            <div class="highlight">
                <pre>
                    <code>
                    auto: Automatico
                    disabled: Desativado
                    delayed-auto: Automatico com atraso na inicializacao
        
                    rem OCS Iventory = OCS Inventory Service
                    sc config "OCS Inventory Service" start= delayed-auto
                    </code>
                </pre>
            </div>

            <h3 id="label">Alterando nome do SO</h3>
            <div class="highlight">
                <pre>
                    <code>
                        bcdedit /set Description "Windows 10"

                        bcdedit /set Description "Informatica"
                    </code>
                </pre>
            </div>
            <!--Fim conteudo windows-->

            <!--Conteudo Ubuntu-->
            <h2>Ubuntu</h2>

            <h3 id="errordpkg">Sub-process /usr/bin/dpkg returned an error code (1)</h3>
            <p>Ocorre quando há interrupção no processo de instalação de um pacote.</p>
            <p>O solução abaixo se aplica ao Java.</p>
            <div class="highlight">
                <pre>
                    <code>
                    sudo rm -r /var/lib/dpkg/info/oracle*
                    sudo rm -r /var/cache/apt/archives/oracle*
                    </code>
                </pre>
            </div>
            <blockquote class="info">
            O mesmo procedimento se aplica a outros pacotes, quando problema é semelhante!
            </blockquote>

            <h3 id="boot-repair">Boot Repair</h3>
            <p>Usado para reparar o grub.</p>
            <div class="highlight">
                <pre>
                    <code>
                    sudo add-apt-repository ppa:yannubuntu/boot-repair
                    sudo apt-get update
                    sudo apt-get install boot-repair
                    </code>
                </pre>
            </div>
            <p>Se após o processo do Boot Repair o problema persistir, execute o comando abaixo no Windows 10:</p>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set {bootmgr} path \EFI\ubuntu\grubx64.efi
                    </code>
                </pre>
            </div>
            <p>Reinicie!</p>
            <!--Fim conteudo Ubuntu-->             
        </article>
    </main>
    {% include footer.html %}
</body>
</html>