---
title:  "Suporte - Wiki"
permalink: /suporte/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-mobile">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-suporte.html %}
            </menu>
        </aside>
        <article class="conteudo">
            <!--Conteudo windows-->
            <h1 id="windows">Windows</h1>
            <h2 id="usertemp">Usuário temporário</h2>
            <p>Com uma conta de Administrador, faça os procedimentos a seguir.</p>
            <p>1 - Abra o regedit e navegue até:</p>
            <div class="highlight">
                <pre>
                    <code>
                    HKEY_LOCAL_MACHINE -&gt;SOFTWARE-&gt;Microsoft-&gt;Windows NT-&gt;CurrentVersion-&gt;ProfileList
                    </code>
                </pre>
            </div>
            <p>2 - Selecione as que tem o nome bem extenso, por exemplo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    S-1-5-21-3402367454-1173906501-2481948151-1226
                    </code>
                </pre>                
            </div>
            <p>3 - Encontre a pasta que pertence ao usuário problemático e exclua.</p>
            <p>4 - Agora, acesse o diretório de usuários:</p>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users
                    </code>
                </pre>
            </div>
            <p>5 - E renomeie a pasta do usuário problemático, por exemplo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    atual: fulano		
                    renomeado: fulano.old
                    </code>
                </pre>                
            </div>
            <p>6 - Depois desses passos, reinicie o Windows.</p>
            <p>7 - Recrie a conta do usuário e copie os arquivos do usuário antigo para a nova conta.</p>
            <p>Com isso, você tem a mesma conta de usuário funcionando sem problemas.</p>

            <h2 id="pen">Removendo vírus de Pen Drive</h2>
            <p>Abra o prompt de comandos do Windows com permissões de Administrador e acesse o Pen Drive digitando a letra da unidade e dois pontos como <code class="inline">f:</code> e tecle enter, e visualizará algo como:</p>
            <div class="highlight">
                <pre>
                    <code>
                    f:\&gt;
                    </code>
                </pre>                
            </div>
            <p>Depois de acessado o Pen Drive, execute o comando abaixo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    attrib -r -a -s -h /s /d *.*
                    </code>
                </pre>
            </div>
            <p>Entenda melhor o <a href="https://technet.microsoft.com/pt-br/library/bb490868.aspx">Attrib</a>.</p>
            <p>Depois que o processo terminar, execute o comando abaixo para excluir os atalhos:</p>
            <div class="highlight">
                <pre>
                    <code>
                    del *.lnk
                    </code>
                </pre>
            </div>

            <h2 id="servicos">Desativando serviços via cmd</h2>
            <p>Alguns exemplos de uso:</p>
            <div class="highlight">
                <pre>
                    <code>
                    auto: automático
                    disabled: Desativado
                    delayed-auto: Automático com atraso na inicialização
        
                    rem Windows Update = wuauserv
                    sc config "wuauserv" start= disabled
                    rem Google Update = gupdate
                    sc config "gupdate" start= disabled
                    rem Google Update = gupdatem
                    sc config "gupdatem" start= disabled
                    rem Google Chrome Elevation Service = GoogleChromeElevationService
                    sc config "GoogleChromeElevationService" start= disabled
                    rem Backup do Windows 10 = SDRSVC
                    sc config "SDRSVC" start= disabled
                    rem OCS Iventory = OCS Inventory Service
                    sc config "OCS Inventory Service" start= delayed-auto
                    rem Mozila Maintenance = MozillaMaintenance
                    sc config "MozillaMaintenance" start= disabled
                    </code>
                </pre>
            </div>
            <!--Fim conteudo windows-->

            <!--Conteudo Ubuntu-->
            <h2>Ubuntu</h2>
            <h3 id="errordpkg">Sub-process /usr/bin/dpkg returned an error code (1)</h3>
            <p>Ocorre quando tem interrupção na instalação de um programa. A solução abaixo é utilizado quando o erro e ocasionado pelo Java.</p>
            <div class="highlight">
                <pre>
                    <code>
                    sudo rm -r /var/lib/dpkg/info/oracle*
                    sudo rm -r /var/cache/apt/archives/oracle*
                    </code>
                </pre>
            </div>
            <blockquote class="info">
            O mesmo procedimento se aplica a outros pacotes, quando problema é o mesmo!
            </blockquote>
            <h3 id="openusb">Abrindo dispositivo USB na VM</h3>
            <p>Adicione o usuário ao grupo <code class="inline">vboxusers</code>.</p>
            <div class="highlight">
                <pre>
                    <code>
                    sudo usermod -a -G vboxusers NOMEUSUARIO
                    </code>
                </pre>
            </div>
            <p>Após executar o comando acima, reinicie.</p>

            <h3 id="boot-repair">Boot Repair</h3>
            <p>Usamos para reparar o grub de forma fácil.</p>
            <div class="highlight">
                <pre>
                    <code>
                    sudo add-apt-repository ppa:yannubuntu/boot-repair
                    sudo apt-get update
                    sudo apt-get install boot-repair
                    </code>
                </pre>                
            </div>
            <p>Se após usar o Boot-repair o problema persistir, execute o comando abaixo no Windows 8/10, pelo cmd:</p>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set {bootmgr} path \EFI\ubuntu\shimx64.efi
                    </code>
                </pre>                
            </div>
            <p>Reinicie para testar!</p>
            
            <p>Caso seja apresentado o erro <code class="inline">Failed to open \EFI\BOOT\grubx64.efi...</code>, use um live cd para executar o comando abaixo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    efibootmgr --create --label Ubuntu --disk /dev/sda1 --loader "\EFI\ubuntu\grubx64.efi"
                    </code>
                </pre>
            </div>                
            <p>Reinicie para testar!</p>
            <!--Fim conteudo Ubuntu-->

            <!--Conteudo data show-->
            <h2>Data Show</h2>
            <blockquote class="info">
                Os passos abaixo se aplica ao data show MEC Urmet Daruma.
            </blockquote>
            <h3 id="lampada">A lâmpada não liga/funciona</h3>
            <p>Com um clips de papel deformado, clique uma vez no orifício entre as palavras lamp e temp para que a lâmpada comece a projetar.</p>

            <p>Altere ou confirme as configurações abaixo:</p>

            <p>1 - Menu &gt; Avançado &gt; Modo de espera &gt; Ativar - reinicie;</p>

            <p>2 - Menu &gt; Avançado &gt; USB Type &gt; LINK 21L;</p>

            <p>3 - Desligue e ligue novamente.</p>

            <p>Pronto.</p>
            <!--Fim conteudo data show-->

            <!--Conteudo rede-->
            <h2>Rede</h2>
            <h3 id="hostname">Descobrindo o hostname pelo IP</h3>
            <p>No Ubuntu:</p>
            <p>Tenha o <code>samba</code> instalado.</p>
            <div class="highlight">
                <pre>
                    <code>
                    nmblookup -A IP_DESTINO
                    </code>
                </pre>
            </div>
            <p>No Windows:</p>
            <div class="highlight">
                <pre>
                    <code>
                    nbtstat -a IP_DESTINO
                    </code>
                </pre>
            </div>
            <!--Fim conteudo rede-->                
        </article>
    </main>
    {% include footer.html %}
</body>
</html>