---
title:  "Windows - Wiki"
permalink: /windows/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-mobile">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-windows.html %}
            </menu>
        </aside>
        <article class="conteudo">
            <h1>Imagem Windows</h1>

            <!--Conteudo instalacao-->
            <h2>Instalação</h2>
            <h3 id="particao">Partições do SO&nbsp;<span class="yes">All lab</span></h3>
            <table>
                <tr>
                    <th>Descrição</th>
                    <th>Capacidade</th>
                </tr>
                <tr>
                    <td>Linux Ubuntu</td>
                    <td>18GB</td>
                </tr>
                <tr>
                    <td>Linux Ubuntu Swap</td>
                    <td>2GB</td>
                </tr>
                <tr>
                    <td>Developer</td>
                    <td>10GB</td>
                </tr>
                <tr>
                    <td>Windows Informática</td>
                    <td>100GB</td>
                </tr>
                <tr>
                    <td>Windows Default</td>
                    <td>Restante da capacidade</td>
                </tr>
            </table>

            <blockquote class="info">
            As configurações se aplicam ao Windows 7 Professional e Windows 10 Pro, ambos 64bits.
            </blockquote>

            <h3 id="dominio">Nome e grupo&nbsp;<span class="yes">All lab</span></h3>
            <p>É necessário configurar o computador no domínio, conforme informações abaixo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    DNS=192.168.0.11
                    
                    #SO WINDOWS 10 - default
                    NomePC: lab1pc01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab2pc01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab3pc01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab4pc01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab5pc01
                    Domínio: ensino.umuarama


                    #SO Windows 10 - informatica
                    NomePC: lab1pc01-info
                    Domínio: ensino.umuarama
                    
                    NomePC: lab2pc01-info
                    Domínio: ensino.umuarama
                    
                    NomePC: lab3pc01-info
                    Domínio: ensino.umuarama
                    
                    NomePC: lab4pc01-info
                    Domínio: ensino.umuarama
                    
                    NomePC: lab5pc01-info
                    Domínio: ensino.umuarama
                    </code>
                </pre>                
            </div>

            <h3 id="admin">Usuário administrador&nbsp;<span class="yes">All lab</span></h3>
            <p>Após a instalação do SO, crie o usuário administrador <b>IFPR</b> e defina a senha padrão disponível <a href="https://goo.gl/A3129L">planilha</a>.</p>
            <!--Fim conteudo instalacao-->

            <!--Conteudo configuracoes-->
            <h2>Configurações</h2>

            <blockquote class="info">
            Se o computador for novo, verifique se o armazenamento está no modo AHCI, habilite suporte a virtualização e caso esteja dando erro em algum boot, ajuste as configurações de Secure Boot.
            </blockquote>

            <h3 id="energia">Opções de energia&nbsp;<span class="yes">All lab</span></h3>
            <p>Alterar as opções de energia para nunca bloquear a tela.</p>
            <img src="../assets/images/pages/energia.png" alt="Opções de energia">

            <h3 id="wallpaper">Definindo papel de parede padrão IFPR&nbsp;<span class="yes">All lab</span></h3>
            <p>Baixe o modelo de <a href="https://drive.google.com/drive/folders/1mFNMKCBx6tvJaPfzSgax-0t9ZrwJIsPn?usp=sharing">papel de parede</a>.</p>
            <p>Nos LABs o papel de parede é definida pela GPO.</p>

            <h3 id="drivers">Atualização de drivers&nbsp;<span class="yes">All lab</span></h3>
            <p>Use softwares como <a href="https://www.drivereasy.com/">EasyDriver</a> ou <a href="https://www.drivermax.com/download.htm">DriverMax</a> para realizar as atualizações.</p>
            
            <h3 id="navegador">Navegadores&nbsp;<span class="yes">All lab</span></h3>
            <p>Deixe página inicial para abrir o portal de Umuarama: <b>https://umuarama.ifpr.edu.br</b>. Nos LABs a configuração é definida pela GPO.</p>
            
            <h3 id="proxy">Configuração de proxy&nbsp;<span class="yes">All lab</span></h3>
            <div class="highlight">
                <pre>
                    <code>
                    192.168.0.6:3128
                    </code>
                </pre>
            </div>
            <img src="../assets/images/pages/proxy.png" alt="Proxy">
            <p>Nos LABs do IFPR, a configuração é definida pela GPO.</p>
            
            <h3 id="gerenciador">Gerenciador de Tarefas&nbsp;<span class="yes">All lab</span></h3>
            <p>Desative pelo <code class="inline">gpedit.msc</code>. Nos LABs do IFPR, a configuração é definida pela GPO.</p>

            <h3 id="startwin7">Otimize a inicialização&nbsp;<span class="yes">All lab</span></h3>
            <img src="../assets/images/pages/msconfig.png" alt="msconfig">
            
            <h3 id="senhas">Senhas&nbsp;<span class="yes">All lab</span></h3>
            <p>Coloque um <b>txt</b> na área de trabalho com as senhas, caso alguma aplicação necessite.</p>

            <h3 id="reparo">Reparo automático&nbsp;<span class="yes">All lab</span></h3>

            <h4>Desativar no Windows 7</h4>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set {default} bootstatuspolicy ignoreallfailures
                    </code>
                </pre>                
            </div>

            <h4>Desativar no Windows 10</h4>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set recoveryenabled NO
                    </code>
                </pre>                
            </div>

            <blockquote class="info">Configuração para evitar o reparo automático do SO.</blockquote>

            <h3 id="servicos">Serviços&nbsp;<span class="yes">All lab</span></h3>
            <p>Altere a inicialização dos serviços:</p>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Configuração</th>
                </tr>
                <tr>
                    <td>Windows Defender ou Windows Defender Firewall</td>
                    <td>Automático via GPO</td>
                </tr>
                <tr>
                    <td>Windows Update</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Backup do Windows</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Notícias e Interesses</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Desfragmentador ou Otimizador de Discos/Unidades</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>SuperFetch ou SysMain</td>
                    <td>Manual via GPO</td>
                </tr>
                <tr>
                    <td>Windows Search</td>
                    <td>Manual via GPO</td>
                </tr>
                <tr>
                    <td>OCS Iventory</td>
                    <td>Defina como = Atraso na inicialização</td>
                </tr>
            </table>

            <h4>Gerenciando serviços pelo prompt de comando</h4>
            <div class="highlight">
                <pre>
                    <code>
                    wuauserv => servico a ser desativado
                    sc config "wuauserv" start= disabled
                    </code>
                </pre>
            </div>              
                       
            <h2>Mais configurações para o Windows 10</h2>

            <h3 id="sistema">Sistema</h3>
            <h4>Notificações e ações</h4>
                <ol>
                    <li><b>Desativar</b> tudo</li>
                </ol>

            <h4>Energia e suspensão</h4>
                <ol>
                    <li>Tela &rarr; Quando conectado, desligar após &rarr; <b>Nunca</b></li>
                    <li>Suspender &rarr; Quando conectado, o computador será suspenso após &rarr; <b>Nunca</b></li>
                    <li>Desempenho e Energia &rarr; Modo de energia &rarr; <b>Melhor Desempenho</b></li>
                </ol>

            <h3 id="tema">Personalização</h3>
            <h4>Cores</h4>
                <ol>
                    <li>Efeitos de transparência &rarr; <b>Desativado</b></li>
                </ol>
            <h4>Tela de bloqueio</h4>
                <ol>
                    <li>Tela de Fundo &rarr; <b>Imagem</b></li>
                    <li>Receba dados interessantes, dicas e muito mais... &rarr; <b>Desativado</b></li>
                    <li>Mostrar a imagem da tela de fundo da tela de bloqueio do Windows... &rarr; <b>Ativado</b></li>
                </ol>
            <h4>Iniciar</h4>
                <ol>
                    <li>Mostrar lista de aplicativos no menu Iniciar &rarr; <b>Ativado</b></li>
                    <li>Todas as outras opções &rarr; <b>Desativadas</b></li>
                    <li>Escolher quais pastas são exibidas em Iniciar</li>
                    <ol>
                        <li>Configurações &rarr; <b>Ativado</b></li>
                        <li>Pasta pessoal &rarr; <b>Ativado</b></li>
                        <li>Todas as outras opções &rarr; <b>Desativadas</b></li>
                    </ol>                
                </ol>
            <h4>Barra de Tarefas</h4>
                <ol>
                    <li>Bloquear a barra de Tarefas &rarr; <b>Ativado</b></li>
                    <li>Substituir Prompt de Comando... &rarr; <b>Ativado</b></li>
                    <li>Todas as outras opções &rarr; <b>Desativadas</b></li>
                </ol>

            <h3 id="recursos">Aplicativos e recursos</h3>
            <h4>Aplicativos e recursos</h4>
            <p>Remova todos os aplicativos desnecessários utilizando <a href="https://www.oo-software.com/en/ooappbuster">O&O AppBuster</a>.</p>

            <h4>Inicialização</h4>
                <ol>
                    <li>Desativar inicializações <b>desnecessárias</b></li>
                </ol>


            <h3 id="jogos">Jogos</h3>
            <h4>Xbox Game Bar</h4>
                <ol>
                    <li>Habilite a Xbox Game Bar... &rarr; <b>Desativado</b></li>
                </ol>
            <h4>Modo de Jogo</h4>
                <ol>
                    <li>Modo de Jogo &rarr; <b>Desativado</b></li>
                </ol>

            <h3 id="privacidade">Privacidade</h3>
            <h4>Geral</h4>
                <ol>
                    <li>Permitir que o Windows controle a abertura de aplicativos... &rarr; <b>Ativado</b></li>
                    <li><b>Desativar</b> as demais opções</li>
                </ol>
            <h4>Histórico de atividades</h4>
                <ol>
                    <li><b>Tudo Desativado</b></li>
                </ol>
            <h4>Aplicativos em segundo plano</h4>
                <ol>
                    <li>Permitir a execução de aplicativos em segundo plano &rarr; <b>Desativado</b></li>
                </ol>

            <h3 id="fastboot">Fast Boot</h3>
            <p>Esse ajuste é necessário para garantir o desligamento completo do computador.</p>
            <div class="highlight">
                <pre>
                    <code>
                    powercfg.exe /hibernate off
                    </code>
                </pre>                                
            </div>
            
            <h3 id="propriedades">Propriedades do Sistema</h3>
            <h4>Aba Avançado</h4>
            <ol>
                <li>Desempenho &rarr; Configurações &rarr; Efeitos Visuais &rarr; <b>Personalizar</b></li>
                <ol>
                    <li>Mostrar miniaturas em vez de ícones &rarr; Marcar caixa</li>
                    <li>Mostrar sombras sob sob janelas &rarr; Marcar caixa</li>
                    <li>Mostrar sombras sob o ponteiro do mouse &rarr; Marcar caixa</li>
                    <li>Usar fontes de tela com cantos arredondados &rarr; Marcar caixa</li>
                    <li>Usar sombras subjacentes para rótulos de ícones... &rarr; Marcar caixa</li>
                    <li>Desmarcar todas as caixas de outras opções</li>
                </ol>
            </ol>

            <h3 id="opcoespastas">Opções de pastas</h3>
            <img src="../assets/images/pages/opcoes-de-pastas.png" alt="Oções de pastas">
      
            <!--Fim conteudo configuracoes-->

            <!--Conteudo aplicacoes-->
            <h2>Aplicações</h2>

            <h3 id="zip">7-zip&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.7-zip.org/download.html">7-zip</a>.</p>
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "7z1805-x64.exe" /S
                    </code>
                </pre>                   
            </div>
            
            <h3 id="air">Adobe Air&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://get.adobe.com/br/air/">Adobe Air</a>.</p>          

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "AdobeAIRInstaller.exe" -silent
                    </code>
                </pre>                   
            </div>                
                                  
            <h3 id="astah">Astah Community&nbsp;<span class="yes">All lab</span></h3>
            <p>A versão community foi oficialmente descontinuado.</p>
            <p>Faça o download da <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">última versão</a> disponibilizada.</p>
            <blockquote class="info">
                Esse programa depende do Java JRE.
            </blockquote>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "astah-community-7_2_0-1ff236-jre-64bit-setup.exe" /verysilent
                    </code>
                </pre>                   
            </div>             
            
            <h3 id="autocad">AutoCAD 2021&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.autodesk.com/education/free-software/">AutoCAD 2021</a>.</p>
            
            <h3 id="blender">Blender&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do  <a href="https://www.blender.org/download/">Blender</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "blender-2.79b-windows64.msi" /qb
                    </code>
                </pre>
            </div>

            <h4>Configuração</h4>
            <img src="../assets/images/pages/config-blender.png" alt="Imagem de configuração do Blender">

            <h4>Diretório de Configuração</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Users\Aluno\AppData\Roaming\Blender Foundation\Blender"
                    </code>
                </pre>                
            </div>                

            <h3 id="bonjour">Bonjour&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do  <a href="https://support.apple.com/kb/DL999?viewlocale=pt_BR&locale=en_US">Bonjour</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "Bonjour64.msi" /qb
                    </code>
                </pre>                
            </div>
            
            <h3 id="brmodelo">BR Modelo&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="http://www.sis4.com/brModelo/download.html">brModelo</a> e mova para <code class="inline">C:\Portable</code>, dentro da pasta <b>brModelo</b>.
            
            <h3 id="bricx">BricxCC +(Driver NXT)&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download dos arquivos disponibilizado na <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">pasta</a>, mova a pasta BricxCC para <b>C:\Portable</b> e instale o driver.
            
            <h3 id="tracer">Cisco Packet Tracer&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.netacad.com/pt-br">Cisco Packet Tracer</a>. É recomendado que os alunos façam o <a href="https://www.netacad.com/pt-br">cadastro</a> para usar o simulador, mas, também é possível usar a ferramenta sem cadastro.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Packet Tracer 7.1.1 for Windows 64 bit.exe" /verysilent
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Cisco Packet Tracer 7.1.1\unins000" /verysilent
                    </code>
                </pre>                  
            </div>              

            <h3 id="composer">Composer&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://getcomposer.org/Composer-Setup.exe">Composer</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Composer-Setup.exe" /VERYSILENT /SUPPRESSMSGBOXES /ALLUSERS /PHP="C:\xampp\php\php.exe"
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                        "%ProgramFiles(x86)%\ComposerSetup\unins000.exe" /VERYSILENT
                        "%ProgramFiles%\ComposerSetup\unins000.exe" /VERYSILENT
                        rd "%ProgramFiles(x86)%\ComposerSetup" /s /q
                        rd "%ProgramFiles%\ComposerSetup" /s /q
                    </code>
                </pre>
            </div>
            
            <h4>Setando proxy</h4>
            <p>Execute os comandos no prompt como administrador.</p>
            <div class="highlight">
                <pre>
                    <code>
                    setx http_proxy "http://192.168.0.6:3128" /m
                    setx https_proxy "http://192.168.0.6:3128" /m
                    </code>
                </pre>                
            </div>
            
            <h3 id="dbdesigner">DBDesigner&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="http://fabforce.eu/dbdesigner4/">DBDesigner</a>.</p>
            <p>Após a instalação, mova os atalhos do programa para o diretório correto.</p>
            
            <h4>Origem</h4>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users\USERADMIN\AppData\Roaming\Microsoft\Windows\Start Menu\Programs
                    </code>
                </pre>                
            </div>

            <h4>Destino</h4>
            <div class="highlight">
                <pre>
                    <code>
                    C:\ProgramData\Microsoft\Windows\Start Menu\Programs
                    </code>
                </pre>
            </div>

            <h3 id="eclipse">Eclipse Java Mars&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Eclipse</a> e disponibilize em <b>C:\Portable</b>.

            <h3 id="firefox">Firefox&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.mozilla.org/pt-BR/firefox/all/">Firefox</a>.</p>
            
            <p>Se os serviços do navegador estiverem desativados, é necessário ativar antes de prosseguir com a atualização.</p>
            <h4>Ativando os serviços</h4>
            <div class="highlight">
                <pre>
                    <code>
                    rem Mozila Maintenance = MozillaMaintenance
                    sc config "MozillaMaintenance" start= auto
                    </code>
                </pre>
            </div>

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Firefox Setup 97.0.exe" /s
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Mozilla Firefox\uninstall\helper.exe" /S
                    "%ProgramFiles%\Mozilla Firefox\uninstall\helper.exe" /S
                    </code>
                </pre>
            </div>
            
            <h3 id="fluxovento">Fluxovento&nbsp;<span class="no">lab1</span><span class="no">lab2</span><span class="no">lab3</span><span class="no">lab4</span><span class="yes">lab5</span></h3>
            <p>Faça o download do <a href="http://webserver2.tecgraf.puc-rio.br/etools/fluxovento/">Fluxovento</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "fluxoventosetup.exe" /v/qn
                    </code>
                </pre>                  
            </div>              
            
            <h3 id="geogebra">Geogebra&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://drive.google.com/file/d/1Xk2OZZPSDc73htRjyqxuHVGqnPhjozKb/view?usp=sharing">Geogebra</a>.</p>
            <p>Extraia os arquivos na pasta <code class="inline">C:\Portable</code>.</p>
                        
            <h3 id="gimp">Gimp&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.gimp.org/">Gimp</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "gimp-2.10.6-setup.exe" /SILENT /NORESTART
                    </code>
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Inkscape\Uninstall.exe" /S
                    </code>
                </pre>                 
            </div>
            
            <h3 id="git">Git&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://git-scm.com/">Git</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Git-2.35.1.2-64-bit.exe" /VERYSILENT /NORESTART /COMPONENTS="icons,icons\desktop,ext,ext\shellhere,ext\guihere,gitlfs,assoc,assoc_sh"
                    </code> 
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Git\unins000.exe" /VERYSILENT /NORESTART
                    "%ProgramFiles%\Git\unins000.exe" /VERYSILENT /NORESTART
                    </code>
                </pre>
            </div>
            
            <h4>Setando proxy</h4>
            <p>Execute os comandos abaixo no <code class="inline">cmd</code>, não precisa ser admin.</p>
            <div class="highlight">
                <pre>
                    <code>
                    git config --global http.proxy http://192.168.0.6:3128
                    git config --global http.https://domain.com.sslVerify false
                    </code>
                </pre>                
            </div>
            
            <h3 id="chrome">Google Chrome&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.google.com/intl/pt-BR/chrome/?standalone=1">Google Chrome</a>.</p>
            <p>Se os serviços do navegador estiverem desativados, é necessário ativar antes de prosseguir com a atualização.</p>

            <h4>Ativando os serviços</h4>
            <div class="highlight">
                <pre>
                    <code>
                    rem Google Update = gupdate
                        sc config "gupdate" start= auto
                    rem Google Update = gupdatem
                        sc config "gupdatem" start= auto
                    rem Google Chrome Elevation Service = GoogleChromeElevationService
                        sc config "GoogleChromeElevationService" start= auto
                    </code>
                </pre>
            </div>            

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "ChromeStandaloneSetup64.exe" /silent /install
                    </code>
                </pre>                
            </div>
            
            <h3 id="greenfoot">Greenfoot&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.greenfoot.org/door">Greenfoot</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "Greenfoot-windows-351.msi" /qn
                    </code>
                </pre>                   
            </div>              
            
            <h3 id="idle">IDLE Python&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.python.org/downloads/">IDLE Python</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "python-3.7.5-amd64.exe" /quiet InstallAllUsers=1 PrependPath=1 Include_test=0
                    </code>
                </pre>                 
            </div>               
            
            <h3 id="inkscape">Inkscape&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://inkscape.org/pt-br/">Inkscape</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "inkscape-0.92.3-x64.exe" /S
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Inkscape\Uninstall.exe" /S
                    </code>
                </pre>                 
            </div>               
            
            <h3 id="ireport">IReport Designer&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do  <a href="https://community.jaspersoft.com/project/ireport-designer">IReport</a>.</p>
            <p>Defina a versão do Java JDK para o programa, alterando o arquivo <code class="inline">ireport.conf</code>, localizado em:</p>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Program Files (x86)\Jaspersoft\iReport-5.6.0\etc
                    </code>
                </pre>                
            </div>
            <p>Descomente a linha e faça as devidas alterações:</p>
            <div class="highlight">
                <pre>
                    <code>
                    jdkhome="C:\Program Files\Java\jdk1.7.0_80"
                    </code>
                </pre>                
            </div>
            <blockquote class="info">
                Esse programa depende do Java JDK na versão 7.
            </blockquote>

            <h3 id="jre">Java JRE&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.java.com/pt-BR/download/manual.jsp">Java JRE</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
            <pre>
                <code>
                "jre-8u321-windows-x64.exe" /s AUTO_UPDATE=Disable
                </code>
            </pre>                
            </div>

            <h3 id="jdk7">Java JDK 7&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Java JDK 7</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "jdk-7u80-windows-x64.exe" /s
                    </code>
                </pre>                  
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    Caminho registro-ID
                    64x - HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall
                    
                    #remocao
                    start /wait msiexec /x {26A24AE4-039D-4CA4-87B4-2F06417079FF} /qn /norestart
                    </code>
                </pre>                
            </div>

            <h3 id="jdk8">Java JDK 17&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Java JDK 17</a>.</p>

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /i "jdk-17_windows-x64_bin.msi" /qn /norestart
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    Caminho registro-ID
                    64x - HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall
                    
                    #remocao
                    start /wait msiexec /x {26A24AE4-039D-4CA4-87B4-2F06417079FF} /qn /norestart
                    </code>
                </pre>                
            </div>

            <h3 id="var">Variáveis de Java para o SO&nbsp;<span class="yes">All lab</span></h3>
            <blockquote class="info">
            Crie as variáveis para a última versão do Java JDK instalado.
            </blockquote>

            <h4>Variáveis via Propriedades do Sistema</h4>
            <p>Acesse as <b>Propriedades do Sistema</b> para configurar as variáveis. Neste exemplo, estou configurando o <b>JDK 17</b>:</p>
            <img src="../assets/images/pages/variavel-java.png" alt="Propriedades do Sistema">
            <div class="highlight">
                <pre>
                    <code>
                    JAVA_HOME
                    C:\Program Files\Java\jdk-17.0.2
                    </code>
                </pre>                
            </div>

            <p>A variável <code class="inline">Path</code> já existe no sistema, então apenas adicione o valor abaixo.</p>
            <p>Windows 7:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Path
                    ;%JAVA_HOME%\bin
                    </code>
                </pre>                
            </div>
            <p>Windows 10:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Path
                    %JAVA_HOME%\bin
                    </code>
                </pre>
            </div>

            <h3 id="lego">Lego Mindstorms Education EV3&nbsp;<span class="no">All lab</span></h3>
            <p>Faça o download do <a href="https://www.lego.com/en-us/mindstorms/downloads/download-software">Lego Mindstorms Education EV3</a>.</p>
            
            <h3 id="libre">LibreOffice&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://pt-br.libreoffice.org/baixe-ja/libreoffice-stable/">LibreOffice</a>.
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                        start /wait msiexec /i "%SOFTWARES%\LibreOffice_7.2.5_Win_x64.msi" /qn /norestart
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /x "%SOFTWARES%\LibreOffice_6.3.6.2_Win_x64.msi" /qn /norestart        
                    </code>
                </pre>
            </div>
            
            <h3 id="vmubuntu">Máquina Virtual Ubuntu&nbsp;<span class="yes">All lab</span></h3>
            <p>Os labs possuem o Ubuntu 16.04 64bits LTS configurado no modo texto.</p>
            
            <h3 id="vmwindows">Máquina Virtual Windows&nbsp;<span class="no">lab1</span><span class="yes">lab2</span><span class="yes">lab3</span><span class="yes">lab4</span><span class="yes">lab5</span></h3>
            <p>Os labs possuem o Windows Professional 64bits configurado.</p>

            <h3 id="miktex">MikTex&nbsp;<span class="yes">All lab</span></h3>
            
            <blockquote class="info">Em análise.</blockquote>

            <p>Faça o download do <a href="https://miktex.org/download">MikTex</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    basic-miktex-2.9.7152-x64.exe --unattended
                    </code>
                </pre>                
            </div>

            <h3 id="maker">Movie Maker&nbsp;<span class="yes">All lab</span></h3>
            <p>Oficialmente descontinuado. Faça o download da última versão do instalador disponibilizado na <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">pasta</a>.</p>
            
            <h3 id="workbench">MySQL Workbench&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://dev.mysql.com/downloads/windows/installer/8.0.html">MySQL Workbench</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "mysql-installer-community-8.0.13.0.msi" /qb
                    </code>
                </pre>                 
            </div>               
            
            <h3 id="netbeans">NetBeans&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://netbeans.org/downloads/">NetBeans 12.5</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Apache-NetBeans-12.5-bin-windows-x64.exe" --silent
                    </code>
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                        "%ProgramFiles(x86)%\NetBeans 8.2\uninstall.exe" --silent
                        "%ProgramFiles%\NetBeans 8.2\uninstall.exe" --silent
                        rd "C:\Users\aluno\AppData\Roaming\NetBeans" /s /q
                    </code>
                </pre>                
            </div>
            <p>Em caso de alteração de Java JDK, alterar a versão do Java em:</p>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\NetBeans 8.2\etc\netbeans.conf"
                    </code>
                </pre>                
            </div>
            <p>Diretório de configuração do usuário Aluno:</p>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Users\aluno\AppData\Roaming\NetBeans"
                    </code>
                </pre>
            </div>

            <h4>JasperReports Library</h4>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">JasperReports Library</a>. Estraia a biblioteca em <code class="inline">C:\Portable</code>.</p>
            <p>Adicione a biblioteca no NetBeans.</p>

            <h3 id="nodejs">Node.js&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://nodejs.org/en/">Node.js</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "node-v10.15.3-x64.msi" /qn
                    </code>
                </pre>                   
            </div>

            <h4>Setando Proxy</h4>
            <p>Execute os comandos abaixo no <code class="inline">cmd</code>, não precisa ser <code class="inline">admin</code>.</p>
            <div class="highlight">
                <pre>
                    <code>
                    npm config set proxy http://192.168.0.6:3128
                    npm config set https-proxy http://192.168.0.6:3128
                    </code>
                </pre>                  
            </div>              
                        
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "npp.7.5.9.Installer.exe" /S
                    </code>
                </pre>                  
            </div>                   
            
            <h3 id="ocs">OCS Iventory&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do instalador disponibilizado na <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">pasta</a>.</p>
            
            <h3 id="virtualbox">Oracle VirtualBox&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.virtualbox.org/wiki/Downloads">Oracle VirtualBox</a>.</p>
            
            <h4>Silent Install</h4>            
            <div class="highlight">
                <pre>
                    <code>
                    "VirtualBox-6.1.2-135663-Win.exe" --silent
                    
                    rem Atualiza/Instala Extension Pack
                    cd "C:\Program Files\Oracle\VirtualBox"
                    VBoxManage extpack install --replace "C:\users\aluno\Oracle_VM_VirtualBox_Extension_Pack-6.1.2.vbox-extpack" --accept-license=56be48f923303c8cababb0bb4c478284b688ed23f16d775d729b89a2e8e5f9eb
                    </code>
                </pre>                
            </div>
            <blockquote class="info">
            A código da licença muda conforme a versão do Pack!
            </blockquote>

            <p>Faça o download do  <a href="https://github.com/jgm/pandoc/releases/latest">Pandoc</a>.
            <p>O pandoc depende de MikTex para funcionar.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                        msiexec /i "pandoc-2.17.1.1-windows-x86_64.msi" /qb /norestart
                    </code>
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /x {6F5C994F-C2FF-4B0F-B015-C689BEC76FE7} /qn /norestart
                    msiexec /x "%SOFTWARES%\pandoc-2.10-windows-x86_64.msi" /qn /norestart
                    rd "%ProgramFiles%\Pandoc" /s /q
                    rd "%ProgramFiles(x86)%\Pandoc" /s /q
                    rd "C:\Users\kenobi\AppData\Local\Pandoc" /s /q
                    rd "C:\Users\aluno\AppData\Local\Pandoc" /s /q
                    rd "C:\Users\ifpr\AppData\Local\Pandoc" /s /q
                    rd "C:\Users\administrator\AppData\Local\Pandoc" /s /q
                    rd "C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Pandoc" /s /q
                    </code>
                </pre>
            </div>
            
            <h4>Testando Pandoc</h4>
            <p>Execute o comando abaixo no <code class="inline">cmd</code>.</p>
            <blockquote class="info">
            É necessário criar um arquivo com marcação em Markdown para o teste.
            </blockquote>
            <div class="highlight">
                <pre>
                    <code>
                    pandoc exemplo.md -o exemplo.pdf
                    </code>
                </pre>                
            </div>                

            <h3 id="pingendo">Pingendo&nbsp;<span class="yes">All lab</span></h3>
            <blockquote class="info">Em análise.</blockquote>
            <p>Faça o download do <a href="https://pingendo.com/">Pingendo</a>.</p>
            
            <h3 id="portugol">Portugol Stúdio&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="http://lite.acad.univali.br/portugol/">Portugol Stúdio</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "portugol-studio-2.7.5-windows.exe" --mode unattended
                    </code>
                </pre>   
            </div>                   

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramData%\UNIVALI\Portugol Studio\desinstalar.exe" --mode unattended
                    </code>
                </pre>                
            </div>
            
            <h3 id="kerkythea">Programa Kerkythea&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.kerkythearender.net/instalacao">Programa Kerkythea</a>.</p>

            <h3 id="r">R - Estatísticas e Gráficos&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://cran.r-project.org/mirrors.html">R - Estatísticas e Gráficos</a>. Instale apenas a versão x64.</p>

            <h3 id="revit">Revit 2021&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.autodesk.com/education/free-software/">Revit 2021</a>.</p>

            <h3 id="scratch">Scratch&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://scratch.mit.edu/download">Scratch</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Scratch-461.exe" -silent
                    </code>
                </pre>    
            </div>                   

            <h3 id="scketchup">ScketchUp Make&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">ScketchUp Make</a>.</p>
            
            <h4>Plugin</h4>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">exportador para Sketchup</a>.</p>
            <p>Diretório de instalação\extração do plugin:</p>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users\Aluno\AppData\Roaming\SketchUp\SketchUp 2016\SketchUp\Plugins
                    </code>
                </pre>                
            </div>
            
            <h3 id="sumatrapdf">SumatraPDF&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.sumatrapdfreader.org/free-pdf-reader.html">SumatraPDF</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "SumatraPDF-3.1.2-64-install.exe" /S
                    #definindo-o como leitor padrao
                    "C:\Program Files\SumatraPDF\SumatraPDF.exe" -register-for-pdf
                    </code>
                </pre>                  
            </div>
            
            <h3 id="texstudio">TeXstudio&nbsp;<span class="yes">All lab</span></h3>
            <blockquote class="info">Em análise.</blockquote>

            <p>Faça o download do <a href="https://www.texstudio.org/">TeXstudio</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "texstudio-2.12.16-win-qt5.exe" /S
                    </code>
                </pre>                  
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\texstudio\uninstall.exe" /S
                    "%ProgramFiles(x86)%\texstudio\uninstall.exe" /S
                    </code>
                </pre>
            </div>

            <h3 id="freeze">Toolwiz Time Freeze&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do  <a href="http://www.toolwiz.com/lead/toolwiz_time_freeze.php">Toolwiz Time Freeze</a>.</p>
            <p>Para o bom funcionamento do congelamento do SO, é necessário desativar os seguintes serviços: <b>Desfragmentador ou Otimizador de Discos/Unidades</b>, <b>Backup do Windows</b>, <a href="#reparo">Reparo automático</a> e <a href="#fastboot">Inicialização rápida</a> (Windows 10).</p>

            <h3 id="veyon">Veyon&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://veyon.io/download/">Veyon</a> e instale como cliente.</p>
            
            <h4>Silent Install</h4>
            <p>Instalação para o cliente.</p>
            <div class="highlight">
                <pre>
                    <code>
                    "veyon-4.7.1.3-win64-setup.exe" /S /NoMaster
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\Veyon\uninstall.exe" /S
                    </code>
                </pre>
            </div>
            
            <h4>Importar configuração</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\Veyon\veyon-cli" config import %PASTAORIGEM%\veyon-cliente.json
                    </code>
                </pre>
            </div>            

            <h3 id="visualg">Visual G&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://visualg3.com.br/">Visual G</a>.</p>
            <p>Extraia os arquivos para a pasta <b>C:\Portable</b> e crie um link para a Área de trabalho do aluno.</p>
          
            <h3 id="vscode">Visual Studio Code&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://code.visualstudio.com/">Visual Studio Code</a> na versão de sistema.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "VSCodeSetup-x64-1.64.2.exe" /SILENT /NORESTART /MERGETASKS=!runcode
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Microsoft VS Code\unins000.exe" /VERYSILENT /NORESTART
                    "%ProgramFiles%\Microsoft VS Code\unins000.exe" /VERYSILENT /NORESTART
                    </code>
                </pre>
            </div>
            
            <h3 id="vlc">VLC Media Player&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do <a href="https://www.videolan.org/vlc/index.pt-BR.html">VLC Media Player</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "vlc-3.0.4-win64.exe" /S
                    </code>
                </pre>
            </div>

            <h3 id="xampp">XAMPP&nbsp;<span class="yes">All lab</span></h3>
            <p>Faça o download do  <a href="https://www.apachefriends.org/pt_br/index.html">XAMPP</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "xampp-windows-x64-8.1.2-0-VS16-installer.exe" --mode unattended --installer-language pt_BR --launchapps 0 --disable-components xampp_filezilla,xampp_mercury,xampp_tomcat,xampp_perl,xampp_webalizer,xampp_sendmail
                    </code>
                </pre>                
            </div>

            <h4>Permissões para o diretório XAMPP</h4>
            <div class="highlight">
                <pre>
                    <code>
                    cacls "%SystemDrive%\xampp" /E /P Todos:F
                    cacls "%SystemDrive%\xampp\xampp-control.ini" /E /P Todos:F
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%SystemDrive%\xampp\uninstall.exe" --mode unattended
                    rd "%SystemDrive%\xampp" /s /q
                    </code>
                </pre>
            </div> 

            <!--Fim conteudo aplicacoes-->

            <!-- Clone -->
            <h2>Clone Windows</h2>

            <!--Conteudo clone-->
            <h3 id="dominio">Computador no domínio</h3>
            <p>Adicione o Computador ao domínio conforme <a href="#dominio">orientações</a>.</p>

            <h3 id="atautocad">Ativar AutoCAD</h3>           
            <p>Execute o <code class="inline">AutoCAD</code> (necessário internet) e siga os passos que aparecer na tela e, informe a <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave de ativação</a> caso solicitado.</p>
            <p>Em caso de erro na ativação, remover a pasta <code class="inline">FLEXnet</code> que fica localizado em <code class="inline">C:\ProgramData</code> e, execute o programa novamente.</p>

            <h3 id="atrevit">Ativar Revit</h3>
            <p>Execute o <code class="inline">Revit</code> (necessário internet) e siga os passos que aparecer na tela e, informe a <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave de ativação</a> caso solicitado.</p>
            <p>Em caso de erro na ativação, remova a pasta <code class="inline">FLEXnet</code>, localizado em <code class="inline">C:\ProgramData</code>.</p>

            <h3 id="timefreeze">Habilitar Toolwiz Time Freeze</h3>
            <p>Por último, ative o <a href="https://wiki.cremilton.com/veyon/#desabilitar">Toolwiz Time Freeze</a>.</p>

            <h3 id="exec">Executar softwares</h3>
            <p>Executar os softwares ao menos uma vez.</p>
            <!-- Fim clone-->

        </article>
    </main>
    {% include footer.html %}
</body>
</html>