---
title:  "Windows - Wiki"
permalink: /windows/
load_js: load_assets_js
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body id="topo" class="menu-mobile">
    {% include header.html %}
    <p class="btn-container show-btn"><a href="#" class="toggle-menu btn-menu">Sumário</a></p>
    <main class="conteudo-container">
        <aside class="sidebar">
            <menu class="menu">
                <p class="hidden-btn"><a href="#" class="toggle-menu btn-menu">Fechar Sumário</a></p>
                {% include menu-windows.html %}
            </menu>
        </aside>
        <article class="conteudo">
            <h1>Criação de Imagem</h1>

            <h2 id="configsetup">Setup</h2>
            <ul>
                <li>Armazenamento no modo AHCI;</li>
                <li>Habilitar a virtualização;</li>
                <li>Desativar Fast Boot;</li>
                <li>Desativar Secure Boot;</li>
                <li>Ativar PXE no modo Legacy.</li>
            </ul>

            <blockquote class="info">
            Sempre que possível, instale o Windows no modo UEFI e desative o IPv6.
            </blockquote>

            <!--Conteudo instalacao-->
            <h2>Instalação do Windows</h2>
            <h3 id="particao">Partições do SO</h3>
            <table>
                <tr>
                    <th>Descrição</th>
                    <th>Capacidade</th>
                </tr>
                <tr>
                    <td>Nuvem01</td>
                    <td>Mínimo de 10GB</td>
                </tr>
                <tr>
                    <td>Windows</td>
                    <td>Restante da capacidade</td>
                </tr>
            </table>

            <blockquote class="info">
            Caso o equipamento possua unidades extras de armazenamento, utilize todo espaço da unidade para partição nuvem01 e/ou nuvem02.
            </blockquote>

            <h3 id="nome">Nome e Grupo</h3>
            <p>Incluir computador no domínio usando informações abaixo:</p>
            <div class="highlight">
                <pre>
                    <code>
                    DNS=192.168.0.11
                    
                    NomePC: lab1m01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab2m01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab3m01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab4m01
                    Domínio: ensino.umuarama
                    
                    NomePC: lab5m01
                    Domínio: ensino.umuarama
                    </code>
                </pre>                
            </div>

            <h3 id="admin">Usuário administrador</h3>
            <p>Após a instalação do SO, crie o usuário administrador <b>IFPR</b> e defina a senha padrão disponível <a href="https://docs.google.com/spreadsheets/d/1iJvoeV2McgPpoJndl9O5W5mLaZII2okWczT2cPZBV1o/edit?usp=sharing">planilha</a>.</p>

            <h3 id="estudante">Usuário aluno</h3>
            <p>Crie o usuário para o estudante chamado <b>aluno</b> e defina a senha padrão:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Usuário: aluno
                    Senha: aluno123
                    </code>
                </pre>
            </div>
            <blockquote class="info">
                Nos LABs do IFPR, o usuário é criado pelo Active Directory.
            </blockquote>
            <!--Fim conteudo instalacao-->

            <!--Conteudo configuracoes-->
            <h2>Configurações</h2>

            <blockquote class="info">
            Utilize armazenamento no modo AHCI, habilite suporte a virtualização, desative Fast Boot/Secure Boot e ative o PXE no modo legado.
            </blockquote>

            <h3 id="energia">Opções de energia</h3>
            <p>Alterar as opções de energia para nunca bloquear a tela.</p>
            <img src="../assets/images/pages/energia.png" alt="Opções de energia">

            <h3 id="wallpaper">Papel de parede padrão IFPR</h3>
            <p>Baixe o <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">papel de parede</a>.</p>
            <p>Nos LABs do IFPR o papel de parede é definida pelo Active Directory.</p>

            <h3 id="historico">Histórico do Chrome e Firefox</h3>
            <p>Não é legal deixar históricos de downloads e etc.</p>

            <h3 id="drivers">Atualização de drivers</h3>
            <p>Use softwares como <a href="https://www.drivereasy.com/">EasyDriver</a> ou <a href="https://www.drivermax.com/download.htm">DriverMax</a> para realizar as atualizações.</p>
          
            <h3 id="proxy">Configuração de proxy</h3>
            <div class="highlight">
                <pre>
                    <code>
                    192.168.0.6:3128
                    </code>
                </pre>
            </div>
            <img src="../assets/images/pages/proxy.png" alt="Proxy">
            <p>Nos LABs do IFPR, a configuração é definida pelo Active Directory.</p>
            
            <h3 id="gerenciador">Gerenciador de Tarefas</h3>
            <p>Desative pelo <code class="inline">gpedit.msc</code>. Nos LABs do IFPR, a configuração é definida pelo Active Directory.</p>

            <h3 id="startwin">Otimize a inicialização</h3>
            <img src="../assets/images/pages/msconfig.png" alt="msconfig">
            
            <h3 id="senhas">Senhas</h3>
            <p>Coloque um <b>txt</b> na área de trabalho com as senhas, caso alguma aplicação necessite.</p>

            <h3 id="reparo">Reparo automático</h3>

            <h4>Desativar no Windows 7</h4>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set {default} bootstatuspolicy ignoreallfailures
                    </code>
                </pre>                
            </div>

            <h4>Desativar no Windows 10</h4>
            <div class="highlight">
                <pre>
                    <code>
                    bcdedit /set recoveryenabled NO
                    </code>
                </pre>                
            </div>

            <blockquote class="info">Configuração para evitar o reparo automático do SO.</blockquote>

            <h3 id="servicos">Serviços</h3>
            <p>Altere a inicialização dos serviços:</p>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Configuração</th>
                </tr>
                <tr>
                    <td>Windows Defender ou Windows Defender Firewall</td>
                    <td>Automático via GPO</td>
                </tr>
                <tr>
                    <td>Windows Update</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Backup do Windows</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Notícias e Interesses</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Desfragmentador ou Otimizador de Discos/Unidades</td>
                    <td>Manual via GPO</td>
                </tr>
                <tr>
                    <td>SuperFetch ou SysMain</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>Windows Search</td>
                    <td>Desativado via GPO</td>
                </tr>
                <tr>
                    <td>OCS Iventory</td>
                    <td>Defina como = Atraso na inicialização</td>
                </tr>
            </table>
            <p>Desative o Desfragmentador para todas as unidades do computador.</p>
            <img src="../assets/images/pages/desfragmentador.jpg" alt="Desfragmentador">

            <h4>Gerenciando serviços pelo prompt de comando</h4>
            <div class="highlight">
                <pre>
                    <code>
                    wuauserv => servico a ser desativado
                    sc config "wuauserv" start= disabled
                    </code>
                </pre>
            </div>              
                       
            <h2>Configurações do Windows 10</h2>

            <h3 id="sistema">Sistema</h3>
            <h4>Notificações e ações</h4>
                <ol>
                    <li><b>Desativar</b> tudo</li>
                </ol>

            <h4>Energia e suspensão</h4>
                <ol>
                    <li>Tela &rarr; Quando conectado, desligar após &rarr; <b>Nunca</b></li>
                    <li>Suspender &rarr; Quando conectado, o computador será suspenso após &rarr; <b>Nunca</b></li>
                    <li>Desempenho e Energia &rarr; Modo de energia &rarr; <b>Melhor Desempenho</b></li>
                </ol>

            <h3 id="tema">Personalização</h3>
            <h4>Cores</h4>
                <ol>
                    <li>Efeitos de transparência &rarr; <b>Desativado</b></li>
                </ol>
            <h4>Tela de bloqueio</h4>
                <ol>
                    <li>Tela de Fundo &rarr; <b>Imagem</b></li>
                </ol>
            <h4>Iniciar</h4>
                <ol>
                    <li>Mostrar lista de aplicativos no menu Iniciar &rarr; <b>Ativado</b></li>
                    <li>Todas as outras opções &rarr; <b>Desativadas</b></li>
                    <li>Escolher quais pastas são exibidas em Iniciar</li>
                    <ol>
                        <li>Configurações &rarr; <b>Ativado</b></li>
                        <li>Pasta pessoal &rarr; <b>Ativado</b></li>
                        <li>Todas as outras opções &rarr; <b>Desativadas</b></li>
                    </ol>                
                </ol>
            <h4>Barra de Tarefas</h4>
                <ol>
                    <li>Combinar botões da barra de tarefas &rarr; <b>Quando a barra de tarefas estiver cheia</b></li>
                </ol>

            <h3 id="recursos">Aplicativos e recursos</h3>
            <h4>Inicialização</h4>
                <ol>
                    <li>Desativar inicializações <b>desnecessárias</b></li>
                </ol>

            <h3 id="jogos">Jogos</h3>
            <h4>Xbox Game Bar</h4>
                <ol>
                    <li>Habilite a Xbox Game Bar... &rarr; <b>Desativado</b></li>
                </ol>
            <h4>Modo de Jogo</h4>
                <ol>
                    <li>Modo de Jogo &rarr; <b>Desativado</b></li>
                </ol>

            <h3 id="privacidade">Privacidade</h3>
            <h4>Geral</h4>
                <ol>
                    <li>Permitir que o Windows controle a abertura de aplicativos... &rarr; <b>Ativado</b></li>
                    <li><b>Desativar</b> as demais opções</li>
                </ol>
            <h4>Histórico de atividades</h4>
                <ol>
                    <li><b>Tudo Desativado</b></li>
                </ol>
            <h4>Aplicativos em segundo plano</h4>
                <ol>
                    <li>Permitir a execução de aplicativos em segundo plano &rarr; <b>Desativado</b></li>
                </ol>

            <h3 id="fastboot">Fast Boot</h3>
            <p>Esse ajuste é necessário para garantir o desligamento completo do computador. Desligue também via BIOs.</p>
            <div class="highlight">
                <pre>
                    <code>
                    powercfg.exe /hibernate off
                    </code>
                </pre>                                
            </div>
            
            <h3 id="propriedades">Propriedades do Sistema</h3>

            <h4>Aba Proteção do Sistema</h4>
            <ol>
                <li>Configurar &rarr; <b>Desativar a proteção do sistema</b></li>
            </ol>

            <h3 id="opcoespastas">Opções de pastas</h3>
            <img src="../assets/images/pages/opcoes-de-pastas.png" alt="Oções de pastas">

            <h3 id="edge">Configurações do Edge</h3>
            <p>Configurar a página inicial do navegador Edge.</p>

            <h3 id="otimizacao">Otimização via software</h3>

            <h4>Aplicativos e recursos</h4>
            <p>Remova todos os aplicativos desnecessários utilizando <a href="https://www.oo-software.com/en/ooappbuster">O&O AppBuster</a>.</p>

            <h4>Privacidade</h4>
            <p>Desabilite os serviços de coleta de dados usando o <a href="https://www.oo-software.com/en/shutup10">O&O ShutUp10++</a>.</p>
      
            <!--Fim conteudo configuracoes-->

            <!--Conteudo aplicacoes-->
            <h2>Aplicações</h2>

            <blockquote class="info">
            Execute os softwares ao menos uma vez na conta do aluno, para que seja criado as configurações de ambiente para o perfil.
            </blockquote>            

            <h3 id="zip">7-zip</h3>
            <p>Faça o download do <a href="https://www.7-zip.org/download.html">7-zip</a>.</p>
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "7z1805-x64.exe" /S
                    </code>
                </pre>                   
            </div>
            
            <h3 id="android">Android Studio</h3>
            <p>Faça o download do <a href="https://developer.android.com/studio">Android Studio</a>.</p>

            <blockquote class="info">Executar o programa no perfil do aluno, para terminar de adicionar os recursos extras.</blockquote>

            <h3 id="netbeans">Apache NetBeans</h3>
            <p>Faça o download do <a href="https://netbeans.org/downloads/">NetBeans</a>.</p>

            <blockquote class="info">Esse programa precisa do Java JDK.</blockquote>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Apache-NetBeans-12.5-bin-windows-x64.exe" --silent --state "state.xml"
                    </code>
                </pre>                
            </div>
            <p>Baixe o <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">state.xml</a></p>
            <blockquote class="info">Necessário gerar um novo state.xml a cada nova versão do NetBeans que será instalado.</blockquote>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                        "%ProgramFiles(x86)%\NetBeans 8.2\uninstall.exe" --silent
                        "%ProgramFiles%\NetBeans 8.2\uninstall.exe" --silent
                        rd "C:\Users\aluno\AppData\Roaming\NetBeans" /s /q
                    </code>
                </pre>                
            </div>

            <p>Em caso de alteração do Java JDK, alterar a configuração:</p>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\NetBeans 8.2\etc\netbeans.conf"
                    </code>
                </pre>                
            </div>

            <p>Diretório de configuração do usuário Aluno:</p>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Users\aluno\AppData\Roaming\NetBeans"
                    </code>
                </pre>
            </div>
                                 
            <h3 id="astah">Astah Community</h3>
            <p>A versão community foi oficialmente descontinuado.</p>
            <p>Faça o download da <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">última versão</a> disponibilizada.</p>
            
            <blockquote class="info">Esse programa precisa do Java JRE.</blockquote>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "astah-community-7_2_0-1ff236-jre-64bit-setup.exe" /verysilent
                    </code>
                </pre>                   
            </div>             
            
            <h3 id="autocad">AutoCAD</h3>
            <p>Faça o download do <a href="https://www.autodesk.com/education/free-software/">AutoCAD</a>.</p>
            
            <h3 id="blender">Blender</h3>
            <p>Faça o download do  <a href="https://www.blender.org/download/">Blender</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "blender-2.79b-windows64.msi" /qb
                    </code>
                </pre>
            </div>

            <h4>Configuração</h4>
            <img src="../assets/images/pages/config-blender.png" alt="Imagem de configuração do Blender">

            <h4>Diretório de Configuração</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Users\Aluno\AppData\Roaming\Blender Foundation\Blender"
                    </code>
                </pre>                
            </div>

            <h3 id="localdns">Bonjour ou mDNS</h3>
            <blockquote class="info">
            Instale apenas em Windows 7 Professional. Para o Windows 10, ative mDNS.
            </blockquote>
            <p>Faça o download do <a href="https://developer.apple.com/bonjour/">Bonjour</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "Bonjour64.msi" /qb
                    </code>
                </pre>
            </div>

            <h4>Resolve .local para Windows 10</h4>
            <p>Para o Windows 10, ative o recurso mDNS:</p>
            <div class="highlight">
                <pre>
                    <code>
                        reg add "HKLM\Software\Policies\Microsoft\Windows NT\DNSClient" /v EnableMulticast /t REG_DWORD /d 1 /f
                    </code>
                </pre>
            </div>

            <h3 id="bricx">BricxCC +(Driver NXT)</h3>
            <p>Faça o download dos arquivos disponibilizado na <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">pasta</a>, mova a pasta BricxCC para <code class="inline">C:\Portable</code> e instale o driver.

            <h3 id="brmodelo">brModelo</h3>
            <p>Faça o download do <a href="http://www.sis4.com/brModelo/download.html">brModelo</a> e mova para <code class="inline">C:\Portable</code>, dentro da pasta <b>brModelo</b>.

            <h3 id="chem">ChemSketch</h3>
            <p>Faça o download do <a href="https://www.acdlabs.com/resources/free-chemistry-software-apps/chemsketch-freeware/">ChemSketch</a>.

            <h3 id="chrome">Chrome</h3>
            <p>Faça o download do <a href="https://www.google.com/intl/pt-BR/chrome/?standalone=1">Chrome</a>.</p>
            <blockquote class="info">Se os serviços do navegador estiverem desativados, é necessário ativar antes de prosseguir com a atualização.</blockquote>

            <h4>Ativando os serviços</h4>
            <div class="highlight">
                <pre>
                    <code>
                    rem Google Update = gupdate
                        sc config "gupdate" start= auto
                    rem Google Update = gupdatem
                        sc config "gupdatem" start= auto
                    rem Google Chrome Elevation Service = GoogleChromeElevationService
                        sc config "GoogleChromeElevationService" start= auto
                    </code>
                </pre>
            </div>            

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "ChromeStandaloneSetup64.exe" /silent /install
                    </code>
                </pre>                
            </div>                

            <h3 id="tracer">Cisco Packet Tracer</h3>
            <p>Faça o download do <a href="https://www.netacad.com/pt-br">Cisco Packet Tracer</a>. É necessário que os alunos façam o <a href="https://www.netacad.com/pt-br">cadastro</a> para usar o simulador.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Packet Tracer 7.1.1 for Windows 64 bit.exe" /verysilent
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Cisco Packet Tracer 7.1.1\unins000" /verysilent
                    </code>
                </pre>                  
            </div>              

            <h3 id="composer">Composer</h3>
            <blockquote class="info">Instale o XAMPP antes do Composer.</blockquote>
            <p>Faça o download do <a href="https://getcomposer.org/Composer-Setup.exe">Composer</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Composer-Setup.exe" /VERYSILENT /SUPPRESSMSGBOXES /ALLUSERS /PHP="C:\xampp\php\php.exe"
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                        "%ProgramFiles(x86)%\ComposerSetup\unins000.exe" /VERYSILENT
                        "%ProgramFiles%\ComposerSetup\unins000.exe" /VERYSILENT
                        rd "%ProgramFiles(x86)%\ComposerSetup" /s /q
                        rd "%ProgramFiles%\ComposerSetup" /s /q
                    </code>
                </pre>
            </div>
            
            <h4>Setando proxy</h4>
            <p>Execute os comandos no <code class="inline">prompt</code> como administrador.</p>
            <div class="highlight">
                <pre>
                    <code>
                    setx http_proxy "http://192.168.0.6:3128" /m
                    setx https_proxy "http://192.168.0.6:3128" /m
                    </code>
                </pre>                
            </div>

            <h3 id="dbbrowser">DB Browser for SQLite</h3>
            <p>Faça o download do <a href="https://sqlitebrowser.org/">DB Browser for SQLite</a>.</p>
            
            <h3 id="dbdesigner">DBDesigner</h3>
            <p>Faça o download do <a href="http://fabforce.eu/dbdesigner4/">DBDesigner</a>.</p>
            <p>Após a instalação, mova os atalhos do programa para o diretório correto.</p>
            
            <h4>Origem</h4>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users\USERADMIN\AppData\Roaming\Microsoft\Windows\Start Menu\Programs
                    </code>
                </pre>                
            </div>

            <h4>Destino</h4>
            <div class="highlight">
                <pre>
                    <code>
                    C:\ProgramData\Microsoft\Windows\Start Menu\Programs
                    </code>
                </pre>
            </div>

            <h3 id="eclipse">Eclipse</h3>
            <p>Faça o download do <a href="https://www.eclipse.org/downloads/packages/">Eclipse</a> e disponibilize em <code class="inline">C:\Portable</code>.

            <h3 id="firefox">Firefox</h3>
            <p>Faça o download do <a href="https://www.mozilla.org/pt-BR/firefox/all/">Firefox</a>.</p>
            
            <blockquote class="info">Se os serviços do navegador estiverem desativados, é necessário ativar antes de prosseguir com a atualização.</blockquote>
            <h4>Ativando os serviços</h4>
            <div class="highlight">
                <pre>
                    <code>
                    rem Mozila Maintenance = MozillaMaintenance
                    sc config "MozillaMaintenance" start= auto
                    </code>
                </pre>
            </div>

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Firefox Setup 97.0.exe" /s
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Mozilla Firefox\uninstall\helper.exe" /S
                    "%ProgramFiles%\Mozilla Firefox\uninstall\helper.exe" /S
                    </code>
                </pre>
            </div>
            
            <h3 id="fluxovento">Fluxovento</h3>
            <p>Faça o download do <a href="http://webserver2.tecgraf.puc-rio.br/etools/fluxovento/">Fluxovento</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "fluxoventosetup.exe" /v/qn
                    </code>
                </pre>                  
            </div>              

            <h3 id="ftool">Ftool</h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Ftool</a>.</p>
            <p>Disponibilize o arquivo em <code class="inline">C:\Portable\Ftool</code> e adicione um atalho na área de trabalho do aluno.</p>
            
            <h3 id="geogebra">Geogebra</h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Geogebra</a>.</p>
            <p>Extraia os arquivos na pasta <code class="inline">C:\Portable</code>.</p>
                        
            <h3 id="gimp">Gimp</h3>
            <p>Faça o download do <a href="https://www.gimp.org/">Gimp</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "gimp-2.10.6-setup.exe" /SILENT /NORESTART
                    </code>
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Inkscape\Uninstall.exe" /S
                    </code>
                </pre>                 
            </div>
            
            <h3 id="git">Git</h3>
            <p>Faça o download do <a href="https://git-scm.com/">Git</a>.</p>

            <blockquote class="info">Instale o Visual Studio Code primeiro, para ficar de editor padrçao do Git.</blockquote>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Git-2.35.1.2-64-bit.exe" /VERYSILENT /NORESTART /COMPONENTS="icons,icons\desktop,ext,ext\shellhere,ext\guihere,gitlfs,assoc,assoc_sh"
                    </code> 
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Git\unins000.exe" /VERYSILENT /NORESTART
                    "%ProgramFiles%\Git\unins000.exe" /VERYSILENT /NORESTART
                    </code>
                </pre>
            </div>
            
            <h4>Setando proxy</h4>
            <p>Execute os comandos abaixo no <code class="inline">prompt</code>, não precisa ser admin.</p>
            <div class="highlight">
                <pre>
                    <code>
                    git config --global http.proxy http://192.168.0.6:3128
                    git config --global http.https://domain.com.sslVerify false
                    </code>
                </pre>                
            </div>
            
            <h3 id="greenfoot">Greenfoot</h3>
            <p>Faça o download do <a href="https://www.greenfoot.org/door">Greenfoot</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "Greenfoot-windows-351.msi" /qn
                    </code>
                </pre>                   
            </div>              
            
            <h3 id="idle">IDLE Python</h3>
            <p>Faça o download do <a href="https://www.python.org/downloads/">IDLE Python</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "python-3.10.6-amd64.exe" /quiet InstallAllUsers=1 PrependPath=1 Include_test=0 DefaultAllUsersTargetDir
                    </code>
                </pre>                 
            </div>               

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /x {691AAAA1-FE86-4973-8DA2-6AA2B3327562} /qn /norestart
                    
                    "C:\Users\kenobi\AppData\Local\Package Cache\{20ae9c9d-53ff-44e7-973b-efb518e01971}\python-3.10.4-amd64.exe" /uninstall /quiet
                    </code>
                </pre>                 
            </div>               
            
            <h3 id="inkscape">Inkscape</h3>
            <p>Faça o download do <a href="https://inkscape.org/pt-br/">Inkscape</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "inkscape-0.92.3-x64.exe" /S
                    </code>
                </pre>                
            </div>
            
            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "C:\Program Files\Inkscape\Uninstall.exe" /S
                    </code>
                </pre>                 
            </div>               
            
            <h3 id="jasperlibrary">JasperReports Library</h3>
            <p>Faça o download do  <a href="https://community.jaspersoft.com/project/jasperreports-library">JasperReports Library</a>.</p>
            <p>Extraia o arquivo no diretório <code class="inline">C:\Portable</code>.</p>

            <h3 id="jaspersoft">Jaspersoft Studio</h3>
            <p>Faça o download do  <a href="https://community.jaspersoft.com/project/jaspersoft-studio">Jaspersoft Studio</a>.</p>

            <h3 id="jdk17">Java JDK 17</h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Java JDK 17</a>.</p>

            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /i "jdk-17_windows-x64_bin.msi" /qn /norestart
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    Caminho registro-ID
                    64x - HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall
                    
                    #remocao
                    start /wait msiexec /x {26A24AE4-039D-4CA4-87B4-2F06417079FF} /qn /norestart
                    </code>
                </pre>                
            </div>            

            <h3 id="jre">Java JRE 8 321</h3>
            <p>Faça o download do <a href="https://www.java.com/pt-BR/download/manual.jsp">Java JRE</a>.</p>

            <blockquote class="info">Desative a verificação de atualizações.</blockquote>
            
            <h4>Silent Install</h4>
            <div class="highlight">
            <pre>
                <code>
                "jre-8u321-windows-x64.exe" /s AUTO_UPDATE=Disable
                </code>
            </pre>                
            </div>

            <h3 id="javavar">Java - Variáveis de ambiente</h3>
            <blockquote class="info">
            Crie as variáveis para a última versão do Java JDK instalado.
            </blockquote>

            <h4>Variáveis via Propriedades do Sistema</h4>
            <p>Acesse as <b>Propriedades do Sistema</b> para configurar as variáveis. Neste exemplo, estou configurando o <b>JDK 17</b>:</p>
            <img src="../assets/images/pages/variavel-java.png" alt="Propriedades do Sistema">
            <div class="highlight">
                <pre>
                    <code>
                    JAVA_HOME
                    C:\Program Files\Java\jdk-17.0.2
                    </code>
                </pre>                
            </div>

            <p>A variável <code class="inline">Path</code> já existe no sistema, então apenas adicione o valor abaixo.</p>
            <p>Windows 7:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Path
                    ;%JAVA_HOME%\bin
                    </code>
                </pre>                
            </div>
            <p>Windows 10:</p>
            <div class="highlight">
                <pre>
                    <code>
                    Path
                    %JAVA_HOME%\bin
                    </code>
                </pre>
            </div>
            
            <h3 id="kerkythea">Kerkythea 2008</h3>
            <p>Faça o download do <a href="https://www.kerkythearender.net/instalacao">Kerkythea 2008</a>.</p>

            <h3 id="libre">LibreOffice</h3>
            <p>Faça o download do <a href="https://pt-br.libreoffice.org/baixe-ja/libreoffice-stable/">LibreOffice</a>.
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                        start /wait msiexec /i "%SOFTWARES%\LibreOffice_7.2.5_Win_x64.msi" /qn /norestart
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    start /wait msiexec /x "%SOFTWARES%\LibreOffice_6.3.6.2_Win_x64.msi" /qn /norestart        
                    </code>
                </pre>
            </div>

            <h3 id="workbench">MySQL Workbench</h3>
            <p>Faça o download do <a href="https://dev.mysql.com/downloads/windows/installer/8.0.html">MySQL Workbench</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "mysql-installer-community-8.0.13.0.msi" /qb
                    </code>
                </pre>                 
            </div>

            <h3 id="nodejs">Node.js</h3>
            <p>Faça o download do <a href="https://nodejs.org/en/">Node.js</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    msiexec /i "node-v10.15.3-x64.msi" /qn
                    </code>
                </pre>                   
            </div>

            <h4>Setando Proxy</h4>
            <p>Execute os comandos abaixo no <code class="inline">prompt</code>, não precisa ser <b>admin</b>.</p>
            <div class="highlight">
                <pre>
                    <code>
                    npm config set proxy http://192.168.0.6:3128
                    npm config set https-proxy http://192.168.0.6:3128
                    </code>
                </pre>                  
            </div>
            
            <h3 id="ocs">OCS Iventory Agent</h3>
            <p>Faça o download do servidor interno do laboratório.</p>

            <h3 id="vmubuntu">Oracle VM Ubuntu</h3>
            <p>VM do Ubuntu 20.04.3 64bits LTS, rodando no Oracle VM VirtualBox.</p>

            <h3 id="virtualbox">Oracle VM VirtualBox +(Extension Pack)</h3>
            <p>Faça o download do <a href="https://www.virtualbox.org/wiki/Downloads">Oracle VirtualBox</a>.</p>

            <blockquote class="info">Desative a verificação de atualizações.</blockquote>

            <h4>Silent Install</h4>            
            <div class="highlight">
                <pre>
                    <code>
                    "VirtualBox-6.1.2-135663-Win.exe" --silent
                    
                    rem Atualiza/Instala Extension Pack
                    cd "C:\Program Files\Oracle\VirtualBox"
                    VBoxManage extpack install --replace "C:\users\aluno\Oracle_VM_VirtualBox_Extension_Pack-6.1.2.vbox-extpack" --accept-license=56be48f923303c8cababb0bb4c478284b688ed23f16d775d729b89a2e8e5f9eb
                    </code>
                </pre>                
            </div>
            <blockquote class="info">A código de licença muda conforme a versão do instalador.</blockquote>            
            
            <h3 id="portugol">Portugol Stúdio</h3>
            <p>Faça o download do <a href="http://lite.acad.univali.br/portugol/">Portugol Stúdio</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "portugol-studio-2.7.5-windows.exe" --mode unattended
                    </code>
                </pre>   
            </div>                   

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramData%\UNIVALI\Portugol Studio\desinstalar.exe" --mode unattended
                    </code>
                </pre>                
            </div>

            <h3 id="revit">Revit</h3>
            <p>Faça o download do <a href="https://www.autodesk.com/education/free-software/">Revit</a>.</p>

            <h3 id="scratch">Scratch</h3>
            <p>Faça o download do <a href="https://scratch.mit.edu/download">Scratch</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "Scratch-461.exe" -silent
                    </code>
                </pre>    
            </div>                   

            <h3 id="sketchup">SketchUp Make 2016</h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">SketchUp Make 2016</a>.</p>
            
            <h4>Plugin</h4>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">exportador para Sketchup</a>.</p>
            <p>Diretório de instalação\extração do plugin:</p>
            <div class="highlight">
                <pre>
                    <code>
                    C:\Users\Aluno\AppData\Roaming\SketchUp\SketchUp 2016\SketchUp\Plugins
                    </code>
                </pre>                
            </div>
            
            <h3 id="sumatrapdf">SumatraPDF</h3>
            <p>Faça o download do <a href="https://www.sumatrapdfreader.org/free-pdf-reader.html">SumatraPDF</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "SumatraPDF-3.1.2-64-install.exe" /S
                    </code>
                </pre>                  
            </div>
            
            <h3 id="freeze">Toolwiz Time Freeze</h3>
            <p>Faça o download do  <a href="http://www.toolwiz.com/lead/toolwiz_time_freeze.php">Toolwiz Time Freeze</a>.</p>
            <p>Para o bom funcionamento desse programa, é necessário desativar os seguintes serviços: <b>Desfragmentador ou Otimizador de Discos/Unidades</b>, <b>Backup do Windows</b>, <a href="#reparo">Reparo automático</a>, Windows Update e <a href="#fastboot">Inicialização rápida</a> (Windows 10).</p>

            <h3 id="ultimaker">Ultimaker Cura</h3>
            <p>Faça o download do <a href="https://ultimaker.com/software/ultimaker-cura">Ultimaker Cura</a>.</p>

            <h3 id="veyon">Veyon</h3>
            <p>Faça o download do <a href="https://veyon.io/download/">Veyon</a>.</p>
            
            <h4>Silent Install</h4>
            <p>Instalação para o cliente.</p>
            <div class="highlight">
                <pre>
                    <code>
                    "veyon-4.7.1.3-win64-setup.exe" /S /NoMaster
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\Veyon\uninstall.exe" /S
                    </code>
                </pre>
            </div>
            
            <h4>Importando configurações</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles%\Veyon\veyon-cli" config import %PASTAORIGEM%\veyon-cliente.json
                    </code>
                </pre>
            </div>            

            <h3 id="vscode">Visual Studio Code</h3>
            <p>Faça o download do <a href="https://code.visualstudio.com/">Visual Studio Code</a> na versão de sistema.</p>

            <blockquote class="info">Instale a tradução do programa pela interface de plugins.</blockquote>

            <h3 id="visualg">VisuAlG</h3>
            <p>Faça o download do <a href="https://visualg3.com.br/">Visual G</a>.</p>
            <p>Extraia os arquivos para a pasta <code class="inline">C:\Portable</code> e crie um link para a Área de trabalho do aluno.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "VSCodeSetup-x64-1.64.2.exe" /SILENT /NORESTART /MERGETASKS=!runcode
                    </code>
                </pre>
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%ProgramFiles(x86)%\Microsoft VS Code\unins000.exe" /VERYSILENT /NORESTART
                    "%ProgramFiles%\Microsoft VS Code\unins000.exe" /VERYSILENT /NORESTART
                    </code>
                </pre>
            </div>
            
            <h3 id="ventos">Visualventos</h3>
            <p>Faça o download do <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Visualventos</a>.</p>

            <h3 id="vlc">VLC Media Player</h3>
            <p>Faça o download do <a href="https://www.videolan.org/vlc/index.pt-BR.html">VLC Media Player</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "vlc-3.0.4-win64.exe" /S
                    </code>
                </pre>
            </div>

            <h3 id="xampp">XAMPP</h3>
            <p>Faça o download do  <a href="https://www.apachefriends.org/pt_br/index.html">XAMPP</a>.</p>
            
            <h4>Silent Install</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "xampp-windows-x64-8.1.2-0-VS16-installer.exe" --mode unattended --installer-language pt_BR --launchapps 0 --disable-components xampp_filezilla,xampp_mercury,xampp_tomcat,xampp_perl,xampp_webalizer,xampp_sendmail
                    </code>
                </pre>                
            </div>

            <h4>Silent Uninstall</h4>
            <div class="highlight">
                <pre>
                    <code>
                    "%SystemDrive%\xampp\uninstall.exe" --mode unattended
                    rd "%SystemDrive%\xampp" /s /q
                    </code>
                </pre>
            </div> 

            <h4>Permissões para iniciar e encerrar os serviços XAMPP</h4>
            <div class="highlight">
                <pre>
                    <code>
                    cacls "%SystemDrive%\xampp\xampp-control.ini" /E /P Todos:F
                    </code>
                </pre>
            </div>

            <!--Fim conteudo aplicacoes-->

            <!-- Clone -->
            <h2>Clone Windows</h2>

            <blockquote class="info">
            Para o processo de clonagem, desabilite FastBoot/Secure Boot e utilize o PXE no modo legado.
            </blockquote>

            <!--Conteudo clone-->
            <h3 id="dominio">Computador no domínio</h3>
            <p>Adicione o computador ao domínio conforme <a href="#nome">orientações</a> para cada laboratório.</p>

            <h3 id="gpos">Atualizar as GPOs</h3>
            <div class="highlight">
                <pre>
                    <code>
                    gpupdate /force
                    </code>
                </pre>
            </div>


            <h3 id="atautocad">Ativar AutoCAD</h3>
            <p>Execute o <code class="inline">AutoCAD</code> (necessário internet) e siga os passos que aparecer na tela e, informe a <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave de ativação</a> caso solicitado.</p>
            <p>Em caso de erro na ativação, remover a pasta <code class="inline">FLEXnet</code> que fica localizado em <code class="inline">C:\ProgramData</code> e, execute o programa novamente.</p>

            <h3 id="atrevit">Ativar Revit</h3>
            <p>Execute o <code class="inline">Revit</code> (necessário internet) e siga os passos que aparecer na tela e, informe a <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave de ativação</a> caso solicitado.</p>
            <p>Em caso de erro na ativação, remova a pasta <code class="inline">FLEXnet</code>, localizado em <code class="inline">C:\ProgramData</code>.</p>

            <h3 id="timefreeze">Habilitar Toolwiz Time Freeze</h3>
            <p>Por último, ative o <a href="https://labumuarama.com.br/veyon/#habilitando">Toolwiz Time Freeze</a>.</p>

            <!-- Fim clone-->

        </article>
    </main>
    {% include footer.html %}
</body>
</html>