---
title: "Settings Clone"
permalink: /windows/clone/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-clone.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Nome padrão de computadores, ativação de SO, configuração do Windows Update, login automático e
        congelamento do SO.
      </p>

      <h2 id="nome">Nome e Grupo</h2>
      <p>Renomeie o computador conforme dados abaixo:</p>
      <table class="table table-striped table-hover border">
        <thead>
          <tr>
            <th>LAB</th>
            <th>Nome</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LAB01</td>
            <td>lab1m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB02</td>
            <td>lab2m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB03</td>
            <td>lab3m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB04</td>
            <td>lab4m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB05</td>
            <td>lab5m01</td>
            <td>WORKGROUP</td>
          </tr>
        </tbody>
      </table>

      <h2 id="atwindows">Ativar o Windows</h2>
      <p>Para acessar a key pelo <code>prompt</code>:</p>
      <pre><code>
powershell "(Get-WmiObject -query 'select * from SoftwareLicensingService').OA3xOriginalProductKey"
      </code></pre>

      <p>Referência: <a href="https://github.com/dporkka/windows-product-key">How to find your Windows Product Key using
          the Command Prompt or Powershell</a>
      </p>

      <h2 id="logon">Login Automático</h2>
      <p>Configure o login automático para o usuário <b>Aluno</b>.</p>

      <h2 id="tactical">Tactical RMM</h2>
      <p>Faça o download do agente do Tactical RMM da instalação local.</p>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Instalar após a implantação da imagem.</div>
      </div>

      <h2 id="deep">Habilitar Deep Freeze Cloud</h2>
      <h3 id="desabilitar">Descongelando o SO</h3>
      <pre><code>
cmd /k "C:\Windows\SysWOW64\DFC.exe" PWD /BOOTTHAWED
      </code></pre>

      <h3 id="habilitando">Congelando o SO</h3>
      <pre><code>
cmd /k "C:\Windows\SysWOW64\DFC.exe" PWD /FREEZENEXTBOOT
      </code></pre>

      <h3 id="status">Checar o status</h3>
      <pre><code>
cmd /k "C:\Windows\SysWOW64\DFC.exe" get /ISFROZEN
      </code></pre>

      <div class="container">
        <div class="row">
          <div class="col text-start">
            Voltar para <a href="/windows/final/">Settings Final</a>
          </div>
          <div class="col text-end">
            Ir para <a href="/windows/helpers/">Helpers</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}