---
title:  "Windows 10/11 - Wiki"
permalink: /so/10-11/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
            <div class="sidebar">
        
                {% include nav-so.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-6 mb-5">
                
            <!-- Configuração do Windows 10 -->
                <h1>Ajustes para Windows 10/11</h1>

                <p class="lead">
                    Ajustes necessários para o Windows 10 e 11. A fim de tornar um pouco mais performático o ambiente configurado no camputador.
                </p>

                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Defina as configuração para o usuário <b>IFPR</b> e <b>Aluno</b>.</div>
                </div>

                <h2 id="sistema">Sistema <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <h3>Notificações e ações</h3>
                <ol>
                    <li>Desativar <span class="wiki-arrow">&harr;</span> <b>Tudo</b>.</li>
                </ol>

                <h3>Energia e suspensão</h3>
                <ol>
                    <li>Tela <span class="wiki-arrow">&harr;</span> Quando conectado, desligar após <span class="wiki-arrow">&harr;</span> <b>Nunca</b>;</li>
                    <li>Suspender <span class="wiki-arrow">&harr;</span> Quando conectado, o computador será suspenso após <span class="wiki-arrow">&harr;</span> <b>Nunca</b>.</li>
                </ol>

                <h2 id="tema">Personalização <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <h3>Cores</h3>
                <ol>
                    <li>Efeitos de transparência <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.</li>
                </ol>
                
                <h3>Tela de bloqueio</h3>
                <ol>
                    <li>Tela de Fundo <span class="wiki-arrow">&harr;</span> <b>Imagem</b>;</li>
                    <li>Baixe o <a href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">papel da tela de bloqueio&rarr;</a> para a pasta imagem e defina para a tela;</li>
                    <li>Receba dados interessantes... <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.</li>
                </ol>

                <h3>Iniciar</h3>
                <ol>
                    <li>Mostrar lista de aplicativos no menu Iniciar <span class="wiki-arrow">&harr;</span> <b>Ativado</b>;</li>
                    <li>Todas as outras opções <span class="wiki-arrow">&harr;</span> <b>Desativadas</b>;</li>
                    <li>Escolher quais pastas são exibidas em Iniciar:</li>
                    <ol>
                        <li>Configurações <span class="wiki-arrow">&harr;</span> <b>Ativado</b>;</li>
                        <li>Pasta pessoal <span class="wiki-arrow">&harr;</span> <b>Ativado</b>;</li>
                        <li>Todas as outras opções <span class="wiki-arrow">&harr;</span> <b>Desativadas</b>.</li>
                    </ol>                
                </ol>

                <h3>Barra de Tarefas</h3>
                <ol>
                    <li>Combinar botões da barra de tarefas <span class="wiki-arrow">&harr;</span> <b>Quando a barra de tarefas estiver cheia</b>.</li>
                </ol>

                <h2 id="jogos">Jogos <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <h3>Xbox Game Bar</h3>
                <ol>
                    <li>Habilite a Xbox Game Bar... <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.</li>
                </ol>

                <h3>Modo de Jogo</h3>
                <ol>
                    <li>Modo de Jogo <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.</li>
                </ol>

                <h2 id="pesquisar">Pesquisar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <h3>Pesquisa de conteúdo na nuvem</h3>
                <ol>
                    <li>Conta Microsoft <span class="wiki-arrow">&harr;</span> <b>Desativado</b>;</li>
                    <li>Conta corporativa ou de estudante <span class="wiki-arrow">&harr;</span> <b>Desativado</b>;</li>
                </ol>
                <h3>Histórico</h3>
                <ol>
                    <li>Histórico de pesquisa neste dispositivo <span class="wiki-arrow">&harr;</span> <b>Desativado</b>;</li>
                </ol>
                <h3>Pesquisa na internet</h3>
                <p>Para desativar este recurso crie a chave <code>Explorer</code> em:</p>
<pre><code>
Computador\HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows
</code>
</pre>
                <p>Dentro de <code>Explorer</code> crie um <b>Valor DWORD (32 bits)</b> com o nome <b>DisableSearchBoxSuggestions</b> e atribua em <b>Dados do valor: <code>1</code></b>. Reinicie para aplicar as alterações.</p>

                <h2 id="privacidade">Privacidade <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <h3>Geral</h3>
                <ol>
                    <li>Permitir que o Windows controle a abertura de aplicativos... <span class="wiki-arrow">&harr;</span> <b>Ativado</b>;</li>
                    <li><b>Desativar</b> as demais opções.</li>
                </ol>

                <h3>Histórico de atividades</h3>
                <ol>
                    <li><b>Tudo Desativado</b>.</li>
                </ol>

                <h3>Aplicativos em segundo plano</h3>
                <ol>
                    <li>Permitir a execução de aplicativos em segundo plano <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.</li>
                </ol>

                <h2 id="edge">Configurações do Edge <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Configurar a página inicial do navegador Edge.</p>
                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/configedge.png" alt="Configuração do navegador Edge"></p>
        
                <!-- End Configuração do Windows 10 -->        
        </main>

        <div class="col-lg-3 d-md-none d-lg-block">
            <div class="on-page">
             <div class="mb-1 pb-2 border-bottom">
                 <strong class="h5">Na página</strong>
             </div>
             <ul class="list-unstyled sidebar-ul">
                {% include links-10-11.html %}
             </ul>
            </div>
         </div>

    </div>

</div>

{% include footer.html %}