---
title: "Settings Clone"
permalink: /image/clone/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-clone.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Nomes de computadores, ativação de softwares e configurações necessárias
        após a clonagem. Tudo para que o equipamento apresente um bom
        funcionamento.
      </p>

      <!-- Start Clone -->

      <h2 id="nome">Nome e Grupo<span></span></h2>
      <p>Renomeie o computador conforme dados abaixo:</p>
      <table class="table table-striped table-hover border">
        <thead>
          <tr>
            <th>LAB</th>
            <th>Nome</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LAB01</td>
            <td>lab1m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB02</td>
            <td>lab2m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB03</td>
            <td>lab3m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB04</td>
            <td>lab4m01</td>
            <td>WORKGROUP</td>
          </tr>
          <tr>
            <td>LAB05</td>
            <td>lab5m01</td>
            <td>WORKGROUP</td>
          </tr>
        </tbody>
      </table>

      <h2 id="atwindows">Ativar o Windows<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Todas as máquinas possuem licença OEM.
        </div>
      </div>
      <p>Para ver a key via <code>prompt</code> como <b>Administrador:</b></p>
      <pre><code>wmic path SoftwareLicensingService get OA3xOriginalProductKey</code></pre>
      <p>Para ver a key via <code>powerShell</code> como <b>Administrador:</b></p>
      <pre><code>powershell "(Get-WmiObject -query 'select * from SoftwareLicensingService').OA3xOriginalProductKey"</code></pre>
      <p>Referência: <a href="https://github.com/dporkka/windows-product-key">How to find your Windows Product Key using
          the Command Prompt or Powershell&rarr;</a>
      </p>

      <h2 id="dewinupdate">Desativar Windows Update<span></span></h2>
      <p>Execute o <code>"disable updates.bat"</code> de <a href="/image/softwares/#winupdate">Windows Update
          Disabler&larr;</a>.</p>

      <h2 id="logon">Login Automático<span></span></h2>
      <p>Configure o login automático para o usuário <b>Aluno</b>.</p>

      <h2 id="atautocad">Ativar AutoCAD<span></span></h2>
      <p>
        Execute o AutoCAD (necessário internet) e siga os passos que aparecer na
        tela e, informe a
        <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave
          de ativação&rarr;</a>
        caso solicitado.
      </p>

      <h2 id="atrevit">Ativar Revit<span></span></h2>
      <p>
        Execute o Revit (necessário internet) e siga os passos que aparecer na
        tela e, informe a
        <a href="https://docs.google.com/spreadsheets/d/1RaX8ubdo7RuoA8qhwZAWh6ZgoTQsC_E37R8E-21wkHQ/edit#gid=0">chave
          de ativação&rarr;</a>
        caso solicitado.
      </p>

      <h2 id="deep">Habilitar Deep Freeze Cloud<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          É o software responsável por congelar o Sistema Operacional Windows a
          fim mantê-lo intacto.
        </div>
      </div>

      <h3 id="desabilitar">Descongelando o SO</h3>
      <pre><code>cmd /k "C:\Windows\SysWOW64\DFC.exe" password /BOOTTHAWED</code></pre>

      <h3 id="habilitando">Congelando o SO</h3>
      <pre><code>cmd /k "C:\Windows\SysWOW64\DFC.exe" password /FREEZENEXTBOOT</code></pre>

      <h3 id="status">Checar o status</h3>
      <pre><code>cmd /k "C:\Windows\SysWOW64\DFC.exe" get /ISFROZEN</code></pre>
      <p>Este comando <b>retorna 0</b> (descongelando) ou <b>retorna 1</b> (congelado).</p>

      <h2 id="restore">Habilitar Reboot Restore RX<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          É o software responsável por congelar o Sistema Operacional Windows a
          fim mantê-lo intacto.
        </div>
      </div>

      <h2 id="timefreeze">Habilitar Toolwiz Time Freeze<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          É o software responsável por congelar o Sistema Operacional Windows a
          fim mantê-lo intacto.
        </div>
      </div>

      <h3 id="desabilitar">Descongelando o SO</h3>
      <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /unfreeze /usepass=password</code></pre>

      <h3 id="habilitando">Congelando o SO</h3>
      <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /freezealways /usepass=password</code></pre>

      <h3 id="status">Checar o status</h3>
      <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /check /usepass=password</code></pre>

      <!-- End Clone-->
    </main>
  </div>
</div>

{% include footer.html %}