---
title: "Settings Final"
permalink: /windows/final/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-final.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Otimização de inicialização do SO, configuração de tarefas, configuração de proxy e generalização do Windows.
      </p>

      <h2 id="recursos">Aplicativos e recursos<span></span></h2>

      <h3>Inicialização</h3>
      <ol>
        <li>Desativar inicializações <b>desnecessárias</b></li>
      </ol>

      <h2 id="startwin">Otimize a inicialização<span></span></h2>
      <p>Acesse <code>msconfig</code> como <b>Administrador</b>.</p>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/msconfig.png" alt="msconfig" />
      </p>

      <h2 id="protecao">Proteção do Sistema<span></span></h2>
      <p>
        Desative a Proteção do Sistema através das Configurações Avançadas do
        Sistema:
      </p>
      <ol>
        <li>
          Configurações <span class="wiki-arrow">&harr;</span> Sistema
          <span class="wiki-arrow">&harr;</span> Sobre
          <span class="wiki-arrow">&harr;</span> Configurações Avançadas do
          Sistema <span class="wiki-arrow">&harr;</span> Proteção do Sistema
          <span class="wiki-arrow">&harr;</span> Configurar...
          <span class="wiki-arrow">&harr;</span> Desativar a proteção do
          sistema.
        </li>
      </ol>

      <h2 id="tarefas">Agendador de Tarefas<span></span></h2>
      <p>Desative as tarefas encontradas em:</p>
      <ol>
        <li>
          Tarefas da <b>Biblioteca do Agendador</b>
          <span class="wiki-arrow">&harr;</span> <b>Desativar tudo</b>
        </li>
        <li>
          Tarefas de <b>Microsoft</b> <span class="wiki-arrow">&harr;</span>
          <b>Windows</b> <span class="wiki-arrow">&harr;</span>
          <b>AppListBackup</b> <span class="wiki-arrow">&harr;</span>
          <b>Desativar Tudo</b>
        </li>
        <li>
          Tarefas de <b>Microsoft</b> <span class="wiki-arrow">&harr;</span>
          <b>Windows</b> <span class="wiki-arrow">&harr;</span>
          <b>License Manager</b> <span class="wiki-arrow">&harr;</span>
          <b>Desativar TempSignedLicenseExchange</b>
        </li>
      </ol>

      <h2 id="historico">Histórico de Navegação<span></span></h2>
      <p>Remover histórico do Edge, Chrome e Firefox.</p>

      <h2 id="proxy">Configuração de proxy<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Possível definir pelo Active Directory. Configure para o usuário
          <b>IFPR</b> e <b>Aluno</b>.
        </div>
      </div>
      <p>Dados do proxy:</p>
      <pre><code>192.168.0.6:3128</code></pre>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/proxy.png" alt="Proxy" />
      </p>

      <h2 id="sysprep">Generalizar Instalação do Windows<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Antes de criar a imagem do Windows, é necessário generalizar a instalação atual. No meu cenário, estou
          usando um <b>xml</b> para automatizar as configurações iniciais após a clonagem da imagem generalizada.
        </div>
      </div>
      <pre><code>sysprep.exe /generalize /oobe /unattend:C:\MYCONF.xml /shutdown</code></pre>
      <p>Referências: <a
          href="https://learn.microsoft.com/en-us/windows-hardware/customize/desktop/unattend/microsoft-windows-shell-setup-autologon">Microsoft-Windows-Shell-Setup&rarr;</a>
        e <a
          href="https://learn.microsoft.com/pt-br/windows-hardware/manufacture/desktop/sysprep--generalize--a-windows-installation?view=windows-11">Sysprep&rarr;</a>
      </p>

      <h3>Erro no Sysprep</h3>
      <p>Se ocorrerem erros no processo, examine o arquivo
        <code>%WINDIR%\system32\Sysprep\panther\setupact.log</code> e remova o <b>App</b> que estiver causando a falha
        através do <code>PowerShell</code>:
      </p>
      <pre><code>Get-AppxPackage -AllUsers | Where-Object {$_.PackageFullName -eq "NomeDoPackage"} | Remove-AppxPackage -AllUsers</code></pre>

      <p>Referência: <a
          href="https://learn.microsoft.com/en-us/powershell/module/appx/get-appxpackage?view=windowsserver2025-ps">Get-AppxPackage&rarr;</a>
      </p>

      <div class="container">
        <div class="row">
          <div class="col text-start">
            <a href="/windows/softwares/">&larr;Settings Softwares</a>
          </div>
          <div class="col text-end">
            <a href="/windows/clone/">Settings Clone&rarr;</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}