---
title: "Políticas para Active Directory"
permalink: /gpo/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-gpo.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Detalhes de configurações de Objeto de Política de Grupo realizados no
        Active Directory.
      </p>

      <h2 id="adm-local">Administrator Local</h2>
      <ol>
        <li class="mb-2">Crie um grupo global;</li>
        <li class="mb-2">
          Adicione os usuários que serão administradores ao grupo;
        </li>
        <li class="mb-2">
          Crie uma GPO com o nome que achar conveniente. Exemplo:
          <b>adm_local</b>;
        </li>
        <li class="mb-2">
          Na coluna de <b>Grupos Restritos</b> adicione o grupo criado;
        </li>
        <li class="mb-2">
          Em propriedades, em "Este grupo é um membro de:" Clique em
          Adicionar... e no campo grupo preencha com "administradores".
        </li>
      </ol>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/adm-local.png" alt="ADM Local" />
      </p>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          O usuário que for incluído neste grupo, terá poderes administrativos
          na máquina local.
        </div>
      </div>

      <h2 id="remoto">Acesso remoto</h2>
      <p>Configurando o acesso remoto:</p>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/remoto.png" alt="Acesso remoto" />
      </p>

      <h2 id="login">
        Login automático
      </h2>

      <p>Detalhes de <code>AutoAdminLogon</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: AutoAdminLogon
Tipo de valor: REG_SZ
Dados de valor: 1
</code></pre>

      <p>Detalhes de <code>DefaultDomainName</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultDomainName
Tipo de valor: REG_SZ
Dados de valor: ensino.umuarama.local
</code></pre>

      <p>Detalhes de <code>DefaultPassword</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultPassword
Tipo de valor: REG_SZ
Dados de valor: aluno123
</code></pre>

      <p>Detalhes de <code>DefaultUserName</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultUserName
Tipo de valor: REG_SZ
Dados de valor: aluno
</code></pre>

      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/login.png"
          alt="Login automático" />
      </p>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Altere as informações para seu usuário de preferência.</div>
      </div>

      <!--Fim conteudo Geral-->

      <!-- Relacao confianca -->
      <h2 id="sync">Tolerância de sincronização</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Evita a falha na relação de confiança em computadores que usam Deep
          Freeze, etc.
        </div>
      </div>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/diferenca-de-horas.png"
          alt="Tela de Configuração" />
      </p>

      <h2 id="passtime">Tempo de senha de computador</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Evita a falha na relação de confiança em computadores que usam Deep
          Freeze, etc.
        </div>
      </div>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/relacao-confianca.png"
          alt="Tela de Configuração" />
      </p>
      <!-- End Relacao confianca -->

      <!-- Tema -->
      <h2 id="wallpaper">Papel de parede</h2>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/wallpaper.png"
          alt="Tela de configuração de Papel de Parede" />
      </p>

      <h2 id="script">Script de papel de parede</h2>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/script-wallpaper.png"
          alt="Tela de configurção de script de wallpaper" />
      </p>

      <h3>Conteúdo do Script</h3>
      <pre><code>@echo off

SET "IMGIF=\\192.168.X.XX\wallpaper.png"
SET "USERIF=aluno"

if not exist "C:\Users\%USERIF%\Pictures\wallpaper.png" (
    xcopy /y "%IMGIF%" "C:\Users\%USERIF%\Pictures"
)

exit
</code></pre>

      <!-- End Tema -->

      <!-- Opcoes de Seguranca -->
      <h2 id="tarefas">Gerenciador de Tarefas</h2>
      <ol>
        <li>
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Gerenciador de tarefas
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

      <h2 id="bloqueio">Bloquear Computador</h2>
      <ol>
        <li>
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Bloquear Computador
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

      <h2 id="logoff">Logoff</h2>
      <ol>
        <li>
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Logoff
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

      <!-- End Opcoes de Seguranca -->
    </main>
  </div>
</div>

{% include footer.html %}