---
title: "Políticas para Active Directory"
permalink: /gpo/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-gpo.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Detalhes de configurações de Objeto de Política de Grupo realizados no
        Active Directory.
      </p>

      <!-- Configuração do Usuário -->

      <h2>Configuração de Computador</h2>
      <h3>Em Políticas</h3>
      <h4>Configurações do Windows</h4>
      <ul>
        <li class="mb-2"><b>Scripts (Inicialização ou Encerramento)</b></li>
        <ol>
          <li class="mb-2">Em Inicialização adicione <code>wallpaper.bat</code>:</li>
          <pre><code>@echo off

setlocal

set "IMAGE=background.png"
set "SERVER=\\192.168.x.xx\datapublic\0\Background\%IMAGE%"
set "DIRIMAGE=C:\Background"

if not exist "%DIRIMAGE%\%IMAGE%" (
  md "%DIRIMAGE%"
  copy /y "%SERVER%" "%DIRIMAGE%"
)

exit
</code></pre>
        </ol>
        <li class="mb-2"><b>Configurações de Segurança</b></li>
        <ol>
          <li class="mb-2">Políticas de Conta &rarr; Políticas do Kerberos</li>
          <ol>
            <li class="mb-2">Tolerância máxima para a... &rarr; 60
            </li>
          </ol>
          <li class="mb-2">Políticas Locais &rarr; Opções de Segurança</li>
          <ol>
            <li class="mb-2">Contas: bloquear contas da Microsoft &rarr; Os usuários não podem adicionar ou fazer...
            </li>
            <li class="mb-2">Membro de domínio: duração máxima de senha... &rarr; 30
            </li>
          </ol>

          <li class="mb-2">Serviços do sistema</li>
          <ol>
            <li class="mb-2">Backup do Windows &rarr; Desabilitado</li>
            <li class="mb-2">Otimizador de unidade &rarr; Manual</li>
            <li class="mb-2">SysMain &rarr; Desabilitado</li>
            <li class="mb-2">Windows Search &rarr; Desabilitado</li>
            <li class="mb-2">Microsoft Edge Elevation Service &rarr; Desabilitado</li>
            <li class="mb-2">Microsoft Edge Update Service (edgeupdate) &rarr; Desabilitado</li>
            <li class="mb-2">Microsoft Edge Update Service (edgeupdatem) &rarr; Desabilitado</li>
          </ol>
        </ol>

        </ol>
      </ul>

      <h4>Modelos Administrativos</h4>
      <ul>
        <li class="mb-2"><b>Componentes do Windows</b></li>
        <ol>
          <li class="mb-2">Conta da Microsoft</li>
          <ol>
            <li class="mb-2">Bloquear todas as autenticações de usuário... &rarr; Habilitado</li>
          </ol>
          <li class="mb-2">Conteúdo de Nuvem</li>
          <ol>
            <li class="mb-2">Desativar as experiencias do cliente da Microsoft &rarr; Habilitado</li>
          </ol>
          <li class="mb-2">Explorador de Arquivos</li>
          <ol>
            <li class="mb-2">Configurar o Windows Defender SmartScreen &rarr; Desativado</li>
          </ol>
          <li class="mb-2">Serviços de Área de Trabalho Remota</li>
          <ol>
            <li class="mb-2"> Host de Sessão da... &rarr; Conexões &rarr; Permitir que os usuário se conectem... &rarr;
              Habilitado</li>
          </ol>
          <li class="mb-2">Windows Update &rarr; Gerenciar a experiência do usuário final</li>
          <ol>
            <li class="mb-2">Configurar Atualizações Automáticas &rarr; Desativado</li>
            <li class="mb-2">Remover acesso ao uso de todos os recursos do Windows Update &rarr; Habilitado</li>
          </ol>
        </ol>
        <li class="mb-2"><b>Menu Iniciar e Barra de Tarefas</b></li>
        <ol>
          <li class="mb-2"> Não manter histórico de documentos... &rarr; Habilitado</li>
        </ol>
      </ul>

      <h3>Em Preferências</h3>
      <h4>Configurações do Windows</h4>
      <ul>
        <li class="mb-2"><b>Registro</b></li>
        <ol>
          <li class="mb-2">
            Adicione o Item do Registro <code>AutoAdminLogon</code>:
          </li>
          <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: AutoAdminLogon
Tipo de valor: REG_SZ
Dados de valor: 1
</code></pre>
          <li class="mb-2">
            Adicione o Item do Registro <code>DefaultDomainName</code>:
          </li>
          <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultDomainName
Tipo de valor: REG_SZ
Dados de valor: ensino.umuarama.local
</code></pre>
          <li class="mb-2">
            Adicione o Item do Registro <code>DefaultPassword</code>:
          </li>
          <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultPassword
Tipo de valor: REG_SZ
Dados de valor: Estudant3
</code></pre>
          <li class="mb-2">
            Adicione o Item do Registro <code> DefaultUserName</code>:
          </li>
          <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultUserName
Tipo de valor: REG_SZ
Dados de valor: estudante
</code></pre>
        </ol>
      </ul>

      <!-- Configuração do Usuário -->

      <h2>Configuração do Usuário</h2>
      <h3>Em Políticas</h3>
      <h4>Modelos Administrativos</h4>
      <ul>
        <li class="mb-2"><b>Área de Trabalho</b></li>
        <ol>
          <li class="mb-2">Active Desktop</li>
          <ol>
            <li class="mb-2">Papel de Parede da Área de Trabalho &rarr; Habilitado</li>
          </ol>
          <li class="mb-2">Impedir opções de adicionar, arrastar... &rarr; Habilitado</li>
          <li class="mb-2">Proibir o ajustes de barras de ferramentas da área... &rarr; Habilitado</li>
        </ol>
        <li class="mb-2"><b>Componentes do Windows</b></li>
        <ol>
          <li class="mb-2">Windows Update &rarr; Gerenciar atualizações oferecidas pelo Windows...</li>
          <ol>
            <li class="mb-2">Remover acesso ao uso de todos os recursos Windows Update &rarr; Habilitado</li>
          </ol>
        </ol>
        <li class="mb-2"><b>Menu iniciar e Barra de Tarefas</b></li>
        <ol>
          <li class="mb-2">Não permitir a fixação de programas... &rarr; Habilitado</li>
          <li class="mb-2"> Bloquear todas as configurações da barra de... &rarr; Habilitado</li>
          <li class="mb-2"> Impedir que os usuários adicionem ou removam... &rarr; Habilitado</li>
          <li class="mb-2">Impedir que os usuários reorganizem as barras... &rarr; Habilitado</li>
          <li class="mb-2"> Impedir que os usuários movam a barra... &rarr; Habilitado</li>
          <li class="mb-2"> Impedir que os usuários redimensionem a... &rarr; Habilitado</li>
        </ol>
        <li class="mb-2"><b>Painel de Controle</b></li>
        <ol>
          <li class="mb-2">Personalização</li>
          <ol>
            <li class="mb-2">Impedir a alteração do esquema de cores &rarr; Habilitado</li>
            <li class="mb-2"> Impedir a alteração de tema &rarr; Habilitado</li>
            <li class="mb-2">Impedir a alteração de estilo visual... &rarr; Habilitado</li>
            <li class="mb-2">Habilitar a proteção de tela &rarr; Desativado</li>
            <li class="mb-2">Proibir seleção do tamanho da fonte do estilo visual... &rarr; Habilitado</li>
            <li class="mb-2">Impedir a alteração de cor e aparência &rarr; Habilitado</li>
            <li class="mb-2"> Impedir a alteração de plano de fundo... &rarr; Habilitado</li>
            <li class="mb-2">Impedir a alteração de ponteiros... &rarr; Habilitado</li>
            <li class="mb-2">Impedir a alteração de proteção de tela &rarr; Habilitado</li>
            <li class="mb-2">Impedir a alteração de sons &rarr; Habilitado</li>
          </ol>
        </ol>
        <li class="mb-2"><b>Sistema</b></li>
        <ol>
          <li class="mb-2">Opções de Ctrl + Alt + Del</li>
          <ol>
            <li class="mb-2">Remover Bloquear Computador &rarr; Habilitado</li>
            <li class="mb-2">Remover Gerenciador de Tarefas &rarr; Habilitado</li>
          </ol>
        </ol>
      </ul>
    </main>
  </div>
</div>

{% include footer.html %}