---
title: "Políticas para Active Directory"
permalink: /gpo/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-gpo.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Detalhes de configurações de Objeto de Política de Grupo realizados no
        Active Directory.
      </p>

      <h2>Em Configuração de Computador</h2>
      <h3>Configurações do Windows</h3>
      <ul>
        <li class="mb-2"><b>Configurações de Segurança</b></li>
        <ol>
          <li class="mb-2">Políticas Locais &rarr; Opções de Segurança</li>
          <ol>
            <li class="mb-2">Contas: bloquear contas da Microsoft &rarr; Os usuários não podem adicionar ou fazer...
            </li>
          </ol>
        </ol>
      </ul>

      <h3>Modelos Administrativos</h3>
      <ul>
        <li class="mb-2"><b>Componentes do Windows</b></li>
        <ol>
          <li class="mb-2">Conta da Microsoft</li>
          <ol>
            <li class="mb-2">Bloquear todas as autenticações de usuário... &rarr; Habilitado</li>
          </ol>
          <li class="mb-2">Conteúdo de Nuvem</li>
          <ol>
            <li class="mb-2">Desativar as experiencias do cliente da Microsoft &rarr; Habilitado</li>
          </ol>
          <li class="mb-2">Explorador de Arquivos</li>
          <ol>
            <li class="mb-2">Configurar o Windows Defender SmartScreen &rarr; Desativado</li>
          </ol>
        </ol>
        <li class="mb-2"><b>Menu Iniciar e Barra de Tarefas</b></li>
        <ol>
          <li class="mb-2"> Não manter histórico de documentos... &rarr; Habilitado</li>
        </ol>
      </ul>

      <h2>Em Configuração do Usuário</h2>
      <h3>Modelos Administrativos</h3>
      <ul>
        <li class="mb-2"><b>Área de Trabalho</b></li>
        <ol>
          <li class="mb-2">
            Impedir opções de adicionar, arrastar...&rarr;Habilitado</li>
          <li class="mb-2">Proibir o ajustes de barras de ferramentas da área... Habilitado</li>
        </ol>
        <li class="mb-2"><b>Menu iniciar e Barra de Tarefas</b></li>
        <ol>
          <li class="mb-2">Não permitir a fixação de programas...&rarr;Habilitado</li>
          <li class="mb-2"> Bloquear todas as configurações da barra de... Habilitado</li>
          <li class="mb-2"> Impedir que os usuários adicionem ou removam...&rarr;Habilitado</li>
          <li class="mb-2">Impedir que os usuários reorganizem as barras...&rarr;Habilitado</li>
          <li class="mb-2"> Impedir que os usuários movam a barra... Habilitado</li>
          <li class="mb-2"> Impedir que os usuários redimensionem a... Habilitado</li>
        </ol>
        <li class="mb-2"><b>Painel de Controle</b></li>
        <ol>
          <li class="mb-2">Personalização</li>
          <ol>
            <li class="mb-2">Impedir a alteração do esquema de cores&rarr;Habilitado</li>
            <li class="mb-2"> Impedir a alteração de tema&rarr;Habilitado</li>
            <li class="mb-2">Impedir a alteração de estilo visual...&rarr;Habilitado</li>
            <li class="mb-2">Habilitar a proteção de tela&rarr;Desativado</li>
            <li class="mb-2">Proibir seleção do tamanho da fonte do estilo visual...&rarr;Habilitado</li>
            <li class="mb-2">Impedir a alteração de cor e aparência&rarr;Habilitado</li>
            <li class="mb-2"> Impedir a alteração de plano de fundo...&rarr;Habilitado</li>
            <li class="mb-2">Impedir a alteração de ponteiros...&rarr;Habilitado</li>
            <li class="mb-2">Impedir a alteração de proteção de tela&rarr;Habilitado</li>
            <li class="mb-2">Impedir a alteração de sons&rarr;Habilitado</li>
          </ol>
        </ol>
        <li class="mb-2"><b>Sistema</b></li>
        <ol>
          <li class="mb-2">Opções de Ctrl + Alt + Del</li>
          <ol>
            <li>Remover Bloquear Computador - Habilitado</li>
            <li>Remover Gerenciador de Tarefas - Habilitado</li>
          </ol>
        </ol>
      </ul>

      <h2 id="remoto">Acesso remoto</h2>
      <p>Configurando o acesso remoto:</p>

      <h2 id="login">
        Login automático
      </h2>

      <p>Detalhes de <code>AutoAdminLogon</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: AutoAdminLogon
Tipo de valor: REG_SZ
Dados de valor: 1
</code></pre>

      <p>Detalhes de <code>DefaultDomainName</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultDomainName
Tipo de valor: REG_SZ
Dados de valor: ensino.umuarama.local
</code></pre>

      <p>Detalhes de <code>DefaultPassword</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultPassword
Tipo de valor: REG_SZ
Dados de valor: aluno123
</code></pre>

      <p>Detalhes de <code>DefaultUserName</code>:</p>
      <pre><code>Ação: Atualizar
Hive: HKEY_LOCAL_MACHINE
caminho da Chave: SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Nome do valor: DefaultUserName
Tipo de valor: REG_SZ
Dados de valor: aluno
</code></pre>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Altere as informações para seu usuário de preferência.</div>
      </div>

      <h2 id="sync">Tolerância de sincronização</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Evita a falha na relação de confiança em computadores que usam Deep
          Freeze, etc.
        </div>
      </div>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/diferenca-de-horas.png"
          alt="Tela de Configuração" />
      </p>

      <h2 id="passtime">Tempo de senha de computador</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Evita a falha na relação de confiança em computadores que usam Deep
          Freeze, etc.
        </div>
      </div>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/relacao-confianca.png"
          alt="Tela de Configuração" />
      </p>

      <h2 id="wallpaper">Papel de parede</h2>

      <h2 id="script">Script de papel de parede</h2>

      <h3>Conteúdo do Script</h3>
      <pre><code>@echo off

SET "IMGIF=\\192.168.X.XX\wallpaper.png"
SET "USERIF=aluno"

if not exist "C:\Users\%USERIF%\Pictures\wallpaper.png" (
    xcopy /y "%IMGIF%" "C:\Users\%USERIF%\Pictures"
)

exit
</code></pre>

      <h2 id="tarefas">Gerenciador de Tarefas</h2>
      <ol>
        <li class="mb-2">
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Gerenciador de tarefas
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

      <h2 id="bloqueio">Bloquear Computador</h2>
      <ol>
        <li class="mb-2">
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Bloquear Computador
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

      <h2 id="logoff">Logoff</h2>
      <ol>
        <li class="mb-2">
          Configuração do usuário &rarr; Modelos
          Administrativos &rarr; Sistema
          &rarr; Opções de Ctrl+Alt+Del
          &rarr; Remover Logoff
          &rarr; <b>Habilitado</b>
        </li>
      </ol>

    </main>
  </div>
</div>

{% include footer.html %}