---
title: "Settings Profile"
permalink: /linux/profile
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-profile.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Configurações para o perfil do usuário Padawan.
                  </p>

                  <h2 id="l-background">Plano de fundo</h2>
                  <p>Baixe o <a
                              href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">background.png</a>
                        para a pasta <b>Imagens</b> e defina como plano de fundo.
                  </p>

                  <h2 id="l-config">Configurações</h2>
                  <h3>Energia</h3>
                  <h4>Economia de energia</h4>
                  <ol>
                        <li class="mb-2">
                              Apagar a tela &rarr; Nunca
                        </li>
                        <li class="mb-2">
                              Suspensão automática &rarr; Desligada
                        </li>
                  </ol>

                  <h2 id="l-personalizacao">Personalização</h2>
                  <p>Ferramentas que serão utilizados para personalização.</p>
                  <pre><code>
# install git                        
sudo apt install git

# install gnome-tweaks
sudo apt install gnome-tweaks

# install extension-manager
sudo flatpak install flathub com.mattjakeman.ExtensionManager
                  </code></pre>
                  <h3>Instalando ícones</h3>
                  <pre><code>
git clone https://github.com/yeyushengfan258/Win11-icon-theme && cd Win11-icon-theme && ./install.sh
                  </code></pre>

                  <h3>Instalando fonte</h3>
                  <pre><code>
git clone https://github.com/mrbvrz/segoe-ui-linux && cd Win11-icon-theme && ./install.sh && fc-cache -f -v
                  </code></pre>

                  <h2 id="l-tweaks">Ajustes</h2>
                  <p>Abra o Gnome-Tweaks:</p>
                  <ol>
                        <li>Na aba Fontes selecione <b>Segoe UI Light</b>;</li>
                        <li>Na aba Aparência selecione <b>Win11</b>.</li>
                  </ol>

                  <h2 id="l-extensoes">Extensões</h2>
                  <p>Instale as extensões abaixo pelo Gerenciador de Extensões.</p>

                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>Desative <b>Zorin Menu</b> e <b>Zorin Taskbar</b>.
                        </div>
                  </div>

                  <h3>ArcMenu</h3>
                  <p>Menu de aplicativos para o GNOME Shell.</p>
                  <p>Baixe o <a
                              href="https://drive.google.com/drive/folders/10jDcEuIcIC21Ig9n1_k1jMzCne9WIJlv?usp=sharing">icon-menu-win11.png
                              (ícone do menu)</a> para a pasta <b>Imagens</b> e o <a
                              href="https://drive.google.com/drive/folders/10jDcEuIcIC21Ig9n1_k1jMzCne9WIJlv?usp=sharing">
                              arquivo de configuração (config-arc-menu)</a> para restaurar no ArcMenu.</p>

                  <h3>Dash to Panel</h3>
                  <p>Uma barra de tarefas com ícones para o Gnome Shell.</p>
                  <p>Baixe o <a
                              href="https://drive.google.com/drive/folders/10jDcEuIcIC21Ig9n1_k1jMzCne9WIJlv?usp=sharing">arquivo
                              de configuração (config-dash-to-panel)</a> para restaurar no Dash to Panel.</p>
                  <h4>Organização da barra</h4>
                  <p><img class="img-fluid rounded-2" src="/assets/images/pages/dash-to-panel.png"
                              alt="Distribuição das áreas na barra"></p>
                  <h3>Date Menu Formatter</h3>
                  <p>Permite personalizar a exibição da data no painel.</p>
                  <p>Configuração: </p>
                  <pre><code>
# Align Text
Right

# Pattern
HH:mm\ndd/MM/yyyy
                  </code></pre>

                  <h3>Disable extension updates</h3>
                  <p>Desativa as atualizações automáticas de extensões no GNOME.</p>

                  <h2 id="l-appearance">Zorin Appearance</h2>
                  <h3>Área de Trabalho</h3>
                  <h4>ícones</h4>
                  <ol>
                        <li class="mb-2">
                              Ícones da área de trabalho &rarr; Ativo
                        </li>
                        <li class="mb-2">
                              Tamanho do ícone &rarr; Pequeno
                        </li>
                        <li class="mb-2">
                              Deixar ativo &rarr; Somente a Lixeira
                        </li>
                  </ol>

                  <h2 id="l-animacoes">Animações</h2>
                  <p>Desative as animações da interface:</p>
                  <pre><code>
gsettings set org.gnome.desktop.interface enable-animations false
                  </code></pre>

                  <h2 id="l-result">Resultado da personalização</h2>
                  <p><img class="img-fluid rounded-2" src="/assets/images/pages/desktop.png"
                              alt="Resultado da personalização"></p>

                  <div class="container mt-5">
                        <div class="row">
                              <div class="col text-start">
                                    Voltar para <a href="/linux/">Settings Linux</a>
                              </div>
                              <div class="col text-end">
                                    Ir para <a href="/linux/softwares/">Settings Softwares</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}