---
title: "Settings Profile"
permalink: /linux/profile
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-profile.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Configurações para o perfil do usuário Aluno.
                  </p>

                  <h2 id="l-aparencia">Aparência</h2>
                  <h3>Efeitos</h3>
                  <ol>
                        <li class="mb-2">Efeitos da área de trabalho e janela &rarr;
                              <b>Desabilitado</b>.
                        </li>
                  </ol>
                  <h3>Planos de Fundo</h3>
                  <ol>
                        <li class="mb-2">Imagens &rarr; Baixe o arquivo <a
                                    href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">
                                    background.png</a> para a pasta <code>~/.imagens</code> do <b>Aluno</b> e
                              <b>selecione-o</b>.
                        </li>
                  </ol>
                  <h3>Temas</h3>
                  <ol>
                        <li class="mb-2">Cursor do Mouse &rarr; Baixe e extraia <a
                                    href="https://github.com/birbkeks/windows-cursors">
                                    Windows-cursors</a> para <code>~/.icons</code> do <b>Aluno</b> e
                              <b>selecione-o</b>.
                        </li>
                        <li class="mb-2">Aplicativos &rarr; Baixe e extraia o tema <a
                                    href="https://github.com/B00merang-Project/Windows-10">
                                    Windows-10</a> para <code>~/.themes</code> do <b>Aluno</b> e
                              <b>selecione-o</b>.
                        </li>
                        <li class="mb-2">Ícones &rarr; Baixe e extraia <a
                                    href="https://github.com/B00merang-Artwork/Windows-10">
                                    Windows 10 icon theme</a> para <code>~/.icons</code> do <b>Aluno</b> e
                              <b>selecione-o</b>.
                        </li>
                        <li class="mb-2">Área de Trabalho &rarr; Selecione
                              <b>cinnamon</b>.
                        </li>
                  </ol>
                  <p>
                        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/linux-temas.png"
                              alt="Configuração de tema" />
                  </p>

                  <h2 id="l-preferencias">Preferências</h2>
                  <h3>Applets</h3>
                  <ol>
                        <li class="mb-2">Na aba Download &rarr; instale o
                              <b>CinnVIIStarkMenu</b>.
                        </li>
                  </ol>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Substitua o menu padrão do <b>Linux Mint</b> pelo <b>CinnVIIStarkMenu</b> e faça as devidas
                              configurações.
                        </div>
                  </div>

                  <h3>Área de Trabalho</h3>
                  <ol>
                        <li class="mb-2">Ícones da Área de Trabalho &rarr; Lixeira <span
                                    class="wiki-arrow">&rarr;</span> <b>Habilitado</b>.
                        </li>
                  </ol>

                  <h3>Notificações</h3>
                  <ol>
                        <li class="mb-2">Habilitar notificações &rarr;
                              <b>Desabilitado</b>.
                        </li>
                  </ol>

                  <h3>Proteção de Tela</h3>
                  <ol>
                        <li class="mb-2">Atraso antes de iniciar a proteção de tela <span
                                    class="wiki-arrow">&rarr;</span> <b>Nunca</b>.
                        </li>
                        <li class="mb-2">Bloquear o computador quando entrar em suspensão <span
                                    class="wiki-arrow">&rarr;</span> <b>Desabilitado</b>.
                        </li>
                        <li class="mb-2">Bloquear o computador após a proteção de tela iniciar <span
                                    class="wiki-arrow">&rarr;</span> <b>Desabilitado</b>.
                        </li>
                  </ol>

                  <h2 id="l-hardware">Hardware</h2>
                  <h3>Gerenciamento de energia</h3>
                  <ol>
                        <li class="mb-2">Desligar a tela quando inativo por &rarr;
                              <b>Nunca</b>.
                        </li>
                        <li class="mb-2">Suspender quando inativo por &rarr;
                              <b>Nunca</b>.
                        </li>
                  </ol>

                  <h2 id="l-gerenciador">Gerenciador de Atualizações</h2>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Aplica-se ao usuário <b>IFPR</b> e <b>Aluno</b>.
                        </div>
                  </div>
                  <ol>
                        <li class="mb-2">Editar &rarr; Preferências <span class="wiki-arrow">&rarr;</span>
                              <b>Desabilitar tudo</b>.
                        </li>
                  </ol>

                  <div class="container">
                        <div class="row">
                              <div class="col text-start">
                                    Voltar para <a href="/linux/">Settings Linux</a>
                              </div>
                              <div class="col text-end">
                                    Ir para <a href="/linux/softwares/">Settings Softwares</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}