---
title: "Settings Profile"
permalink: /windows/profile/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-profile.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Configurações para o perfil do usuário Aluno e do usuário IFPR.
      </p>

      <h2 id="opcoespastas">Opções de pastas<span></span></h2>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/opcoes-de-pastas.png"
          alt="Oções de pastas" />
      </p>

      <h2 id="senhas">Senhas<span></span></h2>
      <p>
        Coloque a lista de senhas na área de trabalho do <b>Aluno</b> em um
        arquivo <code>Senhas.txt</code>, caso necessário.
      </p>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Se aplica apenas para o usuário <b>Aluno</b>.</div>
      </div>

      <h2 id="sistema">Sistema<span></span></h2>
      <h3>Notificações e ações</h3>
      <ol>
        <li>Desativar <span class="wiki-arrow">&harr;</span> <b>Tudo</b>.</li>
      </ol>

      <h3>Energia e suspensão</h3>
      <ol>
        <li>
          Tela <span class="wiki-arrow">&harr;</span> Quando conectado, desligar
          após <span class="wiki-arrow">&harr;</span> <b>Nunca</b>;
        </li>
        <li>
          Suspender <span class="wiki-arrow">&harr;</span> Quando conectado, o
          computador será suspenso após <span class="wiki-arrow">&harr;</span>
          <b>Nunca</b>.
        </li>
      </ol>

      <h2 id="tema">Personalização<span></span></h2>
      <h3>Tela de fundo</h3>
      <ol>
        <li>Tela de fundo <span class="wiki-arrow">&harr;</span>
          <b>Imagem</b>;
        </li>
        <li>Escolher sua imagem <span class="wiki-arrow">&harr;</span>
          Baixe o arquivo <a
            href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">
            background.png&rarr;</a> e selecione-o.
        </li>
      </ol>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Se aplica apenas para o usuário <b>Aluno</b>.</div>
      </div>

      <h3>Cores</h3>
      <ol>
        <li>
          Efeitos de transparência <span class="wiki-arrow">&harr;</span>
          <b>Desativado</b>.
        </li>
      </ol>

      <h3>Tela de bloqueio</h3>
      <ol>
        <li>
          Receba dados interessantes... <span class="wiki-arrow">&harr;</span>
          <b>Desativado</b>.
        </li>
      </ol>

      <h2 id="jogos">Jogos<span></span></h2>
      <h3>Xbox Game Bar</h3>
      <ol>
        <li>
          Habilite a Xbox Game Bar... <span class="wiki-arrow">&harr;</span>
          <b>Desativado</b>.
        </li>
      </ol>

      <h3>Modo de Jogo</h3>
      <ol>
        <li>
          Modo de Jogo <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.
        </li>
      </ol>

      <h2 id="privacidade">Privacidade<span></span></h2>
      <h3>Geral</h3>
      <ol>
        <li>
          Permitir que o Windows controle a abertura de aplicativos...
          <span class="wiki-arrow">&harr;</span> <b>Ativado</b>;
        </li>
        <li><b>Desativar</b> as demais opções.</li>
      </ol>

      <h3>Histórico de atividades</h3>
      <ol>
        <li><b>Tudo Desativado</b>.</li>
      </ol>

      <h3>Aplicativos em segundo plano</h3>
      <ol>
        <li>
          Permitir a execução de aplicativos em segundo plano
          <span class="wiki-arrow">&harr;</span> <b>Desativado</b>.
        </li>
      </ol>

      <h2 id="edge">Configurações do Edge<span></span></h2>
      <p>Otimizar a página inicial do navegador Edge.</p>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/configedge.png"
          alt="Configuração do navegador Edge" />
      </p>


      <div class="container">
        <div class="row">
          <div class="col text-start">
            <a href="/windows/start/">&larr;Settings Windows</a>
          </div>
          <div class="col text-end">
            <a href="/windows/softwares/">Settings Softwares&rarr;</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}