---
title: "Settings Profile"
permalink: /windows/profile/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-profile.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Configurações para o perfil do usuário Aluno/Estudante e do usuário IFPR.
      </p>

      <h2 id="opcoespastas">Opções de pastas</h2>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/opcoes-de-pastas.png"
          alt="Oções de pastas" />
      </p>

      <h2 id="senhas">Senhas</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Se aplica apenas para o usuário <b>Aluno/Estudante</b>.</div>
      </div>
      <p>
        Coloque a lista de senhas na área de trabalho do <b>Aluno/Estudante</b> em um
        arquivo <code>Senhas.txt</code>, caso necessário.
      </p>

      <h2 id="sistema">Sistema</h2>
      <h3>Notificações</h3>
      <ol>
        <li class="mb-2">Desativar</li>
      </ol>

      <h3>Energia</h3>
      <ol>
        <li class="mb-2">
          Desativar minha tela após &rarr; <b>Nunca</b>
        </li>
        <li class="mb-2">
          Fazer com que meu dispositivo... &rarr; <b>Nunca</b>
        </li>
        <li class="mb-2">
          Fazer meu dispositivo hibernar... &rarr; <b>Nunca</b>
        </li>
      </ol>

      <h2 id="tema">Personalização</h2>
      <h3>Tela de fundo</h3>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Se aplica apenas para o usuário <b>Aluno/Estudante</b>.</div>
      </div>
      <ol>
        <li class="mb-2">Navegue pelas fotos &rarr; Selecione a imagem. Baixe o arquivo <a
            href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">
            background.png</a>.
        </li>
      </ol>

      <h3>Cores</h3>
      <ol>
        <li class="mb-2">
          Efeitos de transparência &rarr;
          <b>Desativado</b>.
        </li>
      </ol>

      <h2 id="jogos">Jogos</h2>
      <h3>Xbox Game Bar</h3>
      <ol>
        <li class="mb-2">
          Permitir que seu controle abra a Xbox Game Bar &rarr;
          <b>Desativado</b>.
        </li>
      </ol>

      <h3>Modo de Jogo</h3>
      <ol>
        <li class="mb-2">
          Modo de Jogo &rarr; <b>Desativado</b>.
        </li>
      </ol>

      <h2 id="privacidade">Privacidade e Segurança</h2>
      <h3>Permissões do Windows</h3>
      <ol>
        <li class="mb-2">Em Recomendações e Ofertas ou Geral &rarr; <b>Desativar</b> todas as opções.</li>
        <li class="mb-2">Em Pesquisar &rarr; Pesquisar histórico &rarr; <b>Desativar</b>.</li>
      </ol>

      <h2 id="edge">Configurações do Edge</h2>
      <p>Em <b>Configurações da página</b>:</p>
      <ol>
        <li class="mb-2">Links rápidos &rarr;<b>Desativado</b></li>
        <li class="mb-2">Mostrar conteúdo &rarr; <b>Desativado</b></li>
        <li class="mb-2">Mostrar widgets &rarr; <b>Desativado</b></li>
        <li class="mb-2">Mostrar feed &rarr; <b>Desativado</b></li>
        <li class="mb-2">Tela de fundo &rarr; <b>Desativado</b></li>
      </ol>

      <div class="container">
        <div class="row">
          <div class="col text-start">
            Voltar para <a href="/windows/">Settings Windows</a>
          </div>
          <div class="col text-end">
            Ir para <a href="/windows/softwares/">Settings Softwares</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}