---
title: "Settings Profile"
permalink: /windows/profile/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-profile.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Configurações para o perfil do usuário Estudante, Padawan e IFPR.
      </p>

      <h2 id="opcoespastas">Opções de pastas</h2>
      <p>
        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/opcoes-de-pastas.png"
          alt="Oções de pastas" />
      </p>

      <h2 id="senhas">Senhas</h2>
      <p>
        Coloque a lista de senhas na área de trabalho do <b>Estudante</b> ou <b>Padawan</b> se houver. Ex:
        <code>Senhas.txt</code>.
      </p>

      <h2 id="sistema">Sistema</h2>
      <h3>Notificações</h3>
      <ol>
        <li class="mb-2">Desativar</li>
      </ol>

      <h2 id="tema">Personalização</h2>
      <h3>Tela de fundo</h3>
      <ol>
        <li class="mb-2">Navegue pelas fotos &rarr; Selecione a imagem. Baixe o arquivo <a
            href="https://drive.google.com/drive/folders/1y65TzKSDIcYNamYzGYjvLgfvEtLYOfp6?usp=sharing">
            background.png</a>.
        </li>
      </ol>

      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
          Pode ser configurado via Samba/GPO.
        </div>
      </div>

      <h3>Cores</h3>
      <ol>
        <li class="mb-2">
          Efeitos de transparência &rarr;
          <b>Desativado</b>.
        </li>
      </ol>

      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
          Pode ser configurado via Samba/GPO.
        </div>
      </div>

      <h2 id="privacidade">Privacidade e Segurança</h2>
      <h3>Permissões do Windows</h3>
      <ol>
        <li class="mb-2">Em Recomendações e Ofertas ou Geral &rarr; <b>Desativar</b> todas as opções.</li>
        <li class="mb-2">Em Pesquisar &rarr; Pesquisar histórico &rarr; <b>Desativar</b>.</li>
      </ol>

      <h2 id="edge">Configurações do Edge</h2>
      <p>Em <b>Configurações da página</b>:</p>
      <ol>
        <li class="mb-2">Links rápidos &rarr;<b>Desativado</b></li>
        <li class="mb-2">Mostrar conteúdo &rarr; <b>Desativado</b></li>
        <li class="mb-2">Mostrar widgets &rarr; <b>Desativado</b></li>
        <li class="mb-2">Mostrar feed &rarr; <b>Desativado</b></li>
        <li class="mb-2">Tela de fundo &rarr; <b>Desativado</b></li>
      </ol>

      <h2 id="notepad">Configurações do Bloco de Notas</h2>

      <div class="alert alert-info d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
          <use xlink:href="#info-fill" />
        </svg>
        <div>
          Aplica-se aos equipamentos sem Deep Freeze Cloud.
        </div>
      </div>
      <p>Em <b>Configurações</b>:</p>
      <ol>
        <li class="mb-2">Quando o Bloco de Notas é iniciado &rarr;<b>Iniciar nova sessão e descartar...</b> &rarr;
          <b>Selecione</b>
        </li>
        <li class="mb-2">Arquivos Recentes &rarr; <b>Desativado</b></li>
        <li class="mb-2">Recursos de IA &rarr; Copilot &rarr; <b>Desativado</b></li>
      </ol>

      <div class="container mt-5">
        <div class="row">
          <div class="col text-start">
            Voltar para <a href="/windows/">Settings Windows</a>
          </div>
          <div class="col text-end">
            Ir para <a href="/windows/softwares/">Settings Softwares</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}