 {% if page.url != '/404.html' %}
 <footer class="bg-body-tertiary">
    <div class="container">
     <p class="text-center pt-5 pb-5 m-0">
         [Wiki Lab] &copy; 2019 - {{ site.time | date: '%Y' }}. Por <a class="text-decoration-none" href="https://www.cremilton.com">@cremiltongf&#8599;</a>.
     </p>
    </div>
 </footer>
 {% endif %}

 <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/app.js"></script>
 
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43172777-4"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 
 gtag('config', 'UA-43172777-4');
 </script>
</body>
</html>