{% if page.url != '/404.html' %}
<footer class="border-top bg-body-tertiary pt-5 pb-4">
<div class="container">
    <p class="text-center">
        &copy; 2019 - {{ site.time | date: '%Y' }} [Wiki Lab]. 
        Acesse a <a class="text-decoration-none" href="https://ifpr.edu.br/umuarama/laboratorios/laboratorio-de-informatica/">Documentação do Laboratório de Informática&#8599;</a>. 
    </p>
    <p class="text-center">
        Por <a class="text-decoration-none" href="https://www.cremilton.com">@cremiltongf&#8599;</a>. 
    </p>
</div>
</footer>
{% endif %}

{% if page.url != '/' %}
    <a class="return-top" href="#top">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
        </svg>
    </a>
{% endif %}

<script src="{{ site.baseurl }}/assets/bootstrap/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>

{% if page.url != '/' || page.url != '/404.html' %}
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
{% endif %}
 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43172777-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-43172777-4');
</script>
</body>
</html>