<!-- favicon -->
<link rel="icon" sizes="16x16" href="{{ site.baseurl }}/assets/images/icon-16.png">
<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/assets/images/icon-32.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/icon-180.png">
<!-- font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> 
<!-- style -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.min.css">

<!--Open Graph Protocol-->
<meta property="fb:app_id" content="261341871382612"/> 
<meta property="og:title" content="Wiki - Laboratórios de Informática"/>
<meta property="og:description" content="Esse wiki orienta a criação de imagens com Windows e Ubuntu, contém informações para ajustes e correções para o Windows (7, 8, 10), possui configuração padrão para os Sistemas Operacionais após a clonagem e, entre outras dicas."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://wiki.cremilton.com"/>
<meta property="og:site_name" content="Wiki Lab"/>
<meta property="og:image" content="{{ site.baseurl }}/assets/images/logo.svg"/>
<meta property="og:image:width" content="480">
<meta property="og:image:height" content="218">
<!--Open Graph Protocol-->

<!--Google Search Console verification-->
<meta name="google-site-verification" content="UBWJFgFYcLOgToFsoGIDjqg3aC6CHsqbr9Txf2Dx1Fs" />

<!--Pinterest verification-->
<meta name="p:domain_verify" content="29e2539fc7db454a8b5db4e041830f17"/>