<header>
    <div class="header">
        <a class="logo" href="{{ site.url }}"><img src="{{ site.baseurl }}/assets/images/logo.svg" alt="Marca Wiki"></a>
        <nav class="nav">
            <ul>
                <li><a class="item-nav" href="https://umuarama.ifpr.edu.br/acesso-a-informacao/laboratorios-de-informatica/">Docs</a></li>
                <li><a class="item-nav" href="/gpo">Gpo</a></li>
                <li><a class="item-nav" href="/softwares">Softwares</a></li>
                <li><a class="item-nav" href="/suporte">Suporte</a></li>
                <li><a class="item-nav" href="/ubuntu">Ubuntu</a></li>
                <li><a class="item-nav" href="/veyon">Veyon</a></li>
                <li><a class="item-nav" href="/windows">Windows</a></li>
            </ul>
        </nav>        
    </div>
</header>