<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{{ site.baseurl }}/assets/images/icon-16.png">
    <link rel="icon" sizes="32x32" href="{{ site.baseurl }}/assets/images/icon-32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/icon-180.png">

    <!-- style -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/estilo.css">

    <!--Open Graph Protocol-->
    <meta property="fb:app_id" content="261341871382612"/> 
    <meta property="og:title" content="Wiki - Laboratórios de Informática"/>
    <meta property="og:description" content="Esse wiki orienta a criação de imagens com Windows e Ubuntu, contém informações para ajustes e correções para o Windows, possui configuração padrão para os Sistemas Operacionais após a clonagem, e outras dicas."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://wiki.cremilton.com"/>
    <meta property="og:site_name" content="Wiki Lab"/>
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/logo.svg"/>
    <meta property="og:image:width" content="480">
    <meta property="og:image:height" content="218">
    <!--Open Graph Protocol-->

    <!--Google Search Console verification-->
    <meta name="google-site-verification" content="xh_nj4biLO3DsOkYCAnTRheF2nQT68eX1sTW5zmMWms" />
</head>
<body>

<header class="navbar navbar-expand-lg bg-dark fixed-top shadow" data-bs-theme="dark">
    <div class="container-fluid maxwidth">

        <button class="d-lg-none sidebar-button navbar-toggler sidebar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{{ site.url }}">
            <svg width="296" height="108" viewBox="0 0 296 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="svg-letters" d="M163.51 85L146.95 31L144.79 23.71H154.87L171.79 79.51L167.02 78.79L181.6 23.71H192.13L175.39 85H163.51ZM124.27 85L107.53 23.71H118.06L132.64 78.79L127.87 79.51L144.79 23.71H154.87L152.71 31L136.15 85H124.27ZM210.907 85H200.467V23.71H210.907V85ZM224.637 85V23.71H235.077V85H224.637ZM259.107 85L231.297 55.12V53.77L259.557 23.71H272.607L241.377 56.83L242.097 51.97L272.967 85H259.107ZM288.163 85H277.723V23.71H288.163V85Z" fill="#464655"/>
                <path d="M90 34.62V73.37C90 77.36 89.09 81.14 87.45 84.51L73.13 70.19V34.62C73.13 29.79 69.21 25.87 64.38 25.87H28.81L14.49 11.55C17.86 9.92 21.64 9 25.63 9H64.38C78.51 9 90 20.49 90 34.62Z" fill="#0066CC"/>
                <path d="M75.52 96.45C72.15 98.08 68.37 99 64.38 99H25.63C11.5 99 0 87.5 0 73.37V34.62C0 30.63 0.92 26.85 2.56 23.48L16.88 37.81V73.37C16.88 78.21 20.8 82.12 25.63 82.12H61.2L75.52 96.45Z" fill="#FF6611"/>
            </svg>
        </a>
        
        <button class="navbar-toggler d-flex d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
            </svg>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">WIKI Nav</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        
            <div class="offcanvas-body d-lg-flex justify-content-lg-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="https://ifpr.edu.br/umuarama/laboratorios/laboratorio-de-informatica/">Documentação &#8599;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gpo">GPO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/suporte">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/veyon">Veyon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/windows">Windows</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</header>