<li class="fw-bold">Setup e SO</li>
<ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
    <li><a href="/so/#configsetup">Configurações</a></li>
    <li><a href="/so/#isowindows">ISO Windows</a></li>
    <li><a href="/so/#admin">Usuário Administrador</a></li>
    <li><a href="/so/#estudante">Usuário Padrão</a></li>
    <li><a href="/so/#datetime">Data e Hora</a></li>
    <li><a href="/so/#nome">Nome e Grupo</a></li>
    <li><a href="/so/#particao">Partições do SO</a></li>
    <li><a href="/so/#windowsupdate">Windows Update</a></li>
    <li><a href="/so/#drivers">Atualização de drivers</a></li>
    <li><a href="/so/#wol">Configuração de driver para ativação WOL</a></li>
    <li><a href="/so/#fastboot">Fast Boot</a></li>
    <li><a href="/so/#reparo">Reparo automático</a></li>
    <li><a href="/so/#defrag">Otimização agendada</a></li>
    <li><a href="/so/#secwindows">Segurança do Windows</a></li>
    <li><a href="/so/#servicos">Serviços</a></li>
    <li><a href="/so/10-11/#pesquisar">Pesquisa na internet</a></li>
    <li><a href="/so/#proxy">Configuração de proxy</a></li>
    <li><a href="/so/#opcoespastas">Opções de pastas</a></li>
    <li><a href="/so/#wallpaper">Papel de Parede</a></li>
    <li><a href="/so/#senhas">Senhas</a></li>
</ul>