<li class="fw-bold">Setup e SO</li>
<ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
    <li><a href="/image/#configsetup">Configurações</a></li>
    <li><a href="/image/#isowindows">ISO Windows</a></li>
    <li><a href="/image/#admin">Usuário Administrador</a></li>
    <li><a href="/image/#estudante">Usuário Padrão</a></li>
    <li><a href="/image/#nome">Nome e Grupo</a></li>
    <li><a href="/image/#particao">Partições do SO</a></li>
    <li><a href="/image/#windowsupdate">Windows Update</a></li>
    <li><a href="/image/#drivers">Atualização de drivers</a></li>
    <li><a href="/image/#wol">Configuração de driver para ativação WOL</a></li>
    <li><a href="/image/#fastboot">Fast Boot</a></li>
    <li><a href="/image/#reparo">Reparo automático</a></li>
    <li><a href="/image/#defrag">Otimização agendada</a></li>
    <li><a href="/image/#datetime">Data e Hora</a></li>
    <li><a href="/image/#secwindows">Segurança do Windows</a></li>
    <li><a href="/image/#servicos">Serviços</a></li>
    <li><a href="/image/#pesquisar">Pesquisa na internet</a></li>
    <li><a href="/image/#opcoespastas">Opções de pastas</a></li>
    <li><a href="/image/#wallpaper">Papel de Parede</a></li>
    <li><a href="/image/#senhas">Senhas</a></li>
</ul>