<li class="fw-bold">Softwares</li>
<ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
    <li><a href="/so/softwares/#zip">7-zip</a></li>
    <li><a href="/so/softwares/#anaconda">Anaconda</a></li>
    <li><a href="/so/softwares/#android">Android Studio</a></li>
    <li><a href="/so/softwares/#netbeans">Apache NetBeans</a></li>
    <li><a href="/so/softwares/#arduino">Arduino IDE</a></li>
    <li><a href="/so/softwares/#astah">Astah Community</a></li>
    <li><a href="/so/softwares/#autocad">AutoCAD</a></li>
    <li><a href="/so/softwares/#avogadro">Avogadro</a></li>
    <li><a href="/so/softwares/#blender">Blender</a></li>
    <li><a href="/so/softwares/#localdns">Bonjour ou mDNS</a></li>
    <li><a href="/so/softwares/#bricx">BricxCC</a></li>
    <li><a href="/so/softwares/#brmodelo">brModelo</a></li>
    <li><a href="/so/softwares/#chem">ChemSketch</a></li>
    <li><a href="/so/softwares/#chrome">Chrome</a></li>
    <li><a href="/so/softwares/#tracer">Cisco Packet Tracer</a></li>
    <li><a href="/so/softwares/#composer">Composer</a></li>
    <li><a href="/so/softwares/#dbbrowser">DB Browser for SQLite</a></li>
    <li><a href="/so/softwares/#dbdesigner">DBDesigner 4</a></li>
    <li><a href="/so/softwares/#dbeaver">DBeaver Community</a></li>
    <li><a href="/so/softwares/#docker">Docker</a></li>
    <li><a href="/so/softwares/#firefox">Firefox</a></li>
    <li><a href="/so/softwares/#fluxovento">Fluxovento</a></li>
    <li><a href="/so/softwares/#ftool">Ftool</a></li>
    <li><a href="/so/softwares/#geogebra">Geogebra</a></li>
    <li><a href="/so/softwares/#gimp">Gimp</a></li>
    <li><a href="/so/softwares/#git">Git</a></li>
    <li><a href="/so/softwares/#greenfoot">Greenfoot</a></li>
    <li><a href="/so/softwares/#idle">IDLE Python</a></li>
    <li><a href="/so/softwares/#inkscape">Inkscape</a></li>
    <li><a href="/so/softwares/#intellij">IntelliJ IDEA Community</a></li>
    <li><a href="/so/softwares/#jasperlibrary">JasperReports Library</a></li>
    <li><a href="/so/softwares/#jaspersoft">Jaspersoft Community Edition</a></li>
    <li><a href="/so/softwares/#jdk17">Java JDK 17</a></li>
    <li><a href="/so/softwares/#jre">Java JRE</a></li>
    <li><a href="/so/softwares/#kerkythea">Kerkythea 2008</a></li>                        
    <li><a href="/so/softwares/#libre">LibreOffice</a></li>
    <li><a href="/so/softwares/#vcredist">Microsoft Visual C++ Redistributable Runtimes</a></li>
    <li><a href="/so/softwares/#mopac">MOPAC</a></li>
    <li><a href="/so/softwares/#workbench">MySQL Workbench</a></li>
    <li><a href="/so/softwares/#nodejs">Node.js</a></li>
    <li><a href="/so/softwares/#virtualbox">Oracle VirtualBox</a></li>
    <li><a href="/so/softwares/#vmubuntu">Oracle Virtual Machine Ubuntu</a></li>
    <li><a href="/so/softwares/#portugol">Portugol Stúdio</a></li>
    <li><a href="/so/softwares/#reboot">Reboot Restore RX</a></li>
    <li><a href="/so/softwares/#revit">Revit</a></li>
    <li><a href="/so/softwares/#scratch">Scratch</a></li>
    <li><a href="/so/softwares/#sketchup">SketchUp Make 2016</a></li>
    <li><a href="/so/softwares/#sumatrapdf">SumatraPDF</a></li>
    <li><a href="/so/softwares/#freeze">Toolwiz Time Freeze</a></li>
    <li><a href="/so/softwares/#ultimaker">Ultimaker Cura</a></li>
    <li><a href="/so/softwares/#veyon">Veyon</a></li>
    <li><a href="/so/softwares/#vscode">Visual Studio Code</a></li>
    <li><a href="/so/softwares/#visualg">VisuAlg</a></li>
    <li><a href="/so/softwares/#ventos">Visualventos</a></li>
    <li><a href="/so/softwares/#vlc">VLC Media Player</a></li>
    <li><a href="/so/softwares/#xampp">XAMPP</a></li>
</ul>