<li class="fw-bold">Login no AD</li>
<ul class="sidebar-toggler list-unstyled">
    <li><a href="/windows/loginad/#nome">Nome e Grupo</a></li>
    <li><a href="/windows/loginad/#estudante">Usuário Aluno</a></li>
    <li><a href="/windows/loginad/#wallpaper">Tema</a></li>
    <li><a href="/windows/loginad/#proxy">Configuração de proxy</a></li>
    <li><a href="/windows/loginad/#gerenciador">Gerenciador de Tarefas</a></li>
    <li><a href="/windows/loginad/#senhas">Senhas</a></li>
    <li><a href="/windows/loginad/#servicos">Serviços</a></li>
</ul>