<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO</a></li>
    <li class="fw-bold"><a href="/image/windows">Windows</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final</a></li>

    <li class="fw-bold">Settings Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/clone/#nome">Nome e Grupo</a></li>
        <li><a href="/image/clone/#atwindows">Ativar o Windows</a></li>
        <li><a href="/image/clone/#dewinupdate">Desativar Windows Update</a></li>
        <li><a href="/image/clone/#logon">Login Automático</a></li>
        <li><a href="/image/clone/#atautocad">Ativar AutoCAD</a></li>
        <li><a href="/image/clone/#atrevit">Ativar Revit</a></li>
        <li><a href="/image/softwares/#tactical">Tactical RMM</a></li>
        <li><a href="/image/clone/#deep">Habilitar Deep Freeze Cloud</a></li>
        <li><a href="/image/clone/#timefreeze">Habilitar Toolwiz Time Freeze</a></li>
    </ul>
</ul>