<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO</a></li>
    <li class="fw-bold"><a href="/image/windows">Windows</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile</a></li>

    <li class="fw-bold">Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/softwares/#zip">7-zip</a></li>
        <li><a href="/image/softwares/#anaconda">Anaconda</a></li>
        <li><a href="/image/softwares/#android">Android Studio</a></li>
        <li><a href="/image/softwares/#arduino">Arduino IDE</a></li>
        <li><a href="/image/softwares/#astah">Astah Community</a></li>
        <li><a href="/image/softwares/#autocad">AutoCAD</a></li>
        <li><a href="/image/softwares/#avogadro">Avogadro</a></li>
        <li><a href="/image/softwares/#blender">Blender</a></li>
        <li><a href="/image/softwares/#bonjour">Bonjour</a></li>
        <li><a href="/image/softwares/#bricx">BricxCC</a></li>
        <li><a href="/image/softwares/#brmodelo">brModelo</a></li>
        <li><a href="/image/softwares/#chem">ChemSketch</a></li>
        <li><a href="/image/softwares/#tracer">Cisco Packet Tracer</a></li>
        <li><a href="/image/softwares/#composer">Composer</a></li>
        <li><a href="/image/softwares/#dbbrowser">DB Browser for SQLite</a></li>
        <li><a href="/image/softwares/#dbdesigner">DBDesigner 4</a></li>
        <li><a href="/image/softwares/#dbeaver">DBeaver Community</a></li>
        <li><a href="/image/softwares/#deepfreeze">Deep Freeze Cloud</a></li>
        <li><a href="/image/softwares/#docker">Docker</a></li>
        <li><a href="/image/softwares/#figma">Figma</a></li>
        <li><a href="/image/softwares/#firefox">Firefox</a></li>
        <li><a href="/image/softwares/#fluxovento">Fluxovento</a></li>
        <li><a href="/image/softwares/#ftool">Ftool</a></li>
        <li><a href="/image/softwares/#geogebra">Geogebra</a></li>
        <li><a href="/image/softwares/#gimp">Gimp</a></li>
        <li><a href="/image/softwares/#git">Git</a></li>
        <li><a href="/image/softwares/#chrome">Google Chrome</a></li>
        <li><a href="/image/softwares/#greenfoot">Greenfoot</a></li>
        <li><a href="/image/softwares/#idle">IDLE Python</a></li>
        <li><a href="/image/softwares/#inkscape">Inkscape</a></li>
        <li><a href="/image/softwares/#intellij">IntelliJ IDEA Community</a></li>
        <li><a href="/image/softwares/#jasperlibrary">JasperReports Library</a></li>
        <li><a href="/image/softwares/#jaspersoft">Jaspersoft Community Edition</a></li>
        <li><a href="/image/softwares/#jdk17">Java JDK 17</a></li>
        <li><a href="/image/softwares/#jdk8">Java JDK 8</a></li>
        <li><a href="/image/softwares/#jre">Java JRE</a></li>
        <li><a href="/image/softwares/#kerkythea">Kerkythea 2008</a></li>
        <li><a href="/image/softwares/#libre">LibreOffice</a></li>
        <li><a href="/image/softwares/#vcredist">Microsoft Visual C++ Redistributable Runtimes</a></li>
        <li><a href="/image/softwares/#mopac">MOPAC</a></li>
        <li><a href="/image/softwares/#workbench">MySQL Workbench</a></li>
        <li><a href="/image/softwares/#netbeans14">NetBeans 14</a></li>
        <li><a href="/image/softwares/#netbeans8">NetBeans 8</a></li>
        <li><a href="/image/softwares/#nodejs">Node.js</a></li>
        <li><a href="/image/softwares/#virtualbox">Oracle VirtualBox</a></li>
        <li><a href="/image/softwares/#vmubuntu">Oracle VirtualBox VM Ubuntu</a></li>
        <li><a href="/image/softwares/#cdevkit">Portable C, C++, and Fortran Development Kit</a></li>
        <li><a href="/image/softwares/#portugol">Portugol Stúdio</a></li>
        <li><a href="/image/softwares/#project">ProjectLibre</a></li>
        <li><a href="/image/softwares/#pycharm">PyCharm Community Edition</a></li>
        <li><a href="/image/softwares/#reboot">Reboot Restore RX</a></li>
        <li><a href="/image/softwares/#revit">Revit</a></li>
        <li><a href="/image/softwares/#scratch">Scratch</a></li>
        <li><a href="/image/softwares/#sketchup">SketchUp Make 2016</a></li>
        <li><a href="/image/softwares/#sumatrapdf">SumatraPDF</a></li>
        <li><a href="/image/softwares/#tactical">Tactical RMM</a></li>
        <li><a href="/image/softwares/#freeze">Toolwiz Time Freeze</a></li>
        <li><a href="/image/softwares/#ultimaker">Ultimaker Cura</a></li>
        <li><a href="/image/softwares/#veyon">Veyon</a></li>
        <li><a href="/image/softwares/#vscode">Visual Studio Code</a></li>
        <li><a href="/image/softwares/#visualg">VisuAlg</a></li>
        <li><a href="/image/softwares/#ventos">Visualventos</a></li>
        <li><a href="/image/softwares/#vlc">VLC Media Player</a></li>
        <li><a href="/image/softwares/#winupdate">Windows Update Disabler</a></li>
        <li><a href="/image/softwares/#xampp">XAMPP</a></li>
    </ul>

    <li class="fw-bold"><a href="/image/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/image/clone">Settings Clone</a></li>
</ul>