<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO</a></li>

    <li class="fw-bold">Windows</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/windows/#admin">Usuário Administrador</a></li>
        <li><a href="/image/windows/#estudante">Usuário Padrão</a></li>
        <li><a href="/image/windows/#particao">Partições do SO</a></li>
        <li><a href="/image/windows/#windowsupdate">Windows Update</a></li>
        <li><a href="/image/windows/#drivers">Atualização de drivers</a></li>
        <li><a href="/image/windows/#wol">Configuração de WOL</a></li>
        <li><a href="/image/windows/#fastboot">Fast Boot</a></li>
        <li><a href="/image/windows/#mdns">mDNS</a></li>
        <li><a href="/image/windows/#reparo">Reparo automático</a></li>
        <li><a href="/image/windows/#defrag">Otimização agendada</a></li>
        <li><a href="/image/windows/#secwindows">Segurança do Windows</a></li>
        <li><a href="/image/windows/#news">Notícias e Interesses</a></li>
        <li><a href="/image/windows/#pesquisar">Pesquisa na internet</a></li>
        <li><a href="/image/windows/#psremote">Comunicação remota do PowerShell</a></li>
        <li><a href="/image/windows/#ps1">Permitindo a execução de scripts</a></li>
        <li><a href="/image/windows/#servicos">Serviços</a></li>
    </ul>

    <li class="fw-bold"><a href="/image/profile">Profile</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/image/clone">Settings Clone</a></li>
</ul>