<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold mb-2">Configuração do Computador</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li class="mb-2">Scripts</li>
        <li class="mb-2">Configurações de segurança</li>
        <li class="mb-2">Componentes do Windows</li>
        <li class="mb-2">Menu Iniciar e Barra de Tarefas</li>
        <li class="mb-2">Registro</li>
    </ul>

    <li class="fw-bold mb-2">Configuraçao do Usuário</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li class="mb-2">Área de Trabalho</li>
        <li class="mb-2">Componentes do Windows</li>
        <li class="mb-2">Menu iniciar e Barra de Tarefas</li>
        <li class="mb-2">Painel de Controle</li>
        <li class="mb-2">Sistema</li>
    </ul>
    <li class="fw-bold mb-2">Configuraçao do Computador</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li class="mb-2">Segurança do Samba</li>
    </ul>
</ul>