<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Setup e SO</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/setup-so/#configsetup">Configurações</a></li>
        <li><a href="/image/setup-so/#isowindows">ISO Windows</a></li>
    </ul>
    <li class="fw-bold"><a href="/image/windows">Windows&rarr;</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile&rarr;</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares&rarr;</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final&rarr;</a></li>
    <li class="fw-bold"><a href="/image/clone">Setting Clone&rarr;</a></li>
</ul>