<li class="fw-bold">Setup e SO</li>
<ul class="sidebar-toggler list-unstyled">
    <li><a href="/windows/#configsetup">Configurações</a></li>
    <li><a href="/windows/#uefi">Modo UEFI</a></li>
    <li><a href="/windows/#admin">Usuário Administrador</a></li>
    <li><a href="/windows/#wol">Configuração de driver para ativação WOL</a></li>
    <li><a href="/windows/#particao">Partições do SO</a></li>
    <li><a href="/windows/#windowsupdate">Windows Update</a></li>
    <li><a href="/windows/#drivers">Atualização de drivers</a></li>
    <li><a href="/windows/#fastboot">Fast Boot</a></li>
    <li><a href="/windows/#propriedades">Propriedades do Sistema</a></li>
    <li><a href="/windows/#reparo">Reparo automático</a></li>
    <li><a href="/windows/#defrag">Otimização agendada</a></li>
    <li><a href="/windows/#psexec">PsExec</a></li>
</ul>