<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Dependências</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#m-config">Configurações</a></li>
        <li><a href="#m-gerenciador">Gerenciador de extensões</a></li>
        <li><a href="#m-tweaks">Ajustes do Gnome</a></li>
        <li><a href="#m-clock">Desktop Widgets</a></li>
    </ul>

    <li class="fw-bold">Extensões</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#m-indicator">AppIndicator</a></li>
        <li><a href="#m-blur">Blur my Shell</a></li>
        <li><a href="#m-lamp">Compiz alike magic lamp effect</a></li>
        <li><a href="#m-dash">Dash to Dock</a></li>
        <li><a href="#m-light">Search Light</a></li>
        <li><a href="#m-tiling">Tiling Shell</a></li>
        <li><a href="#m-clip">Clipboard Indicator</a></li>
        <li><a href="#m-clock">Desktop Widgets</a></li>
        <li><a href="#m-media">Media Controls</a></li>
        <li><a href="#m-rounded">Rounded Window Corners Reborn</a></li>
        <li><a href="#m-tes">Tweaks & Extensions in System Menu</a></li>
    </ul>

    <li class="fw-bold">Tema</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#m-icon">Ícones</a></li>
        <li><a href="#m-wallpapers">Wallpapers</a></li>
    </ul>

    <li class="fw-bold">Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#m-git">Git</a></li>
        <li><a href="#m-kvm">Gerenciador de máquinas virtuais</a></li>
        <li><a href="#m-docker">Docker</a></li>
        <li><a href="#m-vscode">Visual Studio Code</a></li>
        <li><a href="#m-iso">PowerIso</a></li>
        <li><a href="#m-dropbox">Dropbox</a></li>
        <li><a href="#m-torrent">qBittorrent</a></li>
        <li><a href="#m-hydra">HydraPaper</a></li>
        <li><a href="#m-filesync">FreeFileSync</a></li>
    </ul>

    <li class="fw-bold">Outros</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#m-keys">Atalhos personalizados</a></li>
        <li><a href="#m-webcam">Webcam</a></li>
        <li><a href="#m-proton">Proton</a></li>
    </ul>
</ul>