<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Configuração</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-partition">Partições do SO</a></li>
        <li><a href="#l-root">Usuário Root</a></li>
        <li><a href="#l-default">Usuário Padrão</a></li>
        <li><a href="#l-login">Login Automático</a></li>
        <li><a href="#l-update">Linux Update</a></li>
        <li><a href="#l-management">Gerenciador de Atualizações</a></li>
    </ul>

    <li class="fw-bold">Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-configuration">Configurações do Sistema</a></li>
    </ul>

    <li class="fw-bold">Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-zip">7-zip</a></li>
        <li><a href="#l-astah">Astah Community</a></li>
        <li><a href="#l-brmodelo">brModelo</a></li>
        <li><a href="#l-composer">Composer</a></li>
        <li><a href="#l-firefox">Firefox</a></li>
        <li><a href="#l-git">Git</a></li>
        <li><a href="#l-chrome">Google Chrome</a></li>
        <li><a href="#l-greenfoot">Greenfoot</a></li>
        <li><a href="#l-jdk">Java JDK 17</a></li>
        <li><a href="#l-jre">Java JRE</a></li>
        <li><a href="#l-office">Libre Office</a></li>
        <li><a href="#l-netbeans">NetBeans 14</a></li>
        <li><a href="#l-ssh">Open SSH Server</a></li>
        <li><a href="#l-scratch">Scratch</a></li>
        <li><a href="#l-portugol">Portugol Stúdio</a></li>
        <li><a href="#l-samba">Samba</a></li>
        <li><a href="#l-restricted">Ubuntu Restricted Extras</a></li>
        <li><a href="#l-veyon">Veyon</a></li>
        <li><a href="#l-vim">VIM</a></li>
        <li><a href="#l-vscode">Visual Studio Code</a></li>
        <li><a href="#l-visual">VisuAlg</a></li>
        <li><a href="#l-vlc">VLC Media Player</a></li>
        <li><a href="#l-wine">Wine</a></li>
        <li><a href="#l-lampp">LAMPP</a></li>
    </ul>

    <li class="fw-bold">Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-history">Histórico de Navegação</a></li>
        <li><a href="#l-proxy">Proxy</a></li>
        <li><a href="#l-restore">Configuração do Restore Profile</a></li>
    </ul>

    <li class="fw-bold">Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-hostaname">Alterar Hostname</a></li>
        <li><a href="#l-activerestore">Restore Profile</a></li>
    </ul>
</ul>