<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Linux</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="">Partições do SO</a></li>
        <li><a href="">Usuário Root</a></li>
        <li><a href="">Usuário Padrão</a></li>
        <li><a href="">Login Automático</a></li>
        <li><a href="">Linux Update</a></li>
    </ul>

    <li class="fw-bold">Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="">Tema like Windows</a></li>
        <li><a href="">Papel de Parede</a></li>
    </ul>

    <li class="fw-bold">Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="">7-zip</a></li>
        <li><a href="">Astah Community</a></li>
        <li><a href="">brModelo</a></li>
        <li><a href="">Composer</a></li>
        <li><a href="">Firefox</a></li>
        <li><a href="">Git</a></li>
        <li><a href="">Google Chrome</a></li>
        <li><a href="">Greenfoot</a></li>
        <li><a href="">Java JDK 17</a></li>
        <li><a href="">Java JRE</a></li>
        <li><a href="">Libre Office</a></li>
        <li><a href="">NetBeans 14</a></li>
        <li><a href="">Open SSH Server</a></li>
        <li><a href="">Portugol Stúdio</a></li>
        <li><a href="">Samba</a></li>
        <li><a href="">Scratch</a></li>
        <li><a href="">Ubuntu Restricted Extras</a></li>
        <li><a href="#l-veyon">Veyon</a></li>
        <li><a href="">VIM</a></li>
        <li><a href="">Visual Studio Code</a></li>
        <li><a href="">VisuAlg</a></li>
        <li><a href="">VLC Media Player</a></li>
        <li><a href="">Wine</a></li>
        <li><a href="">XAMPP ou LAMPP</a></li>
    </ul>

    <li class="fw-bold">Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="">Histórico de Navegação</a></li>
        <li><a href="">Proxy</a></li>
        <li><a href="">Configuração do Restore Profile</a></li>
    </ul>

    <li class="fw-bold">Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="">Alterar Hostname</a></li>
        <li><a href="">Restore Profile</a></li>
    </ul>
</ul>