<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Linux</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#adm-local">Administrator Local</a></li>
    </ul>

    <li class="fw-bold">Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#sync">Tolerância de sincronização</a></li>
    </ul>

    <li class="fw-bold">Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#wallpaper">Papel de parede</a></li>
    </ul>

    <li class="fw-bold">Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#tarefas">Gerenciador de Tarefas</a></li>
    </ul>

    <li class="fw-bold">Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#tarefas">Gerenciador de Tarefas</a></li>
    </ul>
</ul>