<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO&rarr;</a></li>
    <li class="fw-bold"><a href="/image/windows">Windows&rarr;</a></li>

    <li class="fw-bold">Profile</li>
        <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
            <li><a href="/image/profile/#opcoespastas">Opções de pastas</a></li>
            <li><a href="/image/profile/#wallpaper">Papel de Parede</a></li>
            <li><a href="/image/profile/#senhas">Senhas</a></li>
            <li><a href="/image/profile/#sistema">Sistema</a></li>
            <li><a href="/image/profile/#tema">Personalização</a></li>
            <li><a href="/image/profile/#jogos">Jogos</a></li>
            <li><a href="/image/profile/#privacidade">Privacidade</a></li>
            <li><a href="/image/profile/#edge">Configuração do Edge</a></li>
        </ul>

    <li class="fw-bold"><a href="/image/softwares">Sotwares&rarr;</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final&rarr;</a></li>
    <li class="fw-bold"><a href="/image/clone">Settings Clone&rarr;</a></li>
</ul>