<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO&rarr;</a></li>
    <li class="fw-bold"><a href="/image/windows">Windows&rarr;</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile&rarr;</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares&rarr;</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final&rarr;</a></li>

    <li class="fw-bold">Configuração do Clone</li>
        <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
            <li><a href="/image/clone/#nomepc">Nome de computadores</a></li>
            <li><a href="/image/clone/#atautocad">Ativar AutoCAD</a></li>
            <li><a href="/image/clone/#atrevit">Ativar Revit</a></li>
            <li><a href="/image/clone/#timefreeze">Habilitar Toolwiz Time Freeze</a></li>
            <li><a href="/image/clone/#reboot">Habilitar Reboot Restore RX</a></li>
        </ul>
</ul>