<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/image/setup-so">Setup and SO</a></li>
    <li class="fw-bold"><a href="/image/windows">Windows</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares</a></li>

    <li class="fw-bold">Settings Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/final/#recursos">Aplicativos e recursos</a></li>
        <li><a href="/image/final/#startwin">Otimize a inicialização</a></li>
        <li><a href="/image/final/#protecao">Proteção do Sistema</a></li>
        <li><a href="/image/final/#tarefas">Agendador de Tarefas</a></li>
        <li><a href="/image/final/#historico">Histórico de navegação</a></li>
        <li><a href="/image/final/#proxy">Configuração de proxy</a></li>
        <li><a href="/image/final/#defaultsofts">Aplicativos padrão</a></li>
        <li><a href="/image/final/#sysprep">Generalizar Instalação do Windows</a></li>
    </ul>

    <li class="fw-bold"><a href="/image/clone">Settings Clone</a></li>
</ul>