<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Setup and SO</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/image/setup-so/#configsetup">Setup Default</a></li>
        <li><a href="/image/setup-so/#isowindows">ISO Windows</a></li>
        <li><a href="/image/setup-so/#tools">Tools</a></li>
    </ul>
    <li class="fw-bold"><a href="/image/windows">Windows</a></li>
    <li class="fw-bold"><a href="/image/profile">Profile</a></li>
    <li class="fw-bold"><a href="/image/softwares">Sotwares</a></li>
    <li class="fw-bold"><a href="/image/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/image/clone">Setting Clone</a></li>
</ul>