<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/linux/start">Settings Linux</a></li>
    <li class="fw-bold"><a href="/linux/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/linux/softwares">Settings Softwares</a></li>

    <li class="fw-bold">Settings Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-history">Histórico de Navegação</a></li>
        <li><a href="#l-proxy">Proxy</a></li>
        <li><a href="#l-restore">Configuração do Restore Profile</a></li>
    </ul>

    <li class="fw-bold"><a href="/linux/clone">Settings Clone</a></li>
</ul>
