<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/linux/">Settings Linux</a></li>

    <li class="fw-bold">Settings Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-background">Plano de fundo</a></li>
        <li><a href="#l-config">Configurações</a></li>
        <li><a href="#l-personalizacao">Personalização</a></li>
        <li><a href="#l-tweaks">Ajustes</a></li>
        <li><a href="#l-extensoes">Extensões</a></li>
        <li><a href="#l-appearance">Zorin Appearance</a></li>
        <li><a href="#l-animacoes">Animações</a></li>
        <li><a href="#l-result">Resultado da personalização</a></li>
    </ul>

    <li class="fw-bold"><a href="/linux/softwares">Settings Softwares</a></li>
    <li class="fw-bold"><a href="/linux/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/linux/clone">Settings Clone</a></li>
</ul>