<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/linux/">Settings Linux</a></li>
    <li class="fw-bold"><a href="/linux/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/linux/softwares">Settings Softwares</a></li>
    <li class="fw-bold"><a href="/linux/final">Settings Final</a></li>

    <li class="fw-bold">Settings Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-hostname">Alterar Hostname</a></li>
        <li><a href="#l-activerestore">Restore Profile</a></li>
    </ul>
</ul>
