<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/linux/start">Settings Linux</a></li>
    <li class="fw-bold"><a href="/linux/profile">Settings Profile</a></li>

    <li class="fw-bold">Settings Softwares</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-zip">7-zip</a></li>
        <li><a href="#l-astah">Astah Community</a></li>
        <li><a href="#l-brmodelo">brModelo</a></li>
        <li><a href="#l-composer">Composer</a></li>
        <li><a href="#l-firefox">Firefox</a></li>
        <li><a href="#l-git">Git</a></li>
        <li><a href="#l-chrome">Google Chrome</a></li>
        <li><a href="#l-greenfoot">Greenfoot</a></li>
        <li><a href="#l-jdk">Java JDK 17</a></li>
        <li><a href="#l-jre">Java JRE</a></li>
        <li><a href="#l-office">Libre Office</a></li>
        <li><a href="#l-netbeans">NetBeans 14</a></li>
        <li><a href="#l-nodejs">Node.js</a></li>
        <li><a href="#l-ssh">Open SSH Server</a></li>
        <li><a href="#l-portugol">Portugol Stúdio</a></li>
        <li><a href="#l-python">Python</a></li>
        <li><a href="#l-samba">Samba</a></li>
        <li><a href="#l-scratch">Scratch</a></li>
        <li><a href="#l-restricted">Ubuntu Restricted Extras</a></li>
        <li><a href="#l-veyon">Veyon</a></li>
        <li><a href="#l-vim">Vim</a></li>
        <li><a href="#l-vscode">Visual Studio Code</a></li>
        <li><a href="#l-visual">VisuAlg</a></li>
        <li><a href="#l-vlc">VLC Media Player</a></li>
        <li><a href="#l-wine">Wine</a></li>
        <li><a href="#l-lampp">LAMPP</a></li>
    </ul>

    <li class="fw-bold"><a href="/linux/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/linux/clone">Settings Clone</a></li>
</ul>