<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/linux/start">Settings Linux</a></li>

    <li class="fw-bold">Settings Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#l-configuration">Configurações do Sistema</a></li>
        <li><a href="#l-management">Gerenciador de Atualizações</a></li>
    </ul>

    <li class="fw-bold"><a href="/linux/softwares">Settings Softwares</a></li>
    <li class="fw-bold"><a href="/linux/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/linux/clone">Settings Clone</a></li>
</ul>
