<ul>
    <li class="menu-title">Instalacao</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#chrome">Chrome</a></li>
        <li><a href="#composer">Composer</a></li>
        <li><a href="#firefox">Firefox</a></li>
        <li><a href="#fluxovento">Fluxovento</a></li>
        <li><a href="#git">Git</a></li>
        <li><a href="#java">Java JDK</a></li>
        <li><a href="#libre">LibreOffice</a></li>
        <li><a href="#netbeans">NetBeans</a></li>
        <li><a href="#nodejs">Nodejs</a></li>
        <li><a href="#portugol">Portugol</a></li>
        <li><a href="#veyon">Veyon</a></li>
        <li><a href="#visualg">VisualG</a></li>
        <li><a href="#vlc">VLC media player</a></li>
        <li><a href="#code">Visual Studio Code</a></li>
        <li><a href="#xampp">XAMPP</a></li>
    </ul>
</ul>