<ul>
    <li class="menu-title">Windows</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#usertemp">Usuário temporário</a></li>
        <li><a href="#pen">Removendo vírus de Pen Drive</a></li>
        <li><a href="#servicos">Gerenciando serviços em massa</a></li>
    </ul>
    <li class="menu-title">Ubuntu</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#errordpkg">Sub-process /usr/bin/dpkg returned an error code (1)</a></li>
        <li><a href="#boot-repair">Boot-repair</a></li>
    </ul>
</ul>