<ul>
    <li class="menu-title">Windows</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#usertemp">Usuário temporário</a></li>
        <li><a href="#pen">Removendo vírus de Pen Drive</a></li>
        <li><a href="#servicos">Desativando serviços via cmd</a></li>
    </ul>
    <li class="menu-title">Ubuntu</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#errordpkg">Sub-process /usr/bin/dpkg returned an error code (1)</a></li>
        <li><a href="#openusb">Abrindo dispositivo USB na VM</a></li>
        <li><a href="#boot-repair">Boot-repair</a></li>
    </ul>
    <li class="menu-title">Data Show</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#lampada">A lâmpada não liga/funciona</a></li>
    </ul>
    <li class="menu-title">Rede</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#hostname">Descobrindo o hostname pelo IP</a></li>
    </ul>
</ul>