<ul>
    <li class="menu-title">Geral</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#adm-local">Administrator Local</a></li>
        <li><a href="#remoto">Acesso remoto</a></li>
        <li><a href="#cert">Certificado</a></li>
        <li><a href="#login">Login automático</a></li>
        <li><a href="#proxy">Proxy</a></li>
        <li><a href="#server-ad">Servidor AD</a></li>
    </ul>

    <li class="menu-title">Navegadores</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#conf-chrome">Configuração do Google Chrome</a></li>
        <li><a href="#default-chrome">Google Chrome como padrão</a></li>
        <li><a href="#update-chrome">Atualização do Chrome</a></li>
        <li><a href="#conf-firefox">Configuração do Firefox</a></li>
        <li><a href="#default-firefox">Mensagem de navegador padrão</a></li>
        <li><a href="#enable-roots">Enable Roots</a></li>
        <li><a href="#update-firefox">Atualização do Firefox</a></li>
    </ul>

    <li class="menu-title">Relação de confiança</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#home-chrome">Tempo da senha</a></li>
        <li><a href="#home-chrome">Diferença de horas</a></li>
    </ul>

    <li class="menu-title">Data e hora</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#horas">Alterar horas</a></li>
        <li><a href="#tzutil">TZUTIL</a></li>
    </ul>

    <li class="menu-title">Tema</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#horas">Papel de parede</a></li>
        <li><a href="#tzutil">Personalização</a></li>
    </ul>
</ul>