<ul>
    <li class="menu-title">Instalação</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#particao">Partições</a></li>
        <li><a href="#nome-grupo">Nome e grupo</a></li>
        <li><a href="#admin">Usuário administrador</a></li>
    </ul>
    <li class="menu-title">Atualizações</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#sp1">Service Pack 1</a></li>
        <li><a href="#kb4507704">KB-4507704</a></li>
        <li><a href="#kb4505658">KB-4505658</a></li>
    </ul>                    
    <li class="menu-title">Configurações</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#energia">Energia</a></li>
        <li><a href="#wallpaper">Definindo o papel de parede padrão IFPR</a></li>
        <li><a href="#drivers">Atualizar os drivers</a></li>
        <li><a href="#navegador">Navegadores</a></li>
        <li><a href="#proxy">Configuração do proxy</a></li>
        <li><a href="#gerenciador">Gerenciador de Tarefas</a></li>
        <li><a href="#inicializacao">Otimize a inicialização</a></li>
        <li><a href="#senhas">Senhas</a></li>
        <li><a href="#reparo">Reparo automático</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#opcoespastas">Opções de pastas</a></li>                     
    </ul>
    <li class="menu-title">Para Windows 10</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#fastboot">Inicialização rápida</a></li>
        <li><a href="#xbox">Desativar Xbox</a></li>
        <li><a href="#inicializacaowin10">Inicialização</a></li>
        <li><a href="#segundoplano">Aplicativos de segundo plano</a></li>
        <li><a href="#confiniciar">Configuração do menu iniciar</a></li>
        <li><a href="#pastasiniciar">Exibição de pastas do menu iniciar</a></li>
    </ul>
    <li class="menu-title">Aplicações</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#zip">7-zip</a></li>
        <li><a href="#air">Adobe Air</a></li>
        <li><a href="#flash">Adobe Flash Player</a></li>
        <li><a href="#astah">Astah Community</a></li>
        <li><a href="#autocad">AutoCAD 2021</a></li>
        <li><a href="#blender">Blender</a></li>
        <li><a href="#bonjour">Bonjour</a></li>
        <li><a href="#brmodelo">BR Modelo</a></li>
        <li><a href="#bricx">BricxCC +(Driver NXT)</a></li>
        <li><a href="#tracer">Cisco Packet Tracer</a></li>
        <li><a href="#composer">Composer</a></li>
        <li><a href="#dbdesigner">DBDesigner</a></li>
        <li><a href="#eclipse">Eclipse Java Mars</a></li>
        <li><a href="#firefox">Firefox</a></li>
        <li><a href="#fluxovento">Fluxovento</a></li>
        <li><a href="#geogebra">Geogebra</a></li>
        <li><a href="#gimp">Gimp</a></li>
        <li><a href="#git">Git</a></li>
        <li><a href="#chrome">Google Chrome</a></li>
        <li><a href="#greenfoot">Greenfoot</a></li>
        <li><a href="#idle">IDLE Python</a></li>
        <li><a href="#burn">IMG Burn</a></li>
        <li><a href="#inkscape">Inkscape</a></li>
        <li><a href="#ireport">IReport Designer</a></li>
        <li><a href="#jdk7">Java JDK7</a></li>
        <li><a href="#jdk8">Java JDK8</a></li>
        <li><a href="#var">Variáveis de Java para o SO</a></li>
        <li><a href="#lego">Lego Mindstorms Education EV3</a></li>
        <li><a href="#libre">LibreOffice</a></li>
        <li><a href="#vmubuntu">Máquina Virtual Ubuntu - texto</a></li>
        <li><a href="#vmwindows">Máquina Virtual Windows</a></li>
        <li><a href="#miktex">MikTex</a></li>
        <li><a href="#maker">Movie Maker</a></li>
        <li><a href="#workbench">MySQL Workbench</a></li>
        <li><a href="#netbeans">Netbeans +(JasperReports Library)</a></li>
        <li><a href="#nodejs">Node.js</a></li>
        <li><a href="#ocs">OCS Iventory</a></li>
        <li><a href="#virtualbox">Oracle VirtualBox +(Extension Pack)</a></li>
        <li><a href="#pandoc">Pandoc</a></li>                        
        <li><a href="#pingendo">Pingendo</a></li>
        <li><a href="#portugol">Portugol Stúdio</a></li>
        <li><a href="#kerkythea">Programa Kerkythea</a></li>                        
        <li><a href="#r">R - Estatísticas e Gráficos</a></li>
        <li><a href="#revit">Revit 2021</a></li>
        <li><a href="#scratch">Scratch</a></li>
        <li><a href="#scketchup">ScketUp Make +(Plugin Kerkythea)</a></li>
        <li><a href="#sumatrapdf">SumatraPDF</a></li>
        <li><a href="#texstudio">TeXstudio</a></li>
        <li><a href="#freeze">Toolwiz Time Freeze</a></li>
        <li><a href="#veyon">Veyon</a></li>
        <li><a href="#visualg">Visual G</a></li>
        <li><a href="#vscode">Visual Studio Code</a></li>
        <li><a href="#vlc">VLC Media Player</a></li>
        <li><a href="#xampp">XAMPP</a></li>
    </ul>
    <li class="nav-title">Clone Windows</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#dominio">Adicionar o pc no domínio</a></li>
        <li><a href="#atautocad">Ativar o AutoCAD</a></li>
        <li><a href="#atrevit">Ativar o Revit</a></li>
        <li><a href="#timefreeze">Ativar o Toolwiz Time Freeze</a></li>
    </ul>
</ul>