<ul>
    <li class="menu-title">Instalação</li>                        
    <ul class="intro-ul toggle-menu">
        <li><a href="#particao">Partições</a></li>
        <li><a href="#root">Usuário root</a></li>
    </ul>
    <li class="menu-title">Configurações</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#padrao">Usuário do estudante</a></li>
        <li><a href="#idioma">Idioma do sistema</a></li>
        <li><a href="#atualizacao">Atualização do SO</a></li>
        <li><a href="#wallpaper">Papel de parede padrão IFPR</a></li>
        <li><a href="#proxy">Configuração de Proxy</a></li>
        <li><a href="#tela">Remoção de proteção e bloqueio de tela</a></li>
        <li><a href="#fontes">Repositório dos parceiros da Canonical</a></li>
        <li><a href="#historico">Histórico do Chrome e Firefox</a></li>
        <li><a href="#horas">Evitando problemas de horas com Dual Boot</a></li>
        <li><a href="#restricao">Restringindo o acesso a partições</a></li>                            
    </ul>
    <li class="menu-title">Aplicações</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#grub">Grub Customizer</a></li>
        <li><a href="#unity-tool">Unity Tweak Tool</a></li>
        <li><a href="#7zip">7-zip</a></li>
        <li><a href="#smb">Samba Cliente</a></li>
        <li><a href="#chrome">Google Chrome</a></li>
        <li><a href="#seahorse">Seahorse</a></li>
        <li><a href="#vi">Vim</a></li>
        <li><a href="#java">Java JDK 8</a></li>
        <li><a href="#netbeans">Netbeans</a></li>
        <li><a href="#adicionais">Ubuntu Restricted Extras</a></li>
        <li><a href="#ssh">Open SSH Server</a></li>
        <li><a href="#scratch">Scratch</a></li>
        <li><a href="#lamp">LAMP</a></li>
        <li><a href="#veyon">Veyon</a></li>
        <li><a href="#vscode">VS Code</a></li>
        <li><a href="#timefreeze">Time Freeze</a></li>                                
    </ul>
    <li class="nav-title">Clone Ubuntu</li>
    <ul class="intro-ul toggle-menu">
        <li><a href="#hostname">Alterar o hostname</a></li>
    </ul>
</ul>