<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Geral</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#adm-local">Administrator Local</a></li>
        <li><a href="#remoto">Acesso remoto</a></li>
        <li><a href="#login">Login automático</a></li>
        <li><a href="#proxy">Proxy</a></li>
        <li><a href="#services">Serviços do Windows</a></li>
    </ul>

    <li class="fw-bold">Data e hora</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#datetime">Alteração de horas</a></li>
    </ul>

    <li class="fw-bold">Relação de confiança</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#times">Tolerância de sincronização</a></li>
        <li><a href="#passtime">Tempo de senha de computador</a></li>
    </ul>

    <li class="fw-bold">Tema</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#wallpaper">Papel de parede</a></li>
        <li><a href="#script">Script do papel de parede</a></li>
    </ul>

    <li class="fw-bold">Opções de Segurança</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#tarefas">Gerenciador de Tarefas</a></li>
        <li><a href="#bloqueio">Bloquear Computador</a></li>
        <li><a href="#logoff">Logoff</a></li>
        <li><a href="#services">Services via BAT</a></li>
    </ul>
</ul>