<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Windows</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#usertemp">Usuário temporário</a></li>
        <li><a href="#pen">Removendo vírus de Pen Drive</a></li>
        <li><a href="#servicos">Gerenciando serviços em massa</a></li>
        <li><a href="#label">Alterando nome do SO</a></li>
    </ul>
    <li class="fw-bold">Ubuntu</li>
    <ul class="sidebar-toggler list-unstyled">
        <li><a href="#errordpkg">Sub-process /usr/bin/dpkg returned an error code (1)</a></li>
        <li><a href="#boot-repair">Boot-repair</a></li>
    </ul>
</ul>