<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Setup Default</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/start/#configsetup">Config Setup</a></li>
        <li><a href="/start/#configso">Start Config SO</a></li>
    </ul>
    <li class="fw-bold">Start Config SO</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/windows/start/">Config Windows</a></li>
        <li><a href="/linux/start/">Config Linux</a></li>
    </ul>
</ul>
