<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Setup Default</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/start/#configsetup">Config Setup</a></li>
        <li><a href="/start/#configso">Start Config SO</a></li>
    </ul>
    <li class="fw-bold"><a href="/windows/start">Settings Windows 10/11</a></li>
    <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/windows/clone">Setting Clone</a></li>
</ul>
