<ul class="list-unstyled sidebar-ul">
  <li class="fw-bold"><a href="/windows/start">Settings Windows</a></li>
  <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>

  <li class="fw-bold">Settings Softwares</li>
  <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
    <li><a href="#zip">7-zip</a></li>
    <li><a href="#anaconda">Anaconda</a></li>
    <li><a href="#android">Android Studio</a></li>
    <li><a href="#arduino">Arduino IDE</a></li>
    <li><a href="#astah">Astah Community</a></li>
    <li><a href="#autocad">AutoCAD</a></li>
    <li><a href="#avogadro">Avogadro</a></li>
    <li><a href="#blender">Blender</a></li>
    <li><a href="#bricx">BricxCC</a></li>
    <li><a href="#brmodelo">brModelo</a></li>
    <li><a href="#chem">ChemSketch</a></li>
    <li><a href="#tracer">Cisco Packet Tracer</a></li>
    <li><a href="#composer">Composer</a></li>
    <li><a href="#dbbrowser">DB Browser for SQLite</a></li>
    <li><a href="#dbeaver">DBeaver Community</a></li>
    <li><a href="#deepfreeze">Deep Freeze Cloud</a></li>
    <li><a href="#docker">Docker</a></li>
    <li><a href="#figma">Figma</a></li>
    <li><a href="#firefox">Firefox</a></li>
    <li><a href="#fluxovento">Fluxovento</a></li>
    <li><a href="#ftool">Ftool</a></li>
    <li><a href="#geogebra">Geogebra</a></li>
    <li><a href="#gimp">Gimp</a></li>
    <li><a href="#git">Git</a></li>
    <li><a href="#chrome">Google Chrome</a></li>
    <li><a href="#greenfoot">Greenfoot</a></li>
    <li><a href="#idle">IDLE Python</a></li>
    <li><a href="#inkscape">Inkscape</a></li>
    <li><a href="#intellij">IntelliJ IDEA Community</a></li>
    <li><a href="#jasperlibrary">JasperReports Library</a></li>
    <li>
      <a href="#jaspersoft">Jaspersoft Community Edition</a>
    </li>
    <li><a href="#jdk17">Java JDK 17</a></li>
    <li><a href="#jdk8">Java JDK 8</a></li>
    <li><a href="#jre">Java JRE</a></li>
    <li><a href="#kerkythea">Kerkythea 2008</a></li>
    <li><a href="#libre">LibreOffice</a></li>
    <li>
      <a href="#vcredist">Microsoft Visual C++ Redistributable Runtimes</a>
    </li>
    <li><a href="#mopac">MOPAC</a></li>
    <li><a href="#workbench">MySQL Workbench</a></li>
    <li><a href="#netbeans14">NetBeans 14</a></li>
    <li><a href="#netbeans8">NetBeans 8</a></li>
    <li><a href="#nodejs">Node.js</a></li>
    <li><a href="#virtualbox">Oracle VirtualBox</a></li>
    <li>
      <a href="#vmubuntu">Oracle VirtualBox VM Ubuntu</a>
    </li>
    <li>
      <a href="#cdevkit">Portable C, C++, and Fortran Development Kit</a>
    </li>
    <li><a href="#portugol">Portugol Stúdio</a></li>
    <li><a href="#project">ProjectLibre</a></li>
    <li><a href="#pycharm">PyCharm Community Edition</a></li>
    <li><a href="#revit">Revit</a></li>
    <li><a href="#scratch">Scratch</a></li>
    <li><a href="#sketchup">SketchUp Make 2016</a></li>
    <li><a href="#sumatrapdf">SumatraPDF</a></li>
    <li><a href="#freeze">Toolwiz Time Freeze</a></li>
    <li><a href="#ultimaker">Ultimaker Cura</a></li>
    <li><a href="#veyon">Veyon</a></li>
    <li><a href="#vscode">Visual Studio Code</a></li>
    <li><a href="#visualg">VisuAlg</a></li>
    <li><a href="#ventos">Visualventos</a></li>
    <li><a href="#vlc">VLC Media Player</a></li>
    <li><a href="#winupdate">Windows Update Disabler</a></li>
    <li><a href="#xampp">XAMPP</a></li>
  </ul>

  <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
  <li class="fw-bold"><a href="/windows/clone">Settings Clone</a></li>
</ul>