<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/windows/">Settings Windows</a></li>
    <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>

    <li class="fw-bold">Settings Final</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#recursos">Aplicativos e recursos</a></li>
        <li><a href="#startwin">Otimize a inicialização</a></li>
        <li><a href="#protecao">Proteção do Sistema</a></li>
        <li><a href="#tarefas">Agendador de Tarefas</a></li>
        <li><a href="#historico">Histórico de navegação</a></li>
        <li><a href="#sysprep">Generalizar Instalação do Windows</a></li>
    </ul>

    <li class="fw-bold"><a href="/windows/clone">Settings Clone</a></li>
</ul>