<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Config Windows</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="/windows/start/#isowindows">ISO Windows</a></li>
        <li><a href="/windows/start/#tools">Tools</a></li>
        <li><a href="/windows/windows/#admin">Usuário Administrador</a></li>
        <li><a href="/windows/windows/#estudante">Usuário Padrão</a></li>
        <li><a href="/windows/windows/#particao">Partições do SO</a></li>
        <li><a href="/windows/windows/#windowsupdate">Windows Update</a></li>
        <li><a href="/windows/windows/#drivers">Atualização de drivers</a></li>
        <li><a href="/windows/windows/#wol">Configuração de WOL</a></li>
        <li><a href="/windows/windows/#fastboot">Fast Boot</a></li>
        <li><a href="/windows/windows/#mdns">mDNS</a></li>
        <li><a href="/windows/windows/#reparo">Reparo automático</a></li>
        <li><a href="/windows/windows/#defrag">Otimização agendada</a></li>
        <li><a href="/windows/windows/#secwindows">Segurança do Windows</a></li>
        <li><a href="/windows/windows/#news">Notícias e Interesses</a></li>
        <li><a href="/windows/windows/#pesquisar">Pesquisa na internet</a></li>
        <li><a href="/windows/windows/#psremote">Comunicação remota do PowerShell</a></li>
        <li><a href="/windows/windows/#ps1">Permitindo a execução de scripts</a></li>
        <li><a href="/windows/windows/#servicos">Serviços</a></li>
    </ul>

    <li class="fw-bold"><a href="/windows/profile">Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/windows/clone">Setting Clone</a></li>
</ul>
