<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/windows/start">Settings Windows</a></li>
    <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>

    <li class="fw-bold">Settings Clone</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#nome">Nome e Grupo</a></li>
        <li><a href="#atwindows">Ativar o Windows</a></li>
        <li><a href="#dewinupdate">Desativar Windows Update</a></li>
        <li><a href="#logon">Login Automático</a></li>
        <li><a href="#atautocad">Ativar AutoCAD</a></li>
        <li><a href="#atrevit">Ativar Revit</a></li>
        <li><a href="#tactical">Tactical RMM</a></li>
        <li><a href="#deep">Habilitar Deep Freeze Cloud</a></li>
        <li><a href="#timefreeze">Habilitar Toolwiz Time Freeze</a></li>
    </ul>
</ul>