<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold">Settings Windows 10/11</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#isowindows">ISO Windows</a></li>
        <li><a href="#tools">Tools</a></li>
        <li><a href="#admin">Usuário Administrador</a></li>
        <li><a href="#estudante">Usuário Padrão</a></li>
        <li><a href="#particao">Partições do SO</a></li>
        <li><a href="#windowsupdate">Windows Update</a></li>
        <li><a href="#drivers">Atualização de drivers</a></li>
        <li><a href="#wol">Configuração de WOL</a></li>
        <li><a href="#fastboot">Fast Boot</a></li>
        <li><a href="#mdns">mDNS</a></li>
        <li><a href="#reparo">Reparo automático</a></li>
        <li><a href="#defrag">Otimização agendada</a></li>
        <li><a href="#secwindows">Segurança do Windows</a></li>
        <li><a href="#news">Notícias e Interesses</a></li>
        <li><a href="#pesquisar">Pesquisa na internet</a></li>
        <li><a href="#psremote">Comunicação remota do PowerShell</a></li>
        <li><a href="#ps1">Permitindo a execução de scripts</a></li>
        <li><a href="#servicos">Serviços</a></li>
    </ul>

    <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/windows/clone">Setting Clone</a></li>
</ul>
