<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/windows/start">Settings Windows</a></li>

    <li class="fw-bold">Settings Profile</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#opcoespastas">Opções de pastas</a></li>
        <li><a href="#senhas">Senhas</a></li>
        <li><a href="#sistema">Sistema</a></li>
        <li><a href="#tema">Personalização</a></li>
        <li><a href="#jogos">Jogos</a></li>
        <li><a href="#privacidade">Privacidade</a></li>
        <li><a href="#edge">Configuração do Edge</a></li>
    </ul>

    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/windows/clone">Settings Clone</a></li>
</ul>