<ul class="list-unstyled sidebar-ul">
    <li class="fw-bold"><a href="/windows/">Settings Windows</a></li>
    <li class="fw-bold"><a href="/windows/profile">Settings Profile</a></li>
    <li class="fw-bold"><a href="/windows/softwares">Settings Sotwares</a></li>
    <li class="fw-bold"><a href="/windows/final">Settings Final</a></li>
    <li class="fw-bold"><a href="/windows/clone">Settings Clone</a></li>
    <li class="fw-bold">Helpers</li>
    <ul class="sidebar-toggler list-unstyled" data-toggler="sidebar-toggler">
        <li><a href="#psexec">psexec</a></li>
        <li><a href="#copy">copy</a></li>
        <li><a href="#del">del</a></li>
        <li><a href="#gpedit">gpedit</a></li>
        <li><a href="#sysdm">sysdm</a></li>
        <li><a href="#ms-settings">ms-settings</a></li>
    </ul>
</ul>