---
title: "Settings Final"
permalink: /linux/final/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-final.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Remoção de históricos e configuração de serviços.
                  </p>

                  <h2 id="l-history">Histórico de Navegação</h2>
                  <p>Remover histórico do Google Chrome e Firefox.</p>

                  <h2 id="l-restore">Restore User</h2>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Finalizado as personalização dos perfis, prossiga com as configurações.
                        </div>
                  </div>

                  <h3>Criando backup do perfil</h3>
                  <p>Fazendo a cópia do perfil para ser o padrão:</p>
                  <pre><code>
sudo mkdir /home/resetuser
sudo cp -r /home/aluno/. /home/resetuser
                  </code></pre>

                  <h3>Script de restauração do perfil</h3>
                  <p>Crie o arquivo <code>/sbin/reset-user.sh</code> e adicione:</p>
                  <pre><code>
#!/bin/sh
# Remove Profile Folders
rm -rf /home/aluno/Área\ de\ trabalho /home/aluno/Documentos /home/aluno/Downloads /home/aluno/Imagens /home/aluno/Modelos /home/aluno/Músicas /home/aluno/Público /home/aluno/Vídeos /home/aluno/.config /home/aluno/.icons /home/aluno/.themes /home/aluno/.local

# Create Profile Folders
mkdir /home/aluno/Área\ de\ trabalho /home/aluno/Documentos /home/aluno/Downloads /home/aluno/Imagens /home/aluno/Modelos /home/aluno/Músicas /home/aluno/Público /home/aluno/Vídeos /home/aluno/.config /home/aluno/.icons /home/aluno/.themes /home/aluno/.local

# Remove and Create Apps Folders
rm -rf /home/aluno/.var/app/org.mozilla.firefox /home/aluno/.var/app/com.google.Chrome
mkdir /home/aluno/.var/app/org.mozilla.firefox /home/aluno/.var/app/com.google.Chrome

# Restore Files Defaults
echo "Olá, pequeno gafanhoto!" > /home/aluno/.bash_history
cp -r /home/resetuser/Imagens/. /home/aluno/Imagens
cp -r /home/resetuser/Área\ de\ trabalho/. /home/aluno/Área\ de\ trabalho
cp -r /home/resetuser/.config/. /home/aluno/.config
cp -r /home/resetuser/.icons/. /home/aluno/.icons
cp -r /home/resetuser/.themes/. /home/aluno/.themes
cp -r /home/resetuser/.local/. /home/aluno/.local
cp -r /home/resetuser/.var/app/org.mozilla.firefox/. /home/aluno/.var/app/org.mozilla.firefox
cp -r /home/resetuser/.var/app/com.google.Chrome/. /home/aluno/.var/app/com.google.Chrome

# Restore Permissions
chown -R aluno /home/aluno
                  </code></pre>

                  <h3>Permissão de execução</h3>
                  <pre><code>
sudo chmod +x /sbin/reset-user.sh
                  </code></pre>

                  <h3>Serviço para executar script</h3>
                  <p>Crie o arquivo <code>/etc/systemd/system/reset-user.service</code> e adicione:</p>
                  <pre><code>
[Unit]
Description=Restore user Aluno
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/reset-user.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
                  </code></pre>

                  <h3>Habilitando o serviço</h3>
                  <pre><code>
sudo systemctl enable reset-user.service
                  </code></pre>

                  <p>Referência: <a
                              href="https://docs.redhat.com/pt-br/documentation/red_hat_enterprise_linux/8/html/configuring_basic_system_settings/unit-file-structure_working-with-systemd-unit-files#unit-file-structure_working-with-systemd-unit-files">3.5.2.
                              Estrutura do arquivo da unidade</a>
                  </p>

                  <div class="container">
                        <div class="row">
                              <div class="col text-start">
                                    Voltar para <a href="/linux/softwares/">Settings Softwares</a>
                              </div>
                              <div class="col text-end">
                                    Ir para <a href="/linux/clone/">Settings Clone</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}