---
title: "Settings Final"
permalink: /linux/final/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-final.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Remoção de histórico, configuração de serviços e configuração de proxy.
                  </p>

                  <h2 id="l-history">Histórico de Navegação<span></span></h2>
                  <p>Remover histórico do Google Chrome e Firefox.</p>

                  <h2 id="l-proxy">Proxy<span></span></h2>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Defina para o perfil do <b>Aluno</b> e do <b>IFPR</b>.
                        </div>
                  </div>
                  <p>
                        <img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/linux-proxy.png"
                              alt="Configuração de proxy" />
                  </p>

                  <h3>Para o apt-get</h3>
                  <p>Crie o arquivo <code>proxy.conf</code> em <code>/etc/apt/apt.conf.d</code> e adicione:</p>
                  <pre><code>
Acquire::http::proxy "http://192.168.0.6:3128/";
Acquire::https::proxy "https://192.168.0.6:3128/";
Acquire::ftp::proxy "ftp://192.168.0.6:3128/";
                  </code></pre>

                  <h2 id="l-restore">Restore User<span></span></h2>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Finalizado todas as personalizações do perfil, prossiga com as configurações.
                        </div>
                  </div>

                  <h3>Criando backup do perfil</h3>
                  <p>Fazendo a cópia do perfil para ser o padrão:</p>
                  <pre><code>
sudo mkdir /home/resetuser
sudo cp -r /home/aluno/. /home/resetuser
                  </code></pre>

                  <h3>Criando o Script</h3>
                  <p>Crie o arquivo <code>reset-user.sh</code> em <code>/sbin</code> e adicione:</p>
                  <pre><code>
#!/bin/sh
rm -rf /home/aluno
mkdir /home/aluno
cp -r /home/resetuser/. /home/aluno
chown -R aluno /home/aluno
                  </code></pre>

                  <h3>Permissão de execução</h3>
                  <pre><code>
sudo chmod +x /sbin/reset-user.sh
                  </code></pre>

                  <h3>Script como serviço</h3>
                  <p>Crie o arquivo <code>reset-user.service</code> em <code>/etc/systemd/system</code> e adicione:</p>
                  <pre><code>
[Unit]
Description=Restore user Aluno
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/reset-user.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
                  </code></pre>
                  <h3>Atualizando systemd</h3>
                  <pre><code>
sudo systemctl daemon-reload
                  </code></pre>

                  <div class="container">
                        <div class="row">
                              <div class="col text-start">
                                    <a href="/linux/softwares/">&larr;Settings Softwares</a>
                              </div>
                              <div class="col text-end">
                                    <a href="/linux/clone/">Settings Clone&rarr;</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}
