---
title:  "Ajustes finais - Wiki"
permalink: /so/final/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
            <div class="sidebar">
        
                {% include nav-so.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-6 mb-5">
                <h1>Ajuste final</h1>

                <p class="lead">
                    Ajustes de otimização para que seja possível tornar o SO mais performático na inicialização. Também temos orientações para tornar programas como o VLC Media Player padrão do Windows.
                </p>

                <!-- Start Configuração final -->
                
                <h2 id="recursos">Aplicativos e recursos <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>

                <h3>Aplicativos padrão</h3>
                    <ol>
                        <li>Definir aplicativo padrão</li>
                    </ol>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Defina o VLC Media Player e o Google Chrome como aplicativos padrões.</div>
                </div>

                <h3>Inicialização</h3>
                    <ol>
                        <li>Desativar inicializações <b>desnecessárias</b></li>
                    </ol>
                
                <h2 id="startwin">Otimize a inicialização <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Acesse <code>msconfig</code> como <b>Administrador</b>.</p>
                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/msconfig.png" alt="msconfig"></p>

                <h2 id="protecao">Proteção do Sistema <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Desative a Proteção do Sistema através das Configurações Avançadas do Sistema:</p>
                <ol>
                    <li>Configurações <span class="wiki-arrow">&harr;</span> Sistema <span class="wiki-arrow">&harr;</span> Sobre <span class="wiki-arrow">&harr;</span> Configurações Avançadas do Sistema <span class="wiki-arrow">&harr;</span> Proteção do Sistema <span class="wiki-arrow">&harr;</span> Configurar... <span class="wiki-arrow">&harr;</span> Desativar a proteção do sistema.</li>
                </ol>                

                <h2 id="tarefas">Agendador de Tarefas <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Desative as tarefas encontradas em:</p>
                <ol>
                    <li>Tarefas da <b>Biblioteca do Agendador</b> <span class="wiki-arrow">&harr;</span> <b>Desativar tudo</b></li>
                    <li>Tarefas de <b>Microsoft</b> <span class="wiki-arrow">&harr;</span> <b>Windows</b> <span class="wiki-arrow">&harr;</span> <b>AppListBackup</b> <span class="wiki-arrow">&harr;</span> <b>Desativar Tudo</b></li>
                    <li>Tarefas de <b>Microsoft</b> <span class="wiki-arrow">&harr;</span> <b>Windows</b> <span class="wiki-arrow">&harr;</span> <b>License Manager</b> <span class="wiki-arrow">&harr;</span> <b>Desativar TempSignedLicenseExchange</b></li>
                </ol>

                <h2 id="historico">Histórico de Navegação <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Remover histórico do Edge, Chrome e Firefox.</p>
                
                <h2 id="proxy">Configuração de proxy <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Possível definir pelo Active Directory. Configure para o usuário <b>IFPR</b> e <b>Aluno</b>.</div>
                </div>
                <p>Dados do proxy:</p>
<pre><code>192.168.0.6:3128</code></pre>
                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/proxy.png" alt="Proxy"></p>

                <h2 id="opcoespastas">Opções de pastas <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Configure para o usuário <b>IFPR</b> e <b>Aluno</b>.</div>
                </div>                
                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/opcoes-de-pastas.png" alt="Oções de pastas"></p>

                <!-- End Configuração final -->
        
        </main>

        <div class="col-lg-3 d-md-none d-lg-block">
            <div class="on-page">
             <div class="mb-1 pb-2 border-bottom">
                 <strong class="h5">Na página</strong>
             </div>
             <ul class="list-unstyled sidebar-ul">
                {% include links-final.html %}
             </ul>
            </div>
         </div>

    </div>

</div>

{% include footer.html %}