---
title: "Settings Windows"
permalink: /windows/start/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-start.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Configuração da ISO, lista de ferramentas utilizadas e Configuração padrão do Sistema Operacional
        Windows 10/11.
      </p>

      <h2 id="isowindows">ISO Windows<span></span></h2>
      <p>
        Através do <a href="https://schneegans.de/windows/unattend-generator/">Generate autounattend.xml files for
          Windows 10/11&rarr;</a>
        é possível criar um <b>xml</b> para automatizar o processo de instalação
        do Windows. Para a edição da <b>iso</b>, utilize o <a
          href="https://www.anyburn.com/download.php">AnyBurn&rarr;</a>.
      </p>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Através dessa ferramenta é possível remover os
          <i>bloatwares</i> (OneDrive, Office 365, Cortana e etc.) da
          instalação, além de outras configurações.
        </div>
      </div>

      <h2 id="tools">Tools<span></span></h2>
      <ul>
        <li class="mb-2"><a href="https://schneegans.de/windows/unattend-generator/">Unattend Generator&rarr;</a></li>
        <li class="mb-2"><a href="https://www.anyburn.com/download.php">AnyBurn&rarr;</a></li>
        <li class="mb-2"><a href="https://www.ventoy.net/en/download.html">Ventoy&rarr;</a></li>
        <li><a href="https://clonezilla.org/downloads.php">Clonezilla&rarr;</a></li>
        <li class="mb-2"><a
            href="https://learn.microsoft.com/pt-br/windows-hardware/manufacture/desktop/sysprep--generalize--a-windows-installation?view=windows-11">Sysprep&rarr;</a>
        </li>
      </ul>

      <h2 id="admin">Usuário Administrador<span></span></h2>
      <p>
        Criar usuário Administrador <strong>IFPR</strong> e definir senha padrão
        disponível na
        <a
          href="https://docs.google.com/spreadsheets/d/1K7BrCy4tWE0I9W5_Dc5zm_tXNyYtj4ZYFQJLmiljGAE/edit?usp=sharing">planilha&rarr;</a>.
      </p>

      <h2 id="estudante">Usuário Padrão<span></span></h2>
      <p>Criar o usuário <strong>Aluno</strong> para o login automático:</p>
      <pre><code>Usuário: aluno
Senha: aluno123
</code></pre>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Configure o
          <a href="{{ site.baseurl }}/gpo/#login">login automático&larr;</a>
          para esse usuário alterando o registro do Windows. Caso utilize o SysPrep, configure o autologon após a
          clonagem.
        </div>
      </div>

      <h2 id="particao">Partições do SO<span></span></h2>
      <p>Defina as partições do computador conforme tabela abaixo:</p>
      <table class="table table-striped table-hover border">
        <thead>
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Capacidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nuvem01</td>
            <td>Mínimo de 10GB</td>
          </tr>
          <tr>
            <td>Windows</td>
            <td>Restante da capacidade</td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Caso o equipamento possua unidades extras de armazenamento, utilize
          todo espaço da unidade para partição nuvem01 e/ou nuvem02.
        </div>
      </div>

      <h2 id="windowsupdate">Windows Update<span></span></h2>
      <p>Instale todas as atualizações do Windows.</p>

      <h2 id="drivers">Atualização de drivers<span></span></h2>
      <p>
        Baixe os drivers do site do fabricante ou utilize softwares como
        <a href="https://www.drivereasy.com/">EasyDriver&rarr;</a> ou
        <a href="https://www.iobit.com/pt/driver-booster.php">Driver Booster&rarr;</a>.
      </p>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Utilize o instalador oficial do fabricante para o driver de vídeo.
        </div>
      </div>

      <h2 id="wol">Configuração de WOL<span></span></h2>
      <ol>
        <li class="mb-2">Abra o Gerenciador de Dispositivos;</li>
        <li class="mb-2">Acesse Adaptadores de rede e abra a categoria;</li>
        <li class="mb-2">
          Clique com o botão direito no LAN Controller e selecione Propriedades;
        </li>
        <li class="mb-2">Abra a guia Gerenciamento de energia;</li>
        <li class="mb-2">Marque as caixas:</li>
        <ol>
          <li class="mb-2">
            Permitir que este dispositivo acorde o computador;
          </li>
          <li class="mb-2">
            Só permita que um pacote mágico acorde o computador.
          </li>
        </ol>
        <li class="mb-2">
          Agora, abra a guia Avançado e escolha Energy Efficient Ethernet e
          Defina essa opção como Desativado;
        </li>
        <li class="mb-2">Confirme as alterações clicando em OK.</li>
      </ol>

      <h2 id="fastboot">Fast Boot<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Ajuste necessário para o desligamento completo do SO.</div>
      </div>
      <p>Execute no <code>prompt</code> como Administrador:</p>
      <pre><code>powercfg.exe /hibernate off</code></pre>

      <h2 id="mdns">mDNS</h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Serve para o <b>Veyon</b> enxergar as outras máquinas na rede local.
        </div>
      </div>
      <p>Execute no <code>prompt</code> como <b>Administrador</b>:</p>
      <pre><code>reg add "HKLM\Software\Policies\Microsoft\Windows NT\DNSClient" /v EnableMulticast /t REG_DWORD /d 1 /f</code></pre>

      <h2 id="reparo">Reparo automático<span></span></h2>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Ajuste necessário para evitar o reparo automático do SO em caso de queda de energia.
        </div>
      </div>
      <h3>Para desativar</h3>
      <p>
        Execute no <code>prompt</code> como <b>Administrador</b>:
      </p>
      <pre><code>bcdedit /set recoveryenabled NO</code></pre>

      <h2 id="defrag">Otimização agendada<span></span></h2>
      <p>Desative este serviço para todas as unidades.</p>
      <p><img class="img-fluid rounded-2" src="{{ site.baseurl }}/assets/images/pages/desfragmentador.png"
          alt="Desfragmentador" /></p>

      <h2 id="secwindows">Segurança do Windows<span></span></h2>
      <p>
        Desative as opções pelo Editor de política de grupo
        <span class="wiki-arrow">&harr;</span> <code>gpedit.msc</code>.
      </p>
      <ol>
        <li class="mb-2">
          Configuração do Usuário
          <span class="wiki-arrow">&harr;</span> Modelos Administrativos
          <span class="wiki-arrow">&harr;</span> Sistema
          <span class="wiki-arrow">&harr;</span> Opções de Ctrl+Alt+Del
        </li>
        <ol>
          <li class="mb-2">
            Remover Bloquear Computador <span class="wiki-arrow">&harr;</span>
            <b>Habilitado</b>
          </li>
          <li class="mb-2">
            Remover Gerenciador de tarefas
            <span class="wiki-arrow">&harr;</span> <b>Habilitado</b>
          </li>
        </ol>
      </ol>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>Possível definir pelo Active Directory.</div>
      </div>

      <h2 id="news">Notícias e Interesses<span></span></h2>
      <p>
        Desative as opções pelo Editor de política de grupo
        <span class="wiki-arrow">&harr;</span> <code>gpedit.msc</code>.
      </p>
      <ol>
        <li class="mb-2">
          Configuração do Computador
          <span class="wiki-arrow">&harr;</span> Modelos Administrativos
          <span class="wiki-arrow">&harr;</span> Componentes do Windows
          <span class="wiki-arrow">&harr;</span> Notícias e Interesses
        </li>

        <ol>
          <li class="mb-2">
            Habilitar Notícias e Interesses... <span class="wiki-arrow">&harr;</span>
            <b>Desabilitado</b>
          </li>
        </ol>
      </ol>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Possível definir pelo Active Directory.
        </div>
      </div>

      <h2 id="pesquisar">Pesquisa na internet<span></span></h2>
      <p>
        Para desativar este recurso, execute no <code>prompt</code> como
        <b>Administrador</b>:
      </p>
      <pre><code>reg add "HKLM\SOFTWARE\Policies\Microsoft\Windows\Explorer" /v DisableSearchBoxSuggestions /t REG_DWORD /d 1 /f /reg:32</code></pre>

      <h2 id="psremote">Comunicação remota do PowerShell<span></span></h2>
      <p>Execute no <code>PowerShell</code> como <b>Administrador</b>:</p>
      <pre><code>Enable-PSRemoting</code></pre>

      <h2 id="ps1">Permitindo a execução de scripts<span></span></h2>
      <p>Execute no <code>PowerShell</code> como <b>Administrador</b>:</p>
      <pre><code>Set-ExecutionPolicy -ExecutionPolicy Unrestricted</code></pre>

      <h2 id="servicos">Serviços<span></span></h2>
      <p>Lista de serviços a serem desativados:</p>
      <table class="table table-striped table-hover border">
        <thead>
          <tr>
            <th>Serviço</th>
            <th>Configuração</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Windows Update</td>
            <td>Desativado via GPO ou Windows Update Disabler</td>
          </tr>
          <tr>
            <td>Backup do Windows</td>
            <td>Desativado via GPO ou <code>services.msc</code></td>
          </tr>
          <tr>
            <td>Desfragmentador ou Otimizador de Discos/Unidades</td>
            <td>Manual via GPO ou <code>services.msc</code></td>
          </tr>
          <tr>
            <td>SuperFetch ou SysMain</td>
            <td>Desativado via GPO ou <code>services.msc</code></td>
          </tr>
          <tr>
            <td>Spooler de Impressão</td>
            <td>Desativado via GPO ou <code>services.msc</code></td>
          </tr>
          <tr>
            <td>Windows Search</td>
            <td>Desativado via GPO ou <code>services.msc</code></td>
          </tr>
          <tr>
            <td>Edge Update</td>
            <td>Desativado via GPO ou <code>services.msc</code></td>
          </tr>
        </tbody>
      </table>
      <h3>Gerenciando com arquivos em lote</h3>
      <pre><code>@echo off

rem HELP
rem start= {auto(automatico) - demand(manual) - disabled(desativado) - delayed-auto(atraso-na-inicializacao)}
rem END HELP

rem Backup do Windows
  sc config "SDRSVC" start= disabled

pause

exit</code></pre>

      <div class="container">
        <div class="row">
          <div class="col text-start">
            <a href="/start/">&larr;Start</a>
          </div>
          <div class="col text-end">
            <a href="/windows/profile/">Settings Profile&rarr;</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}