---
title:  "Setup e SO - Wiki"
permalink: /image/setup-so
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
            <div class="sidebar">

                {% include links-setup-so.html %}

            </div>
        </aside>

        <main class="col-12 col-lg-8 mb-5">

            <!-- Start Setup and SO -->
                <h1>Setup e SO</h1>
                <p class="lead">
                    Configuração padrão para o Hardware novo e criação de uma ISO para instalação do Windows.
                </p>

                <h2 id="configsetup">Configurações <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>

                <ul>
                    <li class="mb-2">Armazenamento no modo AHCI;</li>
                    <li class="mb-2">Habilitar Virtualização;</li>
                    <li class="mb-2">Desativar Fast Boot;</li>
                    <li class="mb-2">Desativar Secure Boot;</li>
                    <li class="mb-2">Ativar Preboot Execution Environment (PXE);</li>
                    <li class="mb-2">Ativar Wake On LAN (WOL).</li>
                </ul>

                <h2 id="isowindows">ISO Windows <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0066cc" class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                  </svg></h2>
                <p>Através do <a href="https://schneegans.de/windows/unattend-generator/">Generate autounattend.xml files for Windows&#xA0;10/11&rarr;</a> é possível personalizar um <code>xml</code> para automatizar alguns passos do processo de instalação do Windows. Adicione o <code>xml</code> ao iso do Windows usando o <a href="https://www.anyburn.com/download.php">AnyBurn&rarr;</a>.</p>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Através dessa ferramenta é possível remover os <i>bloatwares</i> (OneDrive, Office 365, Cortana e etc.) da instalação, além de outras configurações. Também é possível pré-configurar usuários para o SO.</div>
                </div>

            <!-- End Setup and SO-->

        </main>

    </div>

</div>

{% include footer.html %}