---
title: "Setup and SO"
permalink: /image/setup-so
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-setup-so.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Configuração padrão para o Hardware e configuração de uma iso para
        instalação automatizada do Windows.
      </p>

      <h2 id="configsetup">Setup Default<span></span></h2>
      <ul>
        <li class="mb-2">Armazenamento no modo AHCI;</li>
        <li class="mb-2">Habilitar Virtualização;</li>
        <li class="mb-2">Desativar Fast Boot;</li>
        <li class="mb-2">Desativar Secure Boot;</li>
        <li class="mb-2">Ativar Preboot Execution Environment (PXE);</li>
        <li class="mb-2">Ativar Wake On LAN (WOL).</li>
      </ul>

      <h2 id="isowindows">ISO Windows<span></span></h2>
      <p>
        Através do <a href="https://schneegans.de/windows/unattend-generator/">Generate autounattend.xml files for
          Windows&#xA0;10/11&rarr;</a>
        é possível criar um <b>xml</b> para automatizar o processo de instalação
        do Windows. Para a edição da <b>iso</b>, utilize o <a
          href="https://www.anyburn.com/download.php">AnyBurn&rarr;</a>.
      </p>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Através dessa ferramenta é possível remover os
          <i>bloatwares</i> (OneDrive, Office 365, Cortana e etc.) da
          instalação, além de outras configurações.
        </div>
      </div>
    </main>
  </div>
</div>

{% include footer.html %}