/* 
    reset
*/
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 
    geral
*/
html{
    background-color: #272f42;
    color: #fff;
    font-family: 'Noto Sans', Georgia, sans-serif;
	font-weight: 400;
    line-height: 1.6;
    /*topo*/
    scroll-behavior: smooth;
}
/*imagem*/
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*table*/
table {
    font-size: 1.25rem;
    border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
    background-color: #1b202d;
}
td, th {
    border: 2px solid #1b202d;
	padding: .8rem;
	text-align: left;
}
tr:nth-child(even) {
    background-color: #272f42;
}
@media (max-width: 380px){
    table{
        font-size: 14px;
    }
}
@media (max-width: 360px){
    table{
        font-size: 12px;
    }
}
/*links*/
a:link{
    color: #0695cf;
    text-decoration: none;
}
a:visited{
    color: #0695cf;
}
a:hover{
    color: #d78423;
    text-decoration: underline;
}
a:active{
    color: #0695cf;
}
/*strong*/
b{
    color: #d78423;
}

/*
    header
*/
.header{
    max-width: 990px;
    margin: 0 auto 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px){
    .header{
        margin: 0 auto 1.25rem;
    }
}
.logo{
    width: 172px;
    margin: 15px 10px;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
}
.nav li{
    list-style: none;
}
.nav a{
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
    padding: 10px;
}
@media (max-width: 492px){
    .nav a{
        padding: 6px 10px;
    }
}

/*
    home layout
*/
.conteudo-home{
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.introducao,
.ilustracao{
    flex: 1 1 260px;
    padding: 10px;
}

/* 
    conteudo + sidebar layout
*/
.conteudo-container{
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.sidebar,
.conteudo{
    padding: 10px;
}
.sidebar{
    flex: 1 1 310px;
}
.conteudo{
    flex: 2 1 490px;
}
@media (max-width: 800px){
    .conteudo-container{
        flex-direction: column;
    }
    .sidebar,
    .conteudo{
        flex: 1;
        width: 100%;
    }
    .sidebar{
        padding: 0px;
    }
}

/* 
    404
*/
.conteudo-404{
    max-width: 990px;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ilustracao-404{
    flex: 2 1 500px;
    padding: 10px;
}
.introducao-404{
    flex: 1 1 250px;
    padding: 10px;
}
.introducao-404 p{
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.introducao-404 h1{
    font-size: 3.052rem;
    line-height: 1;
    margin-bottom: 2rem;
}
@media (max-width: 768px){
    .conteudo-404{
        margin: 1rem auto;
    }
    .ilustracao-404{
        order: 2;
    }
}

/*
    sidebar
*/
.menu{
    font-size: 1.25rem;
}
.menu ul{
    list-style: none;
}
.intro-ul{
    margin-bottom: 1rem;
}
.intro-ul li{
    padding-left: .625rem;
    line-height: 1.2;
}
.intro-ul a{
    text-decoration: none;
    display: inline-block;
    padding: .375rem;
}
.intro-ul a:hover{
    background-color: #0695cf;
    color: #fff;
}
.intro-ul a,
.intro-ul a:hover{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
@media (max-width: 800px){
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 290px;
        background-color: #1b202d;
        display: none;
        z-index: 1;
        padding: .75rem;
    }
    .menu-responsivo.show-menu .menu{
        display: block;
    }
}

/*
    botao sumario
*/
.btn-container{
    max-width: 990px;
    margin: 0 auto 0;
    padding: 10px;
}
a.btn-menu{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}
.hidden-btn,
.show-btn{
    background-color: #0695cf;
    display: none;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: top right;
}
.hidden-btn{
    margin: 10px 0;
    background-image: url("../../assets/images/close-icon.svg");
}
.show-btn{
    margin: 0 10px 10px;
    background-image: url("../../assets/images/menu-icon.svg");
}
@media (max-width: 800px){
    .show-btn,
    .hidden-btn{
        display: block;
    }
}

/*
    conteudo
*/
.conteudo blockquote,
.conteudo-home p,
.conteudo p{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
h1,
h2,
h3,
h4{
    line-height: 1;
    margin-bottom: 0.75rem;
    font-family: 'Arvo', serif;
}
h1{
    font-size: 3.052rem;/*48.83px*/
}
h2{
    font-size: 2.441rem;/*39.06px*/
}
h3{
    font-size: 1.953rem;/*31.25px*/
}
h4{
    font-size: 1.563rem;/*25.00px*/
}
h2,
h3,
h4{
    margin-top: 2rem;
}
.conteudo img {
    opacity: 0.8;
    margin-bottom: 1rem;
}
.conteudo img:hover {
    opacity: 1.0;
}
/*label*/
.installed,
.notinstalled{
    font-size: 0.8rem;
	color: #fff;
    border-radius: 4px;
    font-family: 'Noto Sans',Georgia,sans-serif;
    font-weight: 400;
    padding: .2rem;
    margin: .10rem;
    position: relative;
    top: -.2rem;
}
.installed{
	background-color: #2ecc71;
}
.notinstalled{
	background-color: #ff7979;
}
/*blockquote*/
.info{
    background: rgba(6, 149, 207, .8);
    padding: 1.25rem;
    color: #fff;
    border-radius: .625rem;
}
/*bloco de codigo*/
.highlight{
    color: #d78423;
    margin: 0 0 1rem;
    padding: 0 10px;
    background-color: #2d2d2d;
    border: 1px solid #1b202d;
}
.highlight pre{
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
}
.highlight pre,
.highlight code{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.25rem;
}
/*code inline*/
.inline{
	padding: .2rem .1rem;
    color: #d78423;
    background-color: #2d2d2d;
    border: 1px solid #1b202d;
    border-radius: .4rem;
}

/* 
    footer
*/
.footer{
    max-width: 990px;
    margin: 2.5rem auto 0;
    padding: 10px;
    display: flex;
    height: 60px;
    align-items: center;
}
.tecnologias{
    flex: 1;
    font-size: 1.25rem;
    text-align: center;
}

/* 
    topo
*/
.topo{
	outline: none;
    position: fixed;
    right: 1.75rem;
    bottom: 1.75rem;
    height: 3.375rem;
    width: 3.375rem;
	z-index: 9999;
	text-indent: -9999rem;
    background: url(../../assets/images/topo.png) no-repeat center center;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border-radius: 50%;
}
.topo:hover{
	background-color: #1b202d;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 768px){
	.topo{
		right: .5rem;
		bottom: .5rem;
		height: 3.125rem;
		width: 3.125rem;
	}
}