---
title: "Settings Softwares"
permalink: /linux/softwares
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-softwares.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Links para downloads, instalação e configuração de softwares.
                  </p>

                  <h2 id="l-zip">7-zip<span></span></h2>
                  <pre><code>
sudo apt-get install p7zip p7zip-full p7zip-rar lzma lzma-dev
                  </code></pre>

                  <h2 id="l-astah">Astah Community<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Astah
                              Community&rarr;</a>. Última versão disponibilizada pela desenvolvedora.
                  </p>

                  <h3>Dependências</h3>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Roda com o <a href="/linux/softwares/#l-wine">Wine&larr;</a> e <b>Java JDK</b> (selecione
                              todas
                              as opções do Astah no momento da instalação).
                        </div>
                  </div>

                  <h3>Desativando atualização e envio de dados</h3>
                  <p>
                        <img class="img-fluid rounded-2"
                              src="{{ site.baseurl }}/assets/images/pages/astah-data-and-update.png"
                              alt="Desativar verificação de atualização" />
                  </p>

                  <h2 id="l-brmodelo">brModelo<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="http://www.sis4.com/brModelo/download.html">brModelo&rarr;</a>
                        e extraia para <code>/home/portable/brmodelo</code>.
                  </p>
                  <h3>Dependências</h3>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Precisa de <a href="/linux/softwares/#l-jdk">Java JDK&larr;</a>.
                        </div>
                  </div>

                  <h3>Criando Atalho</h3>
                  <p>Crie um lançador na Área de Trabalho do <b>Aluno</b> e altere seu conteúdo para:</p>
                  <pre><code>
[Desktop Entry]
Name=brModelo
Exec=java -jar "/home/portable/brmodelo/brModelo.jar"
Comment=Start brModelo
Terminal=false
PrefersNonDefaultGPU=false
Icon=brmodelo
Type=Application
                  </code></pre>
                  <h3>Imagem do Atalho</h3>
                  <p>Copie a imagem/ícone para <code>~/.icons</code>. Exemplo: <b>brmodelo.png</b>.</p>

                  <h2 id="l-composer">Composer<span></span></h2>
                  <h3>Preparação</h3>
                  <pre><code>
sudo apt-get install curl php-cli php-mbstring git unzip
                  </code></pre>

                  <h3>Download</h3>
                  <pre><code>
sudo curl -sS https://getcomposer.org/installer -o composer-setup.php
                  </code></pre>

                  <h3>Verificando instalador</h3>
                  <pre><code>
sudo php composer-setup.php --check
                  </code></pre>

                  <h3>Instalação</h3>
                  <pre><code>
sudo php composer-setup.php --install-dir=/usr/local/bin --filename=composer
                  </code></pre>

                  <h3>Configuração de Proxy</h3>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Utiliza o proxy definido para o SO. Configuração realizada em <a
                                    href="/linux/final/#l-proxy">Settings Final&larr;</a>.
                        </div>
                  </div>

                  <h2 id="l-firefox">Firefox<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="https://www.mozilla.org/pt-BR/firefox/all/">Firefox&rarr;</a>.
                  </p>

                  <h3>Configurando preferências</h3>
                  <p>
                        <b>Altere</b> o arquivo <code>policies.json</code> em <code>/usr/lib/firefox/distribution</code>
                        com o seguinte conteúdo:
                  </p>
                  <pre><code>
{
      "policies": {
            "AppAutoUpdate": false,
            "BackgroundAppUpdate": false,
            "DisableAppUpdate": true,
            "DisableDefaultBrowserAgent": true,
            "DontCheckDefaultBrowser": true
      }
}
                  </code></pre>
                  <p>
                        Referência:
                        <a href="https://support.mozilla.org/pt-BR/kb/personalizando-o-firefox-usando-policies">Como
                              personalizar o
                              Firefox usando policies.json&rarr;</a>
                        e
                        <a href="https://mozilla.github.io/policy-templates/">policy-templates&rarr;</a>.
                  </p>

                  <h2 id="l-git">Git<span></span></h2>
                  <pre><code>sudo apt-get install git</code></pre>
                  <h3>Configuração de Proxy</h3>
                  <p>
                        Execute os comandos no <code>terminal</code> como
                        <b>Usuário Padrão</b>:
                  </p>
                  <pre><code>
git config --global http.proxy http://192.168.0.6:3128 && git config --global http.https://domain.com.sslVerify false
                  </code></pre>

                  <h2 id="l-chrome">Google Chrome<span></span></h2>
                  <p>Faça o download do <a href="https://www.google.com/chrome/?platform=linux">Google Chrome&rarr;</a>.
                  </p>
                  <h3>Instalação</h3>
                  <pre><code>
sudo dpkg -i "pacote.deb"
                  </code></pre>
                  <h3>Remover pedido de senha</h3>
                  <p>Para remover o pedido de senha ao acessar o navegador.</p>
                  <ol>
                        <li class="mb-2">Acesse <b>Senhas e Chaves</b>;</li>
                        <li class="mb-2">Em <b>Login</b> clique com o lado direito e <b>Alterar senha</b>;</li>
                        <li class="mb-2">Informe a senha atual e defina uma nova (em branco).</li>
                  </ol>

                  <h2 id="l-greenfoot">Greenfoot<span></span></h2>
                  <p>Faça o download do <a href="https://www.greenfoot.org/download">Greenfoot&rarr;</a>.
                  </p>

                  <h3>Instalação</h3>
                  <pre><code>
sudo dpkg -i "pacote.deb"
                  </code></pre>

                  <h2 id="l-jdk">Java JDK 17<span></span></h2>
                  <h3>Preparação</h3>
                  <p>Removendo openjdk</p>
                  <pre><code>
sudo apt-get update -y && sudo apt-get remove openjdk* -y && sudo apt-get autoremove && sudo apt-get clean
                  </code></pre>

                  <p>Faça o download do <a
                              href="https://www.oracle.com/java/technologies/javase/jdk17-archive-downloads.html">Java
                              JDK 17&rarr;</a>.</p>
                  <p>Pasta de instalação:</p>
                  <pre><code>
sudo mkdir /usr/lib/jdk
                  </code></pre>
                  <p>Extração de arquivos:</p>
                  <pre><code>
sudo tar zxvf jdk-17.0.12_linux-x64_bin.tar.gz -C /usr/lib/jdk
                  </code></pre>
                  <p>Criação de link simbólico:</p>
                  <pre><code>
sudo ln -s /usr/lib/jdk/jdk-17.0.12 /usr/lib/jdk/java-oracle
                  </code></pre>

                  <h3>Variáveis de Ambiente</h3>
                  <p>Crie o arquivo <code>jdk_var.sh</code> em <code>/etc/profile.d</code> e adicione:</p>
                  <pre><code>
JAVA_HOME=/usr/lib/jdk/java-oracle
export PATH=$PATH:$JAVA_HOME/bin
                  </code></pre>
                  <p>Permissão para execução:</p>
                  <pre><code>
sudo chmod +x /etc/profile.d/jdk_var.sh
                  </code></pre>

                  <h2 id="l-netbeans">Netbeans 14<span></span></h2>
                  <p>Faça o download do <a href="https://netbeans.apache.org/front/main/download/nb14/">Netbeans
                              14&rarr;</a>.</p>
                  <p>Instale o <code>Apache-NetBeans-14.sh</code> com o perfil do Aluno.
                  </p>
                  <h3>Proxy para o Maven</h3>
                  <p>
                        <b>Altere</b> o arquivo <code>settings.xml</code> na seção de
                        <b>proxies</b> localizado em
                        <code>~/netbeans-14/netbeans/java/maven/conf</code>
                        com o seguinte conteúdo:
                  </p>
                  <pre><code>
&lt;id>proxyifpr&lt;/id&gt;
&lt;active>true&lt;/active&gt;
&lt;protocol>http&lt;/protocol&gt;
&lt;host>192.168.0.6&lt;/host&gt;
&lt;port>3128&lt;/port&gt;
&lt;username>&lt;/username&gt;
&lt;password>&lt;/password&gt;
&lt;nonProxyHosts>localhost&lt;/nonProxyHosts&gt;
                  </code></pre>
                  <p>
                        Referência:
                        <a href="https://maven.apache.org/settings.html#Proxies">Proxies&rarr;</a>.
                  </p>

                  <h3>Movendo a instalação</h3>
                  <p>Movendo a instalação atual <code>/home/aluno/netbeans-14</code> para <code>/home/portable</code>
                  </p>
                  <pre><code>
sudo mv /home/aluno/netbeans-14/ /home/portable/
                  </code></pre>
                  <h3>Link simbólico</h3>
                  <p>Criando link no diretório anterior:</p>
                  <pre><code>
sudo ln -s /home/portable/netbeans-14/ /home/aluno/netbeans-14
                  </code></pre>

                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Configuração útil para otimizar a performace do <a href="/linux/final/#l-restore">Restore
                                    User&larr;</a>. Neste caso, é como se o NetBeans nunca tivesse sido movido.
                        </div>
                  </div>

                  <h2 id="l-nodejs">Node.js<span></span></h2>
                  <pre><code>
# Download and install nvm:
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash

# in lieu of restarting the shell
\. "$HOME/.nvm/nvm.sh"

# Download and install Node.js:
nvm install 22

# Verify the Node.js version:
node -v # Should print "v22.15.0".
nvm current # Should print "v22.15.0".

# Verify npm version:
npm -v # Should print "10.9.2".
                  </code></pre>
                  <p>Referência: <a href="https://nodejs.org/en/download">Download Node.js&rarr;</a></p>

                  <h3>Configuração de proxy</h3>
                  <p>
                        Execute os comandos no <code>terminal</code> como
                        <b>Usuário Padrão</b>:
                  </p>
                  <pre><code>
npm config set proxy http://192.168.0.6:3128 && npm config set https-proxy http://192.168.0.6:3128
                  </code></pre>

                  <h2 id="l-ssh">Open SSH Server<span></span></h2>
                  <pre><code>
sudo apt-get install openssh-server
                  </code></pre>

                  <h2 id="l-portugol">Portugol Stúdio<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="https://univali-lite.github.io/Portugol-Studio/">Portugol Stúdio&rarr;</a>.
                  </p>
                  <h3>Instalação</h3>
                  <p>Conforme instruções do arquivo de instalação:</p>
                  <pre><code>
# Permissão de execução
chmod 755 portugol-studio-2.7.5-x64.run

# Instalação
sudo ./portugol-studio-2.7.5-x64.run
                  </code></pre>

                  <h2 id="l-python">Python<span></span></h2>
                  <pre><code>
sudo apt-get install python3.12
                  </code></pre>

                  <h2 id="l-samba">Samba<span></span></h2>
                  <pre><code>
sudo apt-get install samba
                  </code></pre>

                  <h2 id="l-scratch">Scratch<span></span></h2>
                  <pre><code>
sudo apt-get install scratch
                  </code></pre>

                  <h2 id="l-restricted">Ubuntu Restricted Extras<span></span></h2>
                  <pre><code>
sudo apt-get install ubuntu-restricted-extras
                  </code></pre>

                  <h2 id="l-veyon">Veyon<span></span></h2>
                  <h3>Preparação</h3>
                  <pre><code>
sudo apt-get install g++ libc6-dev make cmake qtbase5-dev qtbase5-private-dev \
qtbase5-dev-tools qttools5-dev qttools5-dev-tools \
qtdeclarative5-dev qtquickcontrols2-5-dev libfakekey-dev \
xorg-dev libxtst-dev libjpeg-dev zlib1g-dev libssl-dev libpam0g-dev \
liblzo2-dev libqca-qt5-2-dev libldap2-dev \
libsasl2-dev ninja-build
                  </code></pre>

                  <h3>Instalação</h3>
                  <pre><code>
sudo add-apt-repository ppa:veyon/stable -y && sudo apt-get update -y && sudo apt-get install veyon -y
                  </code></pre>

                  <h3>Configuração</h3>
                  <ol>
                        <li class="mb-2">Importar configurações;</li>
                        <li class="mb-2">Importar chave pública.</li>
                  </ol>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>
                              Configure o <b>Veyon Master</b> no computador do professor, com os devidos ajustes para
                              acessar as
                              máquinas clientes.
                        </div>
                  </div>
                  <p>Referência: <a href="https://github.com/veyon/veyon">Veyon&rarr;</a></p>

                  <h2 id="l-vim">Vim<span></span></h2>
                  <pre><code>
sudo apt-get install vim -y
                  </code></pre>

                  <h2 id="l-vscode">Visual Studio Code<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="https://code.visualstudio.com/Download">Visual Studio Code&rarr;</a>.
                  </p>

                  <h3>Instalação</h3>
                  <pre><code>
sudo dpkg -i "pacote.deb"
                  </code></pre>

                  <h3>Plugins</h3>
                  <p>Instale os seguintes plugins:</p>
                  <ol>
                        <li class="mb-2"><code>Portuguese Brazil Language</code></li>
                        <li class="mb-2"><code>Python</code></li>
                        <li class="mb-2"><code>IntelliCode</code></li>
                        <li class="mb-2"><code>Indent-rainbow</code></li>
                        <li class="mb-2"><code>Material Icon Theme</code></li>
                        <li class="mb-2"><code>Preview</code></li>
                        <li class="mb-2"><code>Code Runner</code></li>
                        <li class="mb-2"><code>Trailing Spaces</code></li>
                        <li class="mb-2"><code>Night Owl</code></li>
                  </ol>

                  <h3>Movendo os Plugins</h3>
                  <p>Movendo os plugins de <code>/home/aluno/.vscode</code> para <code>/home/portable</code>
                  </p>
                  <pre><code>
sudo mv /home/aluno/.vscode/ /home/portable/
                  </code></pre>
                  <h3>Link simbólico</h3>
                  <p>Criando link no diretório anterior:</p>
                  <pre><code>
sudo ln -s /home/portable/.vscode/ /home/aluno/.vscode
                  </code></pre>

                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Configuração útil para otimizar a performace do <a href="/linux/final/#l-restore">Restore
                                    User&larr;</a>. Neste caso, é como se os plugins nunca tivessem sido movidos
                        </div>
                  </div>

                  <h2 id="l-visual">VisuAlg<span></span></h2>
                  <p>
                        Faça o download do
                        <a href="https://sourceforge.net/projects/visualg30/">VisuAlg&rarr;</a>
                        e extraia para <code>/home/portable/visualg3.0.7</code>.
                  </p>
                  <h3>Dependências</h3>
                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Roda com o <a href="/linux/softwares/#l-wine">Wine&larr;</a>.
                        </div>
                  </div>

                  <h3>Criando Atalho</h3>
                  <p>Crie um lançador na Área de Trabalho do <b>Aluno</b> e altere seu conteúdo para:</p>
                  <pre><code>
[Desktop Entry]
Name=visualg30
Exec=wine "/home/portable/visualg3.0.7/visualg30.exe"
Comment=Start VisuAlg
Terminal=false
PrefersNonDefaultGPU=false
Icon=visualg
Type=Application
                  </code></pre>
                  <h3>Imagem do Atalho</h3>
                  <p>Copie a imagem/ícone para <code>~/.icons</code>. Exemplo: <b>visualg.png</b>.</p>

                  <h2 id="l-vlc">VLC Media Player<span></span></h2>
                  <pre><code>
sudo apt-get install vlc -y
                  </code></pre>

                  <h2 id="l-wine">Wine<span></span></h2>
                  <h3>Preparação</h3>
                  <pre><code>
sudo dpkg --add-architecture i386
                  </code></pre>

                  <h3>Repositório</h3>
                  <p>Baixe e adicione a chave do repositório:</p>
                  <pre><code>
sudo mkdir -pm755 /etc/apt/keyrings
wget -O - https://dl.winehq.org/wine-builds/winehq.key | sudo gpg --dearmor -o /etc/apt/keyrings/winehq-archive.key -
                  </code></pre>
                  <p>Adicione o repositório:</p>
                  <pre><code>
sudo wget -NP /etc/apt/sources.list.d/ https://dl.winehq.org/wine-builds/ubuntu/dists/noble/winehq-noble.sources
                  </code></pre>

                  <h3>Instalação</h3>
                  <pre><code>
sudo apt update -y && sudo apt install --install-recommends winehq-stable -y
                  </code></pre>

                  <p>Referência: <a href="https://gitlab.winehq.org/wine/wine/-/wikis/Debian-Ubuntu">Wiki
                              Wine&rarr;</a>.</p>

                  <h3>Movendo a instalação</h3>
                  <p>Movendo a instalação atual <code>/home/aluno/.wine</code> para <code>/home/portable</code>
                  </p>
                  <pre><code>
sudo mv /home/aluno/.wine/ /home/portable/
                  </code></pre>
                  <h3>Link simbólico</h3>
                  <p>Criando link no diretório anterior:</p>
                  <pre><code>
sudo ln -s /home/portable/.wine/ /home/aluno/.wine
                  </code></pre>

                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Configuração útil para otimizar a performace do <a href="/linux/final/#l-restore">Restore
                                    User&larr;</a>. Neste caso, é como se o Wine nunca tivesse sido movido.
                        </div>
                  </div>

                  <h2 id="l-lampp">LAMPP<span></span></h2>
                  <pre><code>
sudo apt-get install apache2 -y && sudo apt-get install mysql-server -y && sudo apt install php libapache2-mod-php php-mysql -y
                  </code></pre>

                  <h3>Definindo uma senha</h3>
                  <p>Acesse o MySQL:</p>
                  <pre><code>sudo mysql -u root</code></pre>
                  <p>No MySQL:</p>
                  <pre><code>
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'mypassword';
flush privileges;
exit
                  </code></pre>

                  <h3>Instalando PhpMyAdmin</h3>
                  <pre><code>
sudo apt-get install phpmyadmin -y
                  </code></pre>

                  <h3>Habilitando escrita de url</h3>
                  <pre><code>
sudo a2enmod rewrite
                  </code></pre>

                  <h3>Permissão ao html</h3>
                  <pre><code>
sudo chmod -R 777 /var/www/html
                  </code></pre>

                  <div class="alert alert-info d-flex align-items-center">
                        <span class="bi flex-shrink-0"></span>
                        <div>Não use essa permissão em produção.
                        </div>
                  </div>

                  <div class="container">
                        <div class="row">
                              <div class="col text-start">
                                    <a href="/linux/profile/">&larr;Settings Profile</a>
                              </div>
                              <div class="col text-end">
                                    <a href="/linux/final/">Settings Final&rarr;</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}
