---
title: "Settings Softwares"
permalink: /linux/softwares
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
      <div class="row">
            <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
                  <div class="sidebar">{% include linux-softwares.html %}</div>
            </aside>

            <main class="col-12 col-lg-8 mb-5">
                  <h1>{{ page.title }}</h1>
                  <p class="lead">
                        Instalação e configuração de softwares.
                  </p>

                  <h2 id="l-zip">7-zip</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo apt-get install 7zip 7zip-rar
                  </code></pre>

                  <h2 id="l-firefox">Firefox</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub org.mozilla.firefox
                  </code></pre>

                  <h3>Configurando políticas</h3>

                  <pre><code>
# get flatpak architecture
FLATPAK_ARCH=$(flatpak --default-arch)

# create the user-specific flatpak policies directory
mkdir -p "$HOME/.local/share/flatpak/extension/org.mozilla.firefox.systemconfig/$FLATPAK_ARCH/stable/policies"

# set json file
cp /home/padawan/Downloads/policies.json "$HOME/.local/share/flatpak/extension/org.mozilla.firefox.systemconfig/$FLATPAK_ARCH/stable/policies"
                  </code></pre>

                  <p>Conteúdo de <code>policies.json</code>
                  <pre><code>
{
   "policies": {
    "ExtensionSettings": {
      "*": {
        "blocked_install_message": "Instalação bloqueada por políticas de segurança.",
        "installation_mode": "blocked"
      }
    },
    "AppAutoUpdate": false,
    "BackgroundAppUpdate": false,
    "DisableAppUpdate": false,
    "DisableDefaultBrowserAgent": true,
    "DontCheckDefaultBrowser": true,
    "SanitizeOnShutdown": true,
    "BlockAboutAddons": true
  }
}
                  </code></pre>
                  <p>
                        Referência:
                        <a href="https://support.mozilla.org/pt-BR/kb/personalizando-o-firefox-usando-policies">Como
                              personalizar o
                              Firefox usando policies.json</a>
                        e
                        <a href="https://mozilla.github.io/policy-templates/">policy-templates</a>.
                  </p>

                  <h2 id="l-chrome">Google Chrome</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub com.google.Chrome
                  </code></pre>
                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                              Desative a aceleração de hardware.
                        </div>
                  </div>


                  <h2 id="l-edge">Microsoft Edge</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub com.microsoft.Edge
                  </code></pre>
                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                              Desative a aceleração de hardware.
                        </div>
                  </div>

                  <h2 id="l-libre">Libre Office</h2>
                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                              Substitua pelo <b>OnlyOffice</b>.
                        </div>
                  </div>
                  <h3>Remoção</h3>
                  <pre><code>
sudo apt-get remove libreoffice* --purge
                  </code></pre>

                  <h2 id="l-onlyoffice">OnlyOffice</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub org.onlyoffice.desktopeditors
                  </code></pre>

                  <h2 id="l-ssh">Open SSH Server</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo apt-get install openssh-server
                  </code></pre>

                  <h2 id="l-samba">Samba Client</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo apt-get install smbclient
                  </code></pre>

                  <h2 id="l-restricted">Ubuntu Restricted Extras</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo apt-get install ubuntu-restricted-extras
                  </code></pre>

                  <h2 id="l-veyon">Veyon</h2>
                  <h3>Dependências</h3>
                  <pre><code>
sudo apt-get install g++ libc6-dev make cmake qtbase5-dev qtbase5-private-dev \
            qtbase5-dev-tools qttools5-dev qttools5-dev-tools \
            xorg-dev libxtst-dev libfakekey-dev libjpeg-dev zlib1g-dev libssl-dev libpam0g-dev \
            liblzo2-dev libqca-qt5-2-dev libldap2-dev \
            libsasl2-dev
                  </code></pre>

                  <h3>Instalação</h3>
                  <pre><code>
sudo add-apt-repository ppa:veyon/stable -y && sudo apt-get update -y && sudo apt-get install veyon -y
                  </code></pre>

                  <h3>Configuração</h3>
                  <ol>
                        <li class="mb-2">Importar configurações;</li>
                        <li class="mb-2">Importar chave pública.</li>
                  </ol>
                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                              Configure o <b>Veyon Master</b> no computador do professor.
                        </div>
                  </div>
                  <p>Referência: <a href="https://github.com/veyon/veyon">Veyon</a></p>

                  <h2 id="l-vim">Vim</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo apt-get install vim -y
                  </code></pre>

                  <h2 id="l-vscode">Visual Studio Code</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub com.visualstudio.code
                  </code></pre>
                  <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                              <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                              Desative a aceleração de hardware: <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>p</kbd>
                              &rarr;
                              Configure Runtime Arguments &rarr;
                              altere/adicione <code>"disable-hardware-acceleration": true</code>.
                        </div>
                  </div>

                  <h2 id="l-vlc">VLC Media Player</h2>
                  <h3>Instalação</h3>
                  <pre><code>
sudo flatpak install flathub org.videolan.VLC
                  </code></pre>

                  <h2 id="l-wine">Wine</h2>
                  <div>
                        <h3>Instalação</h3>
                        <pre><code>
# Download and add the repository key
sudo mkdir -pm755 /etc/apt/keyrings
wget -O - https://dl.winehq.org/wine-builds/winehq.key | sudo gpg --dearmor -o /etc/apt/keyrings/winehq-archive.key -

# Noble
sudo dpkg --add-architecture i386
sudo wget -NP /etc/apt/sources.list.d/ https://dl.winehq.org/wine-builds/ubuntu/dists/noble/winehq-noble.sources

# Update
sudo apt update -y

#Install
sudo apt install --install-recommends winehq-stable

# Reboot
reboot
                        </code></pre>
                        <div class="alert alert-info d-flex align-items-center" role="alert">
                              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                                    <use xlink:href="#info-fill" />
                              </svg>
                              <div>
                                    Configuração específica para o Zorin OS 18.1.
                              </div>
                        </div>
                        <p>Mais informações: <a href="https://gitlab.winehq.org/wine/wine/-/wikis/Debian-Ubuntu">Wine
                                    Wiki</a>.
                        </p>
                  </div>

                  <h2 id="l-astah">Astah Community</h2>
                  <div>
                        <p>
                              Faça o download do
                              <a
                                    href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">Astah
                                    Community</a>. Última versão disponibilizada pela desenvolvedora.
                        </p>
                        <div class="alert alert-info d-flex align-items-center" role="alert">
                              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                                    <use xlink:href="#info-fill" />
                              </svg>
                              <div>
                                    Esse programa depende do Wine.
                              </div>
                        </div>
                        <h3>Tipo de dado</h3>
                        <p>Defina o tipo de dado para <code>char</code>:</p>
                        <p>
                              <img class="img-fluid rounded-2"
                                    src="{{ site.baseurl }}/assets/images/pages/astah-type.png"
                                    alt="Definindo tipo de dado padrão" />
                        </p>

                        <h3>Desativando atualização e envio de dados</h3>
                        <p>
                              <img class="img-fluid rounded-2"
                                    src="{{ site.baseurl }}/assets/images/pages/astah-data-and-update.png"
                                    alt="Desativar verificação de atualização" />
                        </p>
                  </div>

                  <div class="container mt-5">
                        <div class="row">
                              <div class="col text-start">
                                    Voltar para <a href="/linux/profile/">Settings Profile</a>
                              </div>
                              <div class="col text-end">
                                    Ir para <a href="/linux/final/">Settings Final</a>
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</div>

{% include footer.html %}