---
title: "My Fedora"
permalink: /fedora/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-4 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-fedora.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Configuração do meu Fedora Linux 42 (Workstation Edition).
      </p>

      <h2 id="m-gerenciador">Gerenciador de Extensões</h2>
      <h3>Instalação</h3>
      <pre><code>
sudo flatpak install flathub com.mattjakeman.ExtensionManager
      </code></pre>

      <h2 id="m-tweaks">Ajustes do Gnome</h2>
      <h3>Instalação</h3>
      <pre><code>
sudo dnf install gnome-tweaks
      </code></pre>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Instale as extensões através do Gerenciador de Extensões.
        </div>
      </div>

      <h2 id="m-indicator">AppIndicator and KStatusNotifierItem Support</h2>
      <p>Exibe ícones indicadores no painel (uso para o Dropbox). Não é necessário nenhuma configuração, mas é possível
        mudar o local de
        exibição por exemplo, que por padrão é a direita.</p>
      <p>Mais detalhes: <a href="https://extensions.gnome.org/extension/615/appindicator-support/">AppIndicator and
          KStatusNotifierItem Support</a>.</p>

      <h2 id="m-blur">Blur my Shell</h2>
      <p>Adiciona uma aparência desfocada a diferentes partes do GNOME Shell, incluindo o painel superior, o painel e a
        visão geral.</p>

      <h2 id="m-lamp">Compiz alike magic lamp effect</h2>
      <p>Adiciona efeito de lâmpada mágica às janelas.</p>

      <h2 id="m-windows">Compiz windows effect</h2>
      <p>Adiciona efeito de janelas instáveis.</p>

      <h2 id="m-dash">Dash to Dock</h2>
      <p>Um dock para o Gnome Shell.</p>

      <h2 id="m-light">Search Light</h2>
      <p>Abre a pesquisa de aplicativos da visão geral.</p>

      <h2 id="m-tiling">Tiling Shell</h2>
      <p>Adiciona o gerenciamento avançado de janelas.</p>

      <h2 id="m-icon">Ícones</h2>
      <p>Kora é um tema de ícones SVG para sistemas operacionais GNU/Linux.
      </p>

      <h2 id="m-wallpapers">Wallpapers</h2>
      <p>Papéis de parede.</p>

      <h2 id="m-git">Git</h2>
      <h3>Instalação</h3>
      <pre><code>
sudo dnf install git
      </code></pre>

      <h2 id="m-kvm">Gerenciador de máquinas virtuais</h2>
      <p>Há um ótimo material no site <a href="https://sysguides.com/install-kvm-on-linux">SysGuides</a> para instalação
        e configuração.</p>

      <h2 id="m-docker">Docker</h2>
      <p>Siga o guia do <a href="https://docs.docker.com/desktop/setup/install/linux/fedora/">Docker Docs</a> que é
        sucesso.</p>

      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Utiliza o <b>AppIndicator and
            KStatusNotifierItem Support</b> para exibir as notificações.
        </div>
      </div>

      <h2 id="m-vscode">Visual Studio Code</h2>
      <p>Façao download do <a href="https://code.visualstudio.com/Download">Visual Studio Code</a>.</p>
      <h3>Instalação</h3>
      <pre><code>
sudo dnf install "code-1.101.1-1750254783.el8.x86_64.rpm"
      </code></pre>

      <h2 id="m-iso">PowerIso</h2>
      <h3>Instalação</h3>
      <pre><code>
sudo flatpak install flathub com.poweriso.PowerISO
      </code></pre>

      <h2 id="m-dropbox">Dropbox</h2>
      <p>Faça o download do <a href="https://www.dropbox.com/install-linux">Dropbox</a>.</p>
      <h3>Instalação</h3>
      <pre><code>
sudo dnf install "nautilus-dropbox-2025.05.20-1.fc42.x86_64.rpm"
      </code></pre>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Utiliza o <b>AppIndicator and
            KStatusNotifierItem Support</b> para exibir as notificações.
        </div>
      </div>

      <h2 id="m-torrent">qBittorrent</h2>
      <h3>Instalação</h3>
      <pre><code>
sudo flatpak install flathub org.qbittorrent.qBittorrent
      </code></pre>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Utiliza o <b>AppIndicator and
            KStatusNotifierItem Support</b> para exibir as notificações.
        </div>
      </div>

      <h2 id="m-keys">Atalhos personalizados</h2>
      <ol>
        <li class="mb-2">Em <b>Configurações</b> &rarr; Teclado &rarr; Atalhos de teclado &rarr; Veja e
          personalize atalhos
          &rarr; Atalhos personalizados</li>
        <ol>
          <li class="mb-2"><kbd>Ctrl + Alt + T</kbd> &rarr; <code>ptyxis</code> &rarr; para abrir o Terminal</li>
          <li class="mb-2"><kbd>Ctrl + Alt + E</kbd> &rarr; <code>nautilus</code> &rarr; para abrir o Nautilus</li>
        </ol>
      </ol>

      <h2 id="m-webcam">Webcam</h2>
      <pre><code>
sudo dnf install v4l-utils
      </code></pre>
      <div class="alert alert-info d-flex align-items-center">
        <span class="bi flex-shrink-0"></span>
        <div>
          Isso funcionou muito bem para minha webcam usb.
        </div>
      </div>
      <p>Referência: <a
          href="https://knowledgebase.frame.work/en_us/fedora-webcam-troubleshooting-guide-rkScsKB0s">Fedora Webcam
          Troubleshooting Guide</a>
      </p>

      <h2 id="m-proton">Proton</h2>
      <p>Compatibilidade para games baseado no Wine e outros componentes. Consulte todos os detalhes no <a
          href="https://github.com/GloriousEggroll/proton-ge-custom">proton-ge-custom</a> no GitHub.
      </p>

      <h2 id="m-smb">Samba</h2>
      <p>No <a href="https://idroot.us/install-samba-fedora-42/">idroot</a> há um super material explicando cada detalhe
        de uma configuração.</p>

    </main>
  </div>
</div>

{% include footer.html %}