---
title:  "Login no AD - Wiki"
permalink: /windows/loginad/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3">
            <div class="sidebar">
        
                {% include nav-windows.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-6 mb-5">

                <h1>Login no Active Directory</h1>

                <p class="lead">
                    Orientações para login no Active Directory e demais detalhes das regras aplicadas ao computador que foi ingressado ao domínio.
                </p>

                <!-- Start Login AD -->

                <h2 id="nome">Nome e Grupo</h2>
                <p>Imgresse o computador ao domínio conforme informações abaixo:</p>
                <table class="table table-striped table-hover border">
                    <thead>
                        <tr>
                            <th>LAB</th>
                            <th>Nome</th>
                            <th>Domínio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LAB01</td>
                            <td>lab1m01</td>
                            <td>ensino.umuarama.local</td>
                        </tr>
                        <tr>
                            <td>LAB02</td>
                            <td>lab2m01</td>
                            <td>ensino.umuarama.local</td>
                        </tr>
                        <tr>
                            <td>LAB03</td>
                            <td>lab3m01</td>
                            <td>ensino.umuarama.local</td>
                        </tr>
                        <tr>
                            <td>LAB04</td>
                            <td>lab4m01</td>
                            <td>ensino.umuarama.local</td>
                        </tr>
                        <tr>
                            <td>LAB05</td>
                            <td>lab5m01</td>
                            <td>ensino.umuarama.local</td>
                        </tr>
                    </tbody>
                </table>         

                <h2 id="estudante">Usuário Aluno</h2>        
                <pre><code>Usuário: aluno
Senha: aluno123
</code></pre>

                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Usuário e senha definida pelo Active Directory.</div>
                </div>                

                <h2 id="wallpaper">Papel de Parede</h2>
                <p>Baixe o <a href="https://drive.google.com/drive/folders/1ep3ja3fJ-dgS9F0AtRa3LGv8XdVNDQXV?usp=sharing">papel de parede&#8599;</a>.</p>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Configuração definida para o perfil do aluno pelo Active Directory.</div>
                </div>

                <h3>Via script</h3>
                <pre><code>@echo off
    reg add "HKCU\control panel\desktop" /v wallpaper /t REG_SZ /d "" /f
    reg add "HKCU\control panel\desktop" /v wallpaper /t REG_SZ /d "C:\Users\USERNAME\Pictures\background.png" /f
    reg delete "HKCU\Software\Microsoft\Internet Explorer\Desktop\General" /v WallpaperStyle /f
    reg add "HKCU\control panel\desktop" /v WallpaperStyle /t REG_SZ /d 2 /f
    RUNDLL32.EXE user32.dll,UpdatePerUserSystemParameters
exit
</code></pre>

                <h2 id="proxy">Configuração de proxy</h2>
                <pre><code>192.168.0.6:3128</code></pre>

                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/proxy.png" alt="Proxy"></p>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Configuração definida pelo Active Directory.</div>
                </div>
                
                <h2 id="gerenciador">Gerenciador de Tarefas</h2>
                <p>Desative pelo <code>gpedit.msc</code> quando a regra for local. Necessário conta de Administrador.</p>
                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Configuração definida pelo Active Directory.</div>
                </div>
                
                <h2 id="senhas">Senhas</h2>
                <p>Coloque a lista de senhas na área de trabalho do aluno, caso alguma aplicação necessite e tenha sido configurado.</p>

                <h2 id="servicos">Serviços</h2>

                <table class="table table-striped table-hover border">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Configuração</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Windows Defender ou Windows Defender Firewall</td>
                            <td>Automático via GPO</td>
                        </tr>
                        <tr>
                            <td>Windows Update</td>
                            <td>Desativado via GPO</td>
                        </tr>
                        <tr>
                            <td>Backup do Windows</td>
                            <td>Desativado via GPO</td>
                        </tr>
                        <tr>
                            <td>Notícias e Interesses</td>
                            <td>Desativado via GPO</td>
                        </tr>
                        <tr>
                            <td>Desfragmentador ou Otimizador de Discos/Unidades</td>
                            <td>Manual via GPO</td>
                        </tr>
                        <tr>
                            <td>SuperFetch ou SysMain</td>
                            <td>Desativado via GPO</td>
                        </tr>
                        <tr>
                            <td>Windows Search</td>
                            <td>Desativado via GPO</td>
                        </tr>
                        <tr>
                            <td>OCS Iventory</td>
                            <td>Defina como = Atraso na inicialização</td>
                        </tr>
                        <tr>
                            <td>Flexnet Licensing Service</td>
                            <td>Defina como = Atraso na inicialização</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <div>Configurações definidas pelo Active Directory.</div>
                </div>

                <h3>Gerenciando serviços de forma automatizada</h3>
                <p>Os comandos devem ser executados no <code>prompt</code> como Administrador:</p>
                <pre><code>wuauserv => servico a ser desativado
sc config "wuauserv" start= disabled
</code></pre>      
                <!-- End Start Login AD -->
        </main>

        <div class="col-lg-3 d-md-none d-lg-block">
            <div class="on-page">
             <div class="mb-1 pb-2 border-bottom">
                 <strong class="h5">Na página</strong>
             </div>
             <ul class="list-unstyled sidebar-ul">
                {% include links-loginad.html %}
             </ul>
            </div>
         </div>

    </div>

</div>

{% include footer.html %}