---
title:  "Ajustes finais - Wiki"
permalink: /windows/endconfig/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-3 z-3">
            <div class="sidebar">
        
                {% include nav-windows.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-6 mb-5">
                <h1>Ajuste final</h1>

                <p class="lead">
                    Ajustes de otimização para que seja possível tornar o SO mais performático na inicialização. Também temos orientações para tornar programas como o VLC Media Player padrão do Windows.
                </p>

                <!-- Start Configuração final -->
                
                <h2 id="recursos">Aplicativos e recursos</h2>

                <h3>Aplicativos padrão</h3>
                    <ol>
                        <li>Definir aplicativo padrão</b></li>
                    </ol>

                <h3>Inicialização</h3>
                    <ol>
                        <li>Desativar inicializações <b>desnecessárias</b></li>
                    </ol>
                
                <h2 id="historico">Histórico de Navegação</h2>
                <p>Remover histórico do Edge, Chrome, Firefox e Internet Explorer.</p>

                <h2 id="startwin">Otimize a inicialização</h2>
                <p><img class="img-fluid border rounded-1" src="{{ site.baseurl }}/assets/images/pages/msconfig.png" alt="msconfig"></p>
                <p>Tecle <kbd>Windows + R</kbd> e digite <code>msconfig</code> como Administrador.</p>

                <h2 id="tarefas">Agendador de Tarefas</h2>
                <p>Desative as tarefas encontradas em:</p>
                <ul>
                    <li>Tarefas da <b>Biblioteca do Agendador</b> <span class="wiki-arrow">&rarr;</span> <b>Desativar tudo</b></li>
                    <li>Tarefas de <b>Microsoft</b> <span class="wiki-arrow">&rarr;</span> <b>Windows</b> <span class="wiki-arrow">&rarr;</span> <b>AppListBackup</b> <span class="wiki-arrow">&rarr;</span> <b>Desativar Tudo</b></li>
                </ul>

                <!-- End Configuração final -->
        
        </main>

        <div class="col-lg-3 d-lg-block">
            <div class="on-page">
             <div class="mb-1 pb-2 border-bottom">
                 <strong class="h5">Na página</strong>
             </div>
             <ul class="list-unstyled sidebar-ul">
                <li class="fw-bold">Ajustes finais</li>
                <ul class="sidebar-toggler list-unstyled">
                    <li><a href="/windows/endconfig/#recursos">Aplicativos e recursos</a></li>
                    <li><a href="/windows/endconfig/#historico">Histórico de navegação</a></li>
                    <li><a href="/windows/endconfig/#startwin">Otimize a inicialização</a></li>
                    <li><a href="/windows/endconfig/#tarefas">Agendador de Tarefas</a></li>
                </ul>
             </ul>
            </div>
         </div>

    </div>

</div>

{% include footer.html %}