---
title: "Setup Default"
permalink: /start/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include links-start.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>
      <p class="lead">
        Configuração padrão do Hardware.
      </p>

      <h2 id="configsetup">Config Setup<span></span></h2>
      <ul>
        <li class="mb-2">Habilitar Virtualização;</li>
        <li class="mb-2">Desativar Fast Boot;</li>
        <li class="mb-2">Desativar Secure Boot;</li>
        <li class="mb-2">Ativar Preboot Execution Environment (PXE);</li>
        <li class="mb-2">Configurar senha para o setup;</li>
        <li class="mb-2">Ativar Wake On LAN (WOL).</li>
      </ul>
      </ul>
      <h2 id="configso">Start Config SO</h2>
      <p>Começe com:</p>
      <ul>
        <li class="mb-2"><a href="/windows/">Config Windows</a>, ou</li>
        <li class="mb-2"><a href="/linux/">Config Linux</a>.</li>
      </ul>
    </main>
  </div>
</div>

{% include footer.html %}