---
title: "Helpers"
permalink: /windows/helpers/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-helpers.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Informações auxiliares para suporte.
      </p>

      <h2 id="psexec">PsExec</h2>
      <pre><code>
cmd /c psexec -u "USER" -p "PASS" -accepteula cmd /c "APP"
      </code></pre>

      <h2 id="copy">Copy</h2>
      <pre><code>
cmd /c copy /y "\\labXm41.local\datapublic\FILE" "c:\Softs"
      </code></pre>

      <h2 id="del">Del</h2>
      <pre><code>
cmd /c del /q "c:\Softs\APP"
      </code></pre>

      <h2 id="gpedit">Gpedit</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "gpedit.msc"
      </code></pre>

      <h2 id="sysdm">Sysdm</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "sysdm.cpl"
      </code></pre>

      <h2 id="compmgmt">Compmgmt</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "compmgmt.msc"
      </code></pre>

      <h2 id="ms-settings">Configurações do Windows</h2>
      <pre><code>
cmd /c start ms-settings:windowsupdate
cmd /c start ms-settings:activation
      </code></pre>

      <h2 id="lgpo">Lgpo</h2>
      <pre><code>
LGPO.exe command [...]

# Import settings from one or more GPO backups under "path"
LGPO.exe /g path

# Import settings from registry.pol into machine config
LGPO.exe /m path\registry.pol

# Import settings from registry.pol into user config
LGPO.exe /u path\registry.pol

# To create a GPO backup from local policy:
LGPO.exe /b path [/n GPO-name]
      </code></pre>


      <h2 id="wget">Wget</h2>
      <pre><code>
wget.exe [OPTION]... [URL]...

# Basic Example
"C:\Portable\wget\wget.exe" "https://download.sysinternals.com/files/PSTools.zip"

# Specific Directory
cd "C:\Users\aluno\desktop" && "C:\Portable\wget\wget.exe" "https://download.sysinternals.com/files/PSTools.zip"
      </code></pre>

      <p>Referências:</p>
      <ul>
        <li><a href="https://learn.microsoft.com/pt-br/sysinternals/downloads/psexec">psexec</a></li>
        <li><a href="https://learn.microsoft.com/pt-br/windows-server/administration/windows-commands/copy">copy</a>
        </li>
        <li><a href="https://learn.microsoft.com/pt-br/windows-server/administration/windows-commands/del">del</a></li>
        <li><a href="https://learn.microsoft.com/pt-br/sysinternals/downloads/psexec">gpedit.msc</a></li>
        <li><a href="https://learn.microsoft.com/pt-br/sysinternals/downloads/psexec">sysdm.cpl</a></li>
        <li><a href="https://learn.microsoft.com/pt-br/windows/apps/develop/launch/launch-settings">Configurações do
            Windows</a></li>
        <li><a
            href="https://techcommunity.microsoft.com/blog/microsoft-security-baselines/lgpo-exe---local-group-policy-object-utility-v1-0/701045">LGPO.exe
            - Local Group Policy Object Utility, v1.0</a>
        </li>
        <li><a href="https://www.gnu.org/software/wget/manual/wget.html">Wget 1.25.0</a></li>
      </ul>

      <div class="container">
        <div class="row">
          <div class="col text-start">
            Voltar para <a href="/windows/clone/">Settings Clone</a>
          </div>
          <div class="col text-end">
            Ir para <a href="/start/">Setup Default</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}