---
title: "Helpers"
permalink: /windows/helpers/
---

{% include header.html %}

<div class="container mt-5 pt-5">
  <div class="row">
    <aside class="sidebar-container col-lg-3 z-3" data-js="sidebar-container">
      <div class="sidebar">{% include windows-helpers.html %}</div>
    </aside>

    <main class="col-12 col-lg-8 mb-5">
      <h1>{{ page.title }}</h1>

      <p class="lead">
        Informações auxiliares para suporte.
      </p>

      <h2 id="copy">Copy</h2>
      <pre><code>
cmd /c copy /y "FILE" "C:\Softs"
      </code></pre>

      <h2 id="psexec">PsExec</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula "C:\Softs\FILE"
      </code></pre>

      <h2 id="del">Del</h2>
      <pre><code>
cmd /c del /q "C:\Softs\FILE"
      </code></pre>

      <h2 id="gpedit">Gpedit</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "gpedit.msc"
      </code></pre>

      <h2 id="sysdm">Sysdm</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "sysdm.cpl"
      </code></pre>

      <h2 id="compmgmt">Compmgmt</h2>
      <pre><code>
cmd /c psexec -u USER -p PASS -accepteula cmd /c "compmgmt.msc"
      </code></pre>

      <h2 id="ms-settings">Configurações do Windows</h2>
      <pre><code>
cmd /c start ms-settings:windowsupdate
cmd /c start ms-settings:activation
      </code></pre>

      <h2 id="lgpo">Lgpo</h2>
      <pre><code>
LGPO.exe command [...]

# To create a GPO backup from local policy:
LGPO.exe /b path [/n GPO-name]

# Import settings from one or more GPO backups under "path"
LGPO.exe /g path
      </code></pre>

      <h2 id="wget">Wget</h2>
      <pre><code>
wget.exe [OPTION]... [URL]...

# Basic Example
"C:\Portable\wget\wget.exe" "https://download.sysinternals.com/files/PSTools.zip"

# Specific Directory
cd "C:\Users\%USERPROFILE%\desktop" && "C:\Portable\wget\wget.exe" "https://download.sysinternals.com/files/PSTools.zip"
      </code></pre>

      <p>Referências:</p>
      <ul>
        <li><a href="https://learn.microsoft.com/pt-br/windows-server/administration/windows-commands/copy">copy</a>
        <li><a href="https://learn.microsoft.com/pt-br/sysinternals/downloads/psexec">psexec</a></li>
        </li>
        <li><a href="https://learn.microsoft.com/pt-br/windows-server/administration/windows-commands/del">del</a></li>
        <li><a
            href="https://learn.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn789185(v=ws.11)">gpedit.msc</a>
        </li>
        <li><a
            href=https://support.microsoft.com/pt-br/topic/como-executar-as-ferramentas-do-painel-de-controle-digitando-um-comando-bce95b4d-e8c2-1cd0-ee0d-027679d520a6>sysdm.cpl</a>
        </li>
        <li><a href=https://learn.microsoft.com/pt-br/answers/questions/3781948/comandos-no-executar>compmgmt.cpl</a>
        </li>
        <li><a href="https://learn.microsoft.com/pt-br/windows/apps/develop/launch/launch-settings">Configurações do
            Windows</a></li>
        <li><a
            href="https://techcommunity.microsoft.com/blog/microsoft-security-baselines/lgpo-exe---local-group-policy-object-utility-v1-0/701045">LGPO.exe
            - Local Group Policy Object Utility, v1.0</a>
        </li>
        <li><a href="https://www.gnu.org/software/wget/manual/wget.html">Wget 1.25.0</a></li>
      </ul>

      <div class="container mt-5">
        <div class="row">
          <div class="col text-start">
            Voltar para <a href="/windows/clone/">Settings Clone</a>
          </div>
          <div class="col text-end">
            Ir para <a href="/start/">Setup Default</a>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% include footer.html %}