---
title:  "Veyon - Wiki"
permalink: /veyon/
---

{% include header.html %}

<div class="container margin-top mt-5 pt-5">

    <div class="row">

        <aside class="sidebar-container col-lg-4 z-3">
            <div class="sidebar">
        
                {% include nav-veyon.html %}
          
            </div>
        </aside>

        <main class="col-12 col-lg-8 mb-5">

        <!--Conteudo Veyon-->
        <h1>Ferramentas de apoio</h1>
        <p class="lead">O veyon auxilia no controle de pcs pela rede. O Toolwiz Time Freeze ajuda a manter o Sistema Operacional sempre intacto.</p>

        <h2>Veyon</h2>
        <p class="lead">O <a href="https://veyon.io">Veyon&rarr;</a> permite que o professor monitore o laboratório, além de fornecer ferramentas para o auxíliar os alunos remotamente. Além disso, podemos executar scripts/bat nos computadores, o que o torna uma ótima ferramenta de apoio para TI.</p>
        
        <h2 id="executando">Executando comandos nos computadores</h2>
        <p>O comando abaixo abre o <code>prompt</code> no pc cliente:</p>
        <pre><code>cmd /k</code></pre>
        
        <p>Mais detalhes sobre <a href="https://ss64.com/nt/cmd.html">cmd /k &rarr;</a>.</p>
        
        <p>Um exemplo de execução de <code>.bat</code>:</p>
        <pre><code>cmd /k "C:\Users\aluno\Desktop\software\tools.bat"</code></pre>
         
        <p>Atualizando GPO:</p>
        <pre><code>cmd /k "gpupdate /force"</code></pre>
        <!--Fim conteudo Veyon-->

        <!--Toolwiz Time Freeze-->
        <h2>Toolwiz Time Freeze</h2>
        <p class="lead">É o software responsável por congelar o Sistema Operacional Windows a fim mantê-lo intacto.</p>
        <h3 id="desabilitar">Descongelando o SO</h3>
        <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /unfreeze /usepass=SENHA</code></pre>                 

        <h3 id="habilitando">Congelando o SO</h3>
        <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /freezealways /usepass=SENHA</code></pre>
        
        <h3 id="status">Checar o status</h3>
        <pre><code>cmd /k "C:\Program Files\Toolwiz Time Freeze 2017\ToolwizTimeFreeze.exe" /check /usepass=SENHA</code></pre>
        <!--Fim Toolwiz Time Freeze-->
        
        </main>
    </div>

</div>

{% include footer.html %}